<!-- 添加考试 -->
<template>
  <section class="add">
    <el-form ref="form" :model="form" label-width="80px">
      <el-form-item label="考试名称">
        <el-input v-model="form.examName"></el-input>
      </el-form-item>
      <el-form-item label="考试介绍">
        <el-input v-model="form.introduction"></el-input>
      </el-form-item>
      <el-form-item label="所属课程">
        <el-select v-model="form.course" placeholder="请选择所属课程">
          <el-option
          v-for="(item,index) in courses"
          v-if="item.state == 1"
          :label="item.courseName"
          :value="item.courseId"
          :key="index"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="考试日期">
         <el-date-picker
              v-model="form.examStart"
              type="datetime"
              placeholder="选择考试开始时间">
          </el-date-picker>
      </el-form-item>
      <el-form-item label="考试时长">
        <el-select v-model="form.examDuration" placeholder="请选择考试时长">
          <el-option
          v-for="(item,index) in times"
          :label="item.label"
          :value="item.value"
          :key="index"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="考试类型">
        <el-select v-model="form.type" placeholder="请选择考试类型">
          <el-option
          v-for="(item,index) in types"
          :label="item.label"
          :value="item.value"
          :key="index"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="考试试卷">
        <el-select v-model="form.paper" placeholder="请选择考试试卷">
          <el-option
          v-for="(item,index) in papers"
          v-if="item.state == 1"
          :label="item.paperName"
          :value="item.paperId"
          :key="index"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="考试班级">
        <el-checkbox-group v-model="form.clazzs">
          <el-checkbox
          v-for="(item,index) in clazzs"
          v-if="item.state == 1"
          :key="index"
          :label="item.clazzId">{{item.clazzName}}</el-checkbox>
        </el-checkbox-group>
        <el-pagination
          @size-change="clazzHandleSizeChange"
          @current-change="clazzHandleCurrentChange"
          :current-page="clazzPagination.current"
          :page-sizes="[4, 8, 10, 20]"
          :page-size="clazzPagination.size"
          layout="total, sizes, prev, pager, next, jumper"
          :total="clazzPagination.total" class="page">
        </el-pagination>
      </el-form-item>
      <el-form-item label="考生提示">
        <el-input type="textarea" v-model="form.tip"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="onSubmit()">立即创建</el-button>
        <el-button type="text" @click="cancel()">取消</el-button>
      </el-form-item>
    </el-form>
  </section>
</template>

<script>
export default {
  data() {
    return {
      clazzPagination: { //分页后的考试信息
        current: 1, //当前页
        total: null, //记录条数
        size: 4, //每页条数
        records: null
      },
      form: { //表单数据初始化
        examName: null,// 考试名称
        introduction: null,// 考试简介
        type: null,// 考试类型
        status: 0,// 考试状态
        tip: null,// 考生提示
        examStart: null,// 考试开始时间
        examDuration: null,// 考试时长
        paper: null,// 试卷
        clazzs: [],// 参加考试班级
        course: null,// 所属课程
      },
      clazzs: [],
      papers: [],
      courses: [],
      times: [ //考试时间
        {
          value: '30',
          label: '30分钟'
        },
        {
          value: '60',
          label: '60分钟'
        },
        {
          value: '90',
          label: '90分钟'
        },
        {
          value: '120',
          label: '120分钟'
        },
        {
          value: '180',
          label: '180分钟'
        },
      ],
      types: [ //考试时间
        {
          value: '0',
          label: '正式考试'
        },
        {
          value: '1',
          label: '模拟考试'
        },
        {
          value: '2',
          label: '练习'
        },
      ],
    };
  },
  created() {
    this.getClazzs()
    this.getPapers()
    this.getCourses()
  },
  methods: {
    formatTime(date) { //日期格式化
      let year = date.getFullYear()
      let month= date.getMonth()+ 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
      let day=date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
      let hours=date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
      let minutes=date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
      let seconds=date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();
      // 拼接
      return year+"-"+month+"-"+day+" "+hours+":"+minutes+":"+seconds;
    },
    onSubmit() {
      this.form.examStart = new Date(this.form.examStart).getTime()
        this.$axios({
          url: '/api/exam',
          method: 'post',
          data: {
            ...this.form
          }
        }).then(res => {
          if(res.data.code == 200) {
            this.$message({
              message: '数据添加成功',
              type: 'success'
            })
            this.$router.push({path: '/allExam'})
          }
        })
    },
    cancel() { //取消按钮
      console.log(this.form)
      this.form = {}
    },
    getClazzs() {
      //查询所有班级信息
      this.$axios(`/api/clazzs/${this.clazzPagination.current}/${this.clazzPagination.size}`).then(res => {
        this.clazzs = res.data.data.content
        this.clazzPagination.total = res.data.data.totalElements
      }).catch(error => {});
    },
    getCourses() {
      //查询所有班级信息
      this.$axios(`/api/courses`).then(res => {
        this.courses = res.data.data
      }).catch(error => {});
    },
    getPapers() {
      //查询所有班级信息
      this.$axios(`/api/papers`).then(res => {
        this.papers = res.data.data
        console.log(this.papers)
      }).catch(error => {});
    },
    //改变当前记录条数
    clazzHandleSizeChange(val) {
      this.clazzPagination.size = val
      this.getClazzs()
    },
    //改变当前页码，重新发送请求
    clazzHandleCurrentChange(val) {
      this.clazzPagination.current = val
      this.getClazzs()
    },
  }
};
</script>
<style lang="scss" scoped>
.add {
  padding: 0px 40px;
  width: 400px;
}
</style>
