<!-- 添加考试 -->
<template>
  <section class="add">
    <el-form ref="form" :model="form" label-width="80px">
      <el-form-item label="试卷名称">
        <el-input v-model="form.paperName"></el-input>
      </el-form-item>
      <el-form-item label="所属课程">
        <el-select v-model="form.course" placeholder="请选择所属课程" @change="changeQuestion()">
          <el-option
          v-for="(item,index) in courses"
          v-if="item.state == 1"
          :label="item.courseName"
          :value="item.courseId"
          :key="index"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="选择题">
        <el-checkbox-group v-model="form.multiQuestions">
          <el-checkbox
          v-for="(item,index) in multiQuestions"
          v-if="item.state == 1"
          :key="index"
          :label="item.questionId">{{item.question}}</el-checkbox>
        </el-checkbox-group>
        <el-pagination
          @size-change="multiHandleSizeChange"
          @current-change="multiHandleCurrentChange"
          :current-page="multiPagination.current"
          :page-sizes="[4, 8, 10, 20]"
          :page-size="multiPagination.size"
          layout="total, sizes, prev, pager, next, jumper"
          :total="multiPagination.total" class="page">
        </el-pagination>
      </el-form-item>
      <el-form-item label="判断题">
        <el-checkbox-group v-model="form.judgeQuestions">
          <el-checkbox
          v-for="(item,index) in judgeQuestions"
          v-if="item.state == 1"
          :key="index"
          :label="item.questionId">{{item.question}}</el-checkbox>
        </el-checkbox-group>
        <el-pagination
          @size-change="judgeHandleSizeChange"
          @current-change="judgeHandleCurrentChange"
          :current-page="judgePagination.current"
          :page-sizes="[4, 8, 10, 20]"
          :page-size="judgePagination.size"
          layout="total, sizes, prev, pager, next, jumper"
          :total="judgePagination.total" class="page">
        </el-pagination>
      </el-form-item>
      <el-form-item label="填空题">
        <el-checkbox-group v-model="form.fillQuestions">
          <el-checkbox
          v-for="(item,index) in fillQuestions"
          v-if="item.state == 1"
          :key="index"
          :label="item.questionId">{{item.question}}</el-checkbox>
        </el-checkbox-group>
        <el-pagination
          @size-change="fillHandleSizeChange"
          @current-change="fillHandleCurrentChange"
          :current-page="fillPagination.current"
          :page-sizes="[4, 8, 10, 20]"
          :page-size="fillPagination.size"
          layout="total, sizes, prev, pager, next, jumper"
          :total="fillPagination.total" class="page">
        </el-pagination>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="onSubmit()">立即创建</el-button>
        <el-button type="text" @click="cancel()">取消</el-button>
      </el-form-item>
    </el-form>
  </section>
</template>

<script>
export default {
  data() {
    return {
      multiPagination: {
        //分页后的题目信息
        current: 1, //当前页
        total: null, //记录条数
        size: 4,//每页条数
        records: null //数据
      },
      judgePagination: {
        //分页后的题目信息
        current: 1, //当前页
        total: null, //记录条数
        size: 4,//每页条数
        records: null //数据
      },
      fillPagination: {
        //分页后的题目信息
        current: 1, //当前页
        total: null, //记录条数
        size: 4,//每页条数
        records: null //数据
      },
      form: { //表单数据初始化
        multiQuestions: [],
        judgeQuestions: [],
        fillQuestions: [],
        paperName: null,
        course: null,
      },
      multiQuestions: null,
      judgeQuestions: null,
      fillQuestions: null,
      courses: [],
    };
  },
  created() {
    this.getCourses()
    this.getMultiQuestion();
    this.getFillQuestion();
    this.getJudgeQuestion()
  },
  methods: {
    onSubmit() {
        this.$axios({
          url: '/api/paper',
          method: 'post',
          data: {
            ...this.form
          }
        }).then(res => {
          if(res.data.code == 200) {
            this.$message({
              message: '数据添加成功',
              type: 'success'
            })
            this.$router.push({path: '/allPaper'})
          }
        })
    },
    cancel() { //取消按钮
      this.form = {}
    },
    getCourses() {
      //分页查询所有选择题信息
      this.$axios(`/api/courses`).then(res => {
        this.courses = res.data.data
        console.log(this.courses)
      }).catch(error => {});
    },
    getMultiQuestion(courseId) {
      //分页查询所有选择题信息
      if(courseId != undefined){
        this.$axios(`/api/multiQuestion/${courseId}/${this.multiPagination.current}/${this.multiPagination.size}`).then(res => {
          this.multiQuestions = res.data.data.content
          this.multiPagination.total = res.data.data.totalElements
        }).catch(error => {});
        return;
      }
      this.$axios(`/api/multiQuestion/${this.multiPagination.current}/${this.multiPagination.size}`).then(res => {
        this.multiQuestions = res.data.data.content
        this.multiPagination.total = res.data.data.totalElements
      }).catch(error => {});
    },
    getFillQuestion(courseId) {
      //分页查询所有选择题信息
      if(courseId != undefined){
        this.$axios(`/api/fillQuestion/${courseId}/${this.fillPagination.current}/${this.fillPagination.size}`).then(res => {
          this.fillQuestions = res.data.data.content
          this.fillPagination.total = res.data.data.totalElements
        }).catch(error => {});
        return;
      }
      this.$axios(`/api/fillQuestion/${this.fillPagination.current}/${this.fillPagination.size}`).then(res => {
        this.fillQuestions = res.data.data.content
        this.fillPagination.total = res.data.data.totalElements
      }).catch(error => {});
    },
    getJudgeQuestion(courseId) {
      //分页查询所有选择题信息
      if(courseId != undefined){
        this.$axios(`/api/judgeQuestion/${courseId}/${this.judgePagination.current}/${this.judgePagination.size}`).then(res => {
          this.judgeQuestions = res.data.data.content
          this.judgePagination.total = res.data.data.totalElements
        }).catch(error => {});
        return;
      }
      this.$axios(`/api/judgeQuestion/${this.judgePagination.current}/${this.judgePagination.size}`).then(res => {
        this.judgeQuestions = res.data.data.content
        this.judgePagination.total = res.data.data.totalElements
      }).catch(error => {});
    },
    changeQuestion(){
      // console.log(this.form.course)

      this.getMultiQuestion(this.form.course)
      this.getFillQuestion(this.form.course)
      this.getJudgeQuestion(this.form.course)
    },
    multiHandleSizeChange(val) {
      this.multiPagination.size = val
      this.getMultiQuestion(this.form.course);
    },
    //改变当前页码，重新发送请求
    multiHandleCurrentChange(val) {
      this.multiPagination.current = val
      this.getMultiQuestion(this.form.course);
    },
    judgeHandleSizeChange(val) {
      this.judgePagination.size = val
      this.getJudgeQuestion(this.form.course);
    },
    //改变当前页码，重新发送请求
    judgeHandleCurrentChange(val) {
      this.judgePagination.current = val
      this.getJudgeQuestion(this.form.course);
    },
    fillHandleSizeChange(val) {
      this.fillPagination.size = val
      this.getFillQuestion(this.form.course);
    },
    //改变当前页码，重新发送请求
    fillHandleCurrentChange(val) {
      this.fillPagination.current = val
      this.getFillQuestion(this.form.course);
    },
  }
};
</script>
<style lang="scss" scoped>
.add {
  padding: 0px 40px;
  width: 400px;
}
</style>
