<!-- 添加学生 -->
<template>
  <section class="add">
    <el-form ref="form" :model="form" label-width="80px">
      <el-form-item label="学号">
        <el-input v-model="form.studentId"></el-input>
      </el-form-item>
      <el-form-item label="姓名">
        <el-input v-model="form.studentName"></el-input>
      </el-form-item>
      <el-form-item label="性别">
       <el-radio-group v-model="form.sex">
         <el-radio
         v-for="(item,index) in sexs"
         :label="item.label"
         :value="item.value"
         :key="index"></el-radio>
        </el-radio-group>
      </el-form-item>
      <el-form-item label="班级">
        <el-select v-model="form.clazz" placeholder="选择所属班级" class="w150">
          <el-option
            v-for="item in clazzs"
            v-if="item.state == 1"
            :key="item.clazzId"
            :label="item.clazzName"
            :value="item.clazzId">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="所学课程">
        <el-select
        v-model="form.courses"
        multiple
        filterable
        allow-create
        default-first-option
        placeholder="选择所学课程,可多选" class="w150">
          <el-option
            v-for="(item,index) in courses"
            v-if="item.state == 1"
            :key="item.courseId"
            :label="item.courseName"
            :value="item.courseId">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="电话号码">
        <el-input v-model="form.tel"></el-input>
      </el-form-item>
      <el-form-item label="身份证号">
        <el-input v-model="form.cardId"></el-input>
      </el-form-item>
      <el-form-item label="邮箱">
        <el-input v-model="form.email"></el-input>
      </el-form-item>
      <el-form-item label="角色" v-show="false">
        <el-input v-model="form.role"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="onSubmit()">立即创建</el-button>
        <el-button type="text" @click="cancel()">取消</el-button>
      </el-form-item>
    </el-form>
  </section>
</template>

<script>
export default {
  data() {
    return {
      form: { //表单数据初始化
        studentId: null,
        studentName: null,
        clazz: null,
        courses: null,
        tel: null,
        email: null,
        cardId: null,
        sex: null,
        role: 2
      },
      sexs: [ //分数
        {
          value: '男',
          label: '男'
        },
        {
          value: '女',
          label: '女'
        },
      ],
      professions: [],
      courses: [],
      clazzs: [],
    };
  },
  created(){
    this.getclazzInfo();
    this.getProfessions();
    this.getCourses()
  },
  methods: {
    onSubmit() { //数据提交
      this.$axios({
        url: '/api/student',
        method: 'post',
        data: {
          ...this.form
        }
      }).then(res => {
        if(res.data.code == 200) {
          this.$message({
            message: '学生信息添加成功',
            type: 'success'
          })
          this.$router.push({path: '/studentManage'})
        }
      })
    },
    cancel() { //取消按钮
      this.form = {}
    },
    getProfessionById(id){
      var arr = this.professions;
      for(var i = 0;i < arr.length;i++){
        if(arr[i].professionId == id){
          return arr[i];
        }
      }
    },
    getProfessions() {
      //查询所有专业信息
      this.$axios(`/api/professions`).then(res => {
        this.professions = res.data.data
      }).catch(error => {});
    },
    getclazzInfo() {
      //分页查询所有教师信息
      this.$axios(`/api/clazzs`).then(res => {
        this.clazzs = res.data.data;
      }).catch(error => {});
    },
    getCoursesByIds(ids){
      var arr = this.courses;
      var result = [];
      for(var i = 0;i < ids.length;i++){
        result.push(arr[ids[i]])
      }
      return result;
    },
    getCourses() {
      //查询所有课程信息
      this.$axios(`/api/courses`).then(res => {
        this.courses = res.data.data
      }).catch(error => {});
    },
  }
};
</script>
<style lang="scss" scoped>
.add {
  padding: 0px 40px;
  width: 400px;
}
</style>
