//查询所有考试
<template>
  <div class="exam">
    <el-table
    :data="pagination.records"
    border
    :header-cell-style="{'text-align':'center'}"
    :cell-style="{'text-align':'center'}">
      <el-table-column fixed="left" prop="examCode" label="考试编号" width="80"></el-table-column>
      <el-table-column prop="examName" label="考试名称" width="100"></el-table-column>
      <el-table-column prop="examStart" label="考试日期" width="130"></el-table-column>
      <el-table-column prop="examDuration" label="考试时长(分钟)" width="120"></el-table-column>
      <el-table-column prop="paper.totilScore" label="总分" width="80"></el-table-column>
      <el-table-column label="试卷类型" width="120">
        <template slot-scope="scope">
          {{typeCover(scope.row.type)}}
        </template>
      </el-table-column>
      <el-table-column prop="course.courseName" label="所属课程" width="120"></el-table-column><el-table-column label="状态" width="70">
        <template slot-scope="scope">
          <el-switch
              v-model="scope.row.state"
              :active-value=1
              :inactive-value=0
              @change="changeState(scope.row)">
          </el-switch>
        </template>
      </el-table-column>
      <el-table-column fixed="right" label="操作" width="150">
        <template slot-scope="scope">
          <el-button @click="edit(scope.row.examCode)" type="primary" size="small">编辑</el-button>
          <el-button @click="deleteRecord(scope.row.examCode)" type="danger" size="small">删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="pagination.current"
      :page-sizes="[4, 8, 10, 20]"
      :page-size="pagination.size"
      layout="total, sizes, prev, pager, next, jumper"
      :total="pagination.total" class="page">
    </el-pagination>
    <!-- 编辑对话框-->
    <el-dialog
      title="编辑考试信息"
      :visible.sync="dialogVisible"
      width="40%"
      :before-close="handleClose">
      <section class="update">
        <el-form ref="form" :model="form" label-width="80px">
          <el-form-item label="考试名称">
            <el-input v-model="form.examName"></el-input>
          </el-form-item>
          <el-form-item label="介绍">
            <el-input v-model="form.introduction"></el-input>
          </el-form-item>
          </el-form-item>
          <el-form-item label="考试日期">
            <el-date-picker
                 v-model="form.examStart"
                 type="datetime"
                 placeholder="选择考试开始时间">
             </el-date-picker>
          </el-form-item>
          <el-form-item label="考试时长">
            <el-select v-model="form.examDuration" placeholder="请选择考试时长">
              <el-option
              v-for="(item,index) in times"
              :label="item.label"
              :value="item.value"
              :key="index"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="试卷类型">
            <el-select v-model="form.type" placeholder="请选择考试类型">
              <el-option
              v-for="(item,index) in types"
              :label="item.label"
              :value="item.value"
              :key="index"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="考试班级">
            <el-checkbox-group v-model="form.clazzs">
              <el-checkbox
              v-for="(item,index) in clazzs"
              v-if="item.state == 1"
              :key="index"
              :label="item.clazzId">{{item.clazzName}}</el-checkbox>
            </el-checkbox-group>
            <el-pagination
              @size-change="clazzHandleSizeChange"
              @current-change="clazzHandleCurrentChange"
              :current-page="clazzPagination.current"
              :page-sizes="[4, 8, 10, 20]"
              :page-size="clazzPagination.size"
              layout="total, sizes, prev, next, jumper"
              :total="clazzPagination.total" class="page">
            </el-pagination>
          </el-form-item>
          <el-form-item label="考生提示">
            <el-input type="textarea" v-model="form.tip"></el-input>
          </el-form-item>
        </el-form>
      </section>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="submit()">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {}, //保存点击以后当前试卷的信息
      pagination: { //分页后的考试信息
        current: 1, //当前页
        total: null, //记录条数
        size: 4, //每页条数
        records: null
      },
      clazzPagination: { //分页后的考试信息
        current: 1, //当前页
        total: null, //记录条数
        size: 4, //每页条数
        records: null
      },
      dialogVisible: false,
      times: [ //考试时间
        {
          value: '30',
          label: '30分钟'
        },
        {
          value: '60',
          label: '60分钟'
        },
        {
          value: '90',
          label: '90分钟'
        },
        {
          value: '120',
          label: '120分钟'
        },
        {
          value: '180',
          label: '180分钟'
        },
      ],
      types: [ //考试时间
        {
          value: '0',
          label: '正式考试'
        },
        {
          value: '1',
          label: '模拟考试'
        },
        {
          value: '2',
          label: '练习'
        },
      ],
      clazzs: [],
    }
  },
  created() {
    this.getExamInfo()
    this.getClazzs()
  },
  methods: {
    edit(examCode) { //编辑试卷
      this.dialogVisible = true

      this.$axios(`/api/exam/${examCode}`).then(res => { //根据试卷id请求后台
        if(res.data.code == 200) {
          this.form = res.data.data
          this.form.type = this.typeCover(this.form.type)
          for(var i = 0;i < this.form.clazzs.length;i++){
            this.form.clazzs[i] = this.form.clazzs[i].clazzId
          }
        }
      })
    },
    typeCover(type){
      // console.log(type)
      if(type == 0) return '正式考试';
      if(type == 1) return '模拟考试';
      if(type == 2) return '练习';
    },
    unTypeCover(type){
      // console.log(type)
      if(type == '正式考试') return 0;
      if(type == '模拟考试') return 1;
      if(type == '练习') return 2;
    },
    handleClose(done) { //关闭提醒
      this.$confirm('确认关闭？')
        .then(_ => {
          done();
        }).catch(_ => {});
    },
    submit() { //提交修改后的试卷信息
      this.dialogVisible = false
      console.log(this.form)
      if(isNaN(this.form.typr)){
        this.form.type = this.unTypeCover(this.form.type)
      }
      this.form.examStart = new Date(this.form.examStart).getTime()
      this.$axios({
        url: '/api/exam',
        method: 'put',
        data: {
          ...this.form
        }
      }).then(res => {
        if(res.data.code == 200) {
          this.$message({ //成功修改提示
            message: '更新成功',
            type: 'success'
          })
        }
        this.getExamInfo()
      })
    },
    deleteRecord(examCode) {
      this.$confirm("确定删除该记录吗,该操作不可逆！！！","删除提示",{
        confirmButtonText: '确定删除',
        cancelButtonText: '取消',
        type: 'danger'
      }).then(()=> { //确认删除
        this.$axios({
          url: `/api/exam/${examCode}`,
          method: 'delete',
        }).then(res => {
          if(res.data.code == 200) {
            this.$message({ //成功修改提示
              message: '删除成功',
              type: 'success'
            })
          }
          this.getExamInfo()
        })
      }).catch(() => {
        this.$message({ //成功修改提示
          message: '操作失败',
          type: 'error'
        })
      })
    },
    getExamInfo() { //分页查询所有试卷信息
      this.$axios(`/api/exams/${this.pagination.current}/${this.pagination.size}`).then(res => {
        this.pagination.records = res.data.data.content
        // this.pagination.total = res.data.data.totalElements
        console.log(res.data.data)
      }).catch(error => {
      })
    },
    changeState(info) {
      this.$axios({
        url: '/api/exam',
        method: 'put',
        data: info
      }).then(res => {
        console.log(res)
        if(res.data.code ==200) {
          this.$message({
            message: '更新考试状态成功！',
            type: 'success'
          })
        }
        this.getExamInfo()
      })
    },
    getClazzs() {
      //查询所有班级信息
      this.$axios(`/api/clazzs/${this.clazzPagination.current}/${this.clazzPagination.size}`).then(res => {
        this.clazzs = res.data.data.content
        this.clazzPagination.total = res.data.data.totalElements
      }).catch(error => {});
    },
    //改变当前记录条数
    handleSizeChange(val) {
      this.pagination.size = val
      this.getExamInfo()
    },
    //改变当前页码，重新发送请求
    handleCurrentChange(val) {
      this.pagination.current = val
      this.getExamInfo()
    },
    //改变当前记录条数
    clazzHandleSizeChange(val) {
      this.clazzPagination.size = val
      this.getClazzs()
    },
    //改变当前页码，重新发送请求
    clazzHandleCurrentChange(val) {
      this.clazzPagination.current = val
      this.getClazzs()
    },
  },
};
</script>
<style lang="scss" scoped>
.exam {
  padding: 0px 40px;
  .page {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .edit{
    margin-left: 20px;
  }
}
</style>
