<template>
  <div class="all">
    <el-table
    :data="pagination.records"
    border
    :header-cell-style="{'text-align':'center'}"
    :cell-style="{'text-align':'center'}">
      <el-table-column fixed="left" prop="paperId" label="编号" width="80"></el-table-column>
      <el-table-column prop="paperName" label="试卷名称" width="200"></el-table-column>
      <el-table-column prop="questionNum" label="试卷数量" width="80"></el-table-column>
      <el-table-column prop="totilScore" label="总分" width="60"></el-table-column>
      <el-table-column label="状态" width="70">
        <template slot-scope="scope">
          <el-switch
              v-model="scope.row.state"
              :active-value=1
              :inactive-value=0
              @change="changeState(scope.row)">
          </el-switch>
        </template>
      </el-table-column>
      <el-table-column fixed="right" label="查看详细" width="150">
        <template slot-scope="scope">
          <el-button @click="showPaper(scope.row.paperId)" type="primary" size="small">查看详细</el-button>
        </template>
      </el-table-column>
      <el-table-column fixed="right" label="操作" width="150">
        <template slot-scope="scope">
          <el-button @click="editpaper(scope.row.paperId)" type="primary" size="small">编辑</el-button>
          <el-button @click="deleteById(scope.row.paperId)" type="danger" size="small">删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page.sync="pagination.current"
      :page-sizes="[6,10]"
      :page-size="pagination.size"
      layout="total, sizes, prev, pager, next, jumper"
      :total="pagination.total"
      class="page">
    </el-pagination>
    <!-- 编辑对话框-->
    <el-dialog
      title="编辑试卷信息"
      :visible.sync="dialogVisible"
      width="70%"
      :before-close="handleClose">
      <section class="update">
        <el-form ref="form" :model="form" label-width="80px">
          <!-- <p>{{form}}</p> -->
          <el-form-item label="试卷名称">
            <el-input v-model="form.paperName"></el-input>
          </el-form-item>
          <el-form-item label="选择题">
            <el-checkbox-group v-model="form.multiQuestions">
              <el-checkbox
              v-for="(item,index) in multiQuestions"
              v-if="item.state == 1"
              :key="index"
              :label="item.questionId">{{item.question}}</el-checkbox>
            </el-checkbox-group>
            <el-pagination
              @size-change="multiHandleSizeChange"
              @current-change="multiHandleCurrentChange"
              :current-page="multiPagination.current"
              :page-sizes="[4, 8, 10, 20]"
              :page-size="multiPagination.size"
              layout="total, sizes, prev, next, jumper"
              :total="multiPagination.total" class="page">
            </el-pagination>
          </el-form-item>
          <el-form-item label="判断题">
            <el-checkbox-group v-model="form.judgeQuestions">
              <el-checkbox
              v-for="(item,index) in judgeQuestions"
              v-if="item.state == 1"
              :key="index"
              :label="item.questionId">{{item.question}}</el-checkbox>
            </el-checkbox-group>
            <el-pagination
              @size-change="judgeHandleSizeChange"
              @current-change="judgeHandleCurrentChange"
              :current-page="judgePagination.current"
              :page-sizes="[4, 8, 10, 20]"
              :page-size="judgePagination.size"
              layout="total, sizes, prev, next, jumper"
              :total="judgePagination.total" class="page">
            </el-pagination>
          </el-form-item>
          <el-form-item label="填空题">
            <el-checkbox-group v-model="form.fillQuestions">
              <el-checkbox
              v-for="(item,index) in fillQuestions"
              v-if="item.state == 1"
              :key="index"
              :label="item.questionId">{{item.question}}</el-checkbox>
            </el-checkbox-group>
            <el-pagination
              @size-change="fillHandleSizeChange"
              @current-change="fillHandleCurrentChange"
              :current-page="fillPagination.current"
              :page-sizes="[4, 8, 10, 20]"
              :page-size="fillPagination.size"
              layout="total, sizes, prev, next, jumper"
              :total="fillPagination.total" class="page">
            </el-pagination>
          </el-form-item>
        </el-form>
      </section>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="submit()">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
export default {
  data() {
    return {
      pagination: {
        //分页后的试卷信息
        current: 1, //当前页
        total: null, //记录条数
        size: 6,//每页条数
        records: null, //数据
        questionNum: 0,
        totilScore: 0,
      },
      multiPagination: {
        //分页后的题目信息
        current: 1, //当前页
        total: null, //记录条数
        size: 4,//每页条数
        records: null //数据
      },
      judgePagination: {
        //分页后的题目信息
        current: 1, //当前页
        total: null, //记录条数
        size: 4,//每页条数
        records: null //数据
      },
      fillPagination: {
        //分页后的题目信息
        current: 1, //当前页
        total: null, //记录条数
        size: 4,//每页条数
        records: null //数据
      },
      dialogVisible: false, //对话框
      // form: {}, //保存点击以后当前试卷的信息
      form: { //表单数据初始化
        multiQuestions: [],
        judgeQuestions: [],
        fillQuestions: [],
        paperName: null,
      },
      multiQuestions: null,
      judgeQuestions: null,
      fillQuestions: null,
    };
  },
  created() {
    this.getPaper();
    this.getMultiQuestion();
    this.getFillQuestion();
    this.getJudgeQuestion()
  },
  methods: {
    getPaper() {
      //分页查询所有选择题信息
      this.$axios(`/api/papers/${this.pagination.current}/${this.pagination.size}`).then(res => {
        this.pagination.records = res.data.data.content
        this.pagination.total = res.data.data.totalElements
        console.log(res.data.data)
      }).catch(error => {});

    },
    changeState(info) {
      this.$axios({
        url: '/api/paper',
        method: 'put',
        data: info
      }).then(res => {
        if(res.data.code ==200) {
          this.$message({
            message: '更新试卷状态成功！',
            type: 'success'
          })
        }
        this.getPaper()
      })
    },
    //改变当前记录条数
    handleSizeChange(val) {
      this.pagination.size = val;
      this.getPaper();
    },
    //改变当前页码，重新发送请求
    handleCurrentChange(val) {
      this.pagination.current = val;
      this.getPaper();
    },
    editpaper(paperId) { //修改教师信息
      this.dialogVisible = true
      this.$axios(`/api/paper/${paperId}`).then(res => {
        this.form = res.data.data
        this.form.fillQuestions = this.getIdsFromQuestions(this.form.fillQuestions)
        this.form.judgeQuestions = this.getIdsFromQuestions(this.form.judgeQuestions)
        this.form.multiQuestions = this.getIdsFromQuestions(this.form.multiQuestions)
        console.log(this.form)
      })
    },
    showPaper(paperId){
      this.$router.push({path:"/paperDetail",query:{paperId: paperId}})
    },
    deleteById(paperId) { //删除当前试卷
      this.$confirm("确定删除当前试卷吗？删除后无法恢复","Warning",{
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'danger'
      }).then(()=> { //确认删除
        this.$axios({
          url: `/api/paper/${paperId}`,
          method: 'delete',
        }).then(res => {
          console.log(paperId)
          console.log(res.data.code)
          if(res.data.code == 200){
            this.$message.success(res.data.message)
          }
          // this.$message.error(res.data.message)
          this.getPaper()
        })
      }).catch(() => {

      })
    },
    submit() { //提交更改
      this.dialogVisible = false
      this.$axios({
        url: '/api/paper',
        method: 'put',
        data: {
          ...this.form
        }
      }).then(res => {
        console.log(res)
        if(res.data.code ==200) {
          this.$message({
            message: '更新成功',
            type: 'success'
          })
        }
        this.getPaper()
      })
    },
    handleClose(done) { //关闭提醒
      this.$confirm('确认关闭？')
        .then(_ => {
          done();
        }).catch(_ => {});
    },
    getMultiQuestion() {
      //分页查询所有选择题信息
      this.$axios(`/api/multiQuestion/${this.multiPagination.current}/${this.multiPagination.size}`).then(res => {
        this.multiQuestions = res.data.data.content
        this.multiPagination.total = res.data.data.totalElements
      }).catch(error => {});
    },
    getFillQuestion() {
      //分页查询所有选择题信息
      this.$axios(`/api/fillQuestion/${this.fillPagination.current}/${this.fillPagination.size}`).then(res => {
        this.fillQuestions = res.data.data.content
        this.fillPagination.total = res.data.data.totalElements
      }).catch(error => {});
    },
    getJudgeQuestion() {
      //分页查询所有选择题信息
      this.$axios(`/api/judgeQuestion/${this.judgePagination.current}/${this.judgePagination.size}`).then(res => {
        this.judgeQuestions = res.data.data.content
        this.judgePagination.total = res.data.data.totalElements
      }).catch(error => {});
    },
    multiHandleSizeChange(val) {
      this.multiPagination.size = val
      this.getMultiQuestion();
    },
    //改变当前页码，重新发送请求
    multiHandleCurrentChange(val) {
      this.multiPagination.current = val
      this.getMultiQuestion();
    },
    judgeHandleSizeChange(val) {
      this.judgePagination.size = val
      this.getJudgeQuestion();
    },
    //改变当前页码，重新发送请求
    judgeHandleCurrentChange(val) {
      this.judgePagination.current = val
      this.getJudgeQuestion();
    },
    fillHandleSizeChange(val) {
      this.fillPagination.size = val
      this.getFillQuestion();
    },
    //改变当前页码，重新发送请求
    fillHandleCurrentChange(val) {
      this.fillPagination.current = val
      this.getFillQuestion();
    },
    getIdsFromQuestions(questions){
      var result = [];
      for(var i = 0;i < questions.length;i++){
        result.push(questions[i].questionId)
      }
      return result;
    }
  }
};
</script>

<style lang="scss" scoped>
.all {
  padding: 0px 40px;
  .page {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .edit {
    margin-left: 20px;
  }
  .el-table tr {
    background-color: #dd5862 !important;
  }
}
.el-table .warning-row {
  background: #000 !important;
}

.el-table .success-row {
  background: #dd5862;
}
</style>
