<template>
  <div class="content">
    <el-backtop :bottom="60"></el-backtop>
    <h1>{{paperData.paperName}}</h1>
    <el-collapse v-model="activeName" accordion>
      <el-collapse-item class="header" name="0">
        <template slot="title" class="stitle" >
          <div class="title">
            <span @click="goAllPaper()">试卷列表</span>/
            <span>{{paperData.paperName}}</span><i class="header-icon el-icon-info"></i>
            <span class="time">{{paperData.totilScore}}分</span>
          </div>
        </template>
        <el-collapse class="inner">
          <el-collapse-item>
            <template slot="title" name="1">
              <div class="titlei">选择题 (共{{paperData.multiQuestions.length}}题)</div>
            </template>
            <div class="contenti">
              <ul class="question" v-for="(list, index) in paperData.multiQuestions" :key="index">
                <li>
                  {{index+1}}. {{list.question}} ({{list.score}}分) 难度等级{{list.level}}
                  <el-rate
                    v-model="list.level"
                    disabled
                    style="display: inline-block;"
                    show-score
                    text-color="#ff9900"
                    score-template={value}>
                  </el-rate>
                </li>
                <li>A.{{list.answerA}} B.{{list.answerB}} C.{{list.answerC}} D.{{list.answerD}}</li>
                <li>正确答案: {{list.answer}}</li><br />
              </ul>
            </div>
          </el-collapse-item>
          <el-collapse-item>
            <template slot="title" name="2">
              <div class="titlei">填空题 (共{{paperData.fillQuestions.length}}题)</div>
            </template>
            <div class="contenti">
              <ul class="question" v-for="(list, index) in paperData.fillQuestions" :key="index">
                <li>{{paperData.multiQuestions.length+index+1}}.{{list.question}}  ({{list.score}}分) 难度等级{{list.level}}</li>
                <li>正确答案: {{list.answer}}</li><br />
              </ul>
            </div>
          </el-collapse-item>
          <el-collapse-item>
            <template slot="title" name="3">
              <div class="titlei">判断题 (共{{paperData.judgeQuestions.length}}题)</div>
            </template>
            <div class="contenti">
              <ul class="question" v-for="(list, index) in paperData.judgeQuestions" :key="index">
                <li>{{paperData.multiQuestions.length+paperData.fillQuestions.length+index+1}}. {{list.question}} ({{list.score}}分) 难度等级{{list.level}}</li>
                <li>正确答案: {{list.answer}}</li><br />
              </ul>
            </div>
          </el-collapse-item>
        </el-collapse>
         <el-button type="primary" @click="downloadPaper()" icon="el-icon-download" style="float: right;">下载试题</el-button>
      </el-collapse-item>
    </el-collapse>
  </div>
</template>

<script>
export default {
  data() {
    return {
      paperData: {
        fillQuestions: [],
        judgeQuestions: [],
        multiQuestions: [],
        paperId: null,
        paperName: null,
        questionNum: null,
        totilScore: null,
      },
      activeName: '0',
    }
  },
  mounted() {
    this.init()
  },
  methods: {
    //初始化页面数据
    init() {
      let paperId = this.$route.query.paperId //获取路由传递过来的试卷编号
      this.$axios(`/api/paper/${paperId}`).then(res => {  //通过examCode请求试卷详细信息
        // res.data.data.examDate = res.data.data.examDate.substr(0,10)
        this.paperData = { ...res.data.data}
      })
    },
    goAllPaper(){
      this.$router.push('allPaper')
    },
    downloadPaper(){
      let paperId = this.$route.query.paperId //获取路由传递过来的试卷编号
      this.$axios(`/api/paper/download/${paperId}`, {
      			responseType: 'blob'
      		}).then((res) =>{
            const url = window.URL.createObjectURL(new Blob([res.data]));
            const link = document.createElement('a');
            const disposition = res.headers['content-disposition'];
            // 获取文件名
            let fileName = disposition.substring(disposition.indexOf('filename=') + 9, disposition.length);
            fileName = decodeURI(fileName)
            link.href = url;
            link.setAttribute('download', fileName);
            document.body.appendChild(link);
            link.click();
        })
    },
  }
}
</script>

<style lang="scss" scoped>
h1 {
  text-align: center;
}
.bottom {
  .right{
    .el-button{
      color: #409EFF;
      border-color: #c6e2ff;
      background-color: #ecf5ff;
    }
  }
}
.right {
  margin-left: auto;
}
.inner .contenti .question {
  margin-left: 40px;
  color: #9a9a9a;
  font-size: 14px;
}
.content .inner .titlei {
  margin-left: 20px;
  font-size: 16px;
  color: #88949b;
  font-weight: bold;
}
.content .title .time {
  font-size: 16px;
  margin-left: 420px;
  color: #999;
}
.content .stitle {
  background-color: #0195ff;
}
.content .title span {
  margin-right: 10px;
}
#msg .content .title {
  font-size: 20px;
  margin: 0px;
  display: flex;
  align-items: center;
}
.content {
  margin-top: 20px;
  background-color: #fff;
}
.content .header {
  padding: 10px 30px;
}
.wrapper .info {
  margin: 20px 0px 0px 20px;
  border-top: 1px solid #eee;
  padding: 20px 0px 10px 0px;
}
.wrapper .info a {
  color: #88949b;
  font-size: 14px;
}
.wrapper .info a:hover {
  color: #0195ff;
}
.wrapper .bottom .btn {
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #88949b;
  border-radius: 4px;
}
.wrapper .bottom {
  display: flex;
  margin-left: 20px;
  color: #999;
  font-size: 14px;
  align-items: center;
}
.wrapper .bottom li {
  margin-right: 14px;
}
#msg {
  background-color: #eee;
  width: 980px;
  margin: 0 auto;
}
#msg .title {
  margin: 20px;
}
#msg .wrapper {
  background-color: #fff;
  padding: 10px;
}
.wrapper .top {
  display: flex;
  margin: 20px;
  align-items: center;
}
.wrapper .top .right {
  margin-left: auto;
}
.wrapper .top .example {
  color: #333;
  font-size: 22px;
  font-weight: 700;
}
.wrapper .top li i {
  margin-left: 20px;
  color: #88949b;
}
.wrapper .right .count {
  margin-right: 60px;
  color: #fff;
  padding: 4px 10px;
  background-color: #88949b;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: 1px solid #88949b;
}
.wrapper .right .score {
  position: absolute;
  left: 53px;
  top: -5px;
  padding: 1px 12px;
  font-size: 20px;
  color: #88949b;
  border: 1px dashed #88949b;
  border-left: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  font-weight: bold;
}
.wrapper .right div {
  position: relative;
}
</style>
