//查询所有考试跳转到分段页面
<template>
  <div class="exam">
    <el-table
    :data="pagination.records"
    border
    :header-cell-style="{'text-align':'center'}"
    :cell-style="{'text-align':'center'}">
      <el-table-column fixed="left" prop="examName" label="考试名称" width="120"></el-table-column>
      <el-table-column prop="course.courseName" label="所属课程" width="120"></el-table-column>
      <el-table-column label="考试时间" width="130">
        <template slot-scope="scope">
          {{timestramp2Date(scope.row.examStart)}}
        </template>
      </el-table-column>
      <el-table-column prop="examDuration" label="考试时长" width="80"></el-table-column>
      <el-table-column prop="paper.totilScore" label="总分" width="60"></el-table-column>
      <el-table-column label="考试类型" width="100">
        <template slot-scope="scope">
          {{scope.row.type == 0 ? '正式考试' : scope.row.type == 1 ? '模拟考试' : '练习'}}
        </template>
      </el-table-column>
      <el-table-column fixed="right" label="操作" width="300">
        <template slot-scope="scope">
          <el-button @click="getScoreTable(scope.row.examCode)" type="primary" size="small">查看成绩单</el-button>
          <el-button @click="toPart(scope.row.examCode,scope.row.course.courseName)" type="primary" size="small">查看分段分布</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="pagination.current"
      :page-sizes="[4, 8, 10, 20]"
      :page-size="pagination.size"
      layout="total, sizes, prev, pager, next, jumper"
      :total="pagination.total" class="page">
    </el-pagination>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {}, //保存点击以后当前试卷的信息
      pagination: { //分页后的考试信息
        current: 1, //当前页
        total: null, //记录条数
        size: 4, //每页条数
        records: null
      },
      dialogVisible: false
    }
  },
  created() {
    this.getExamInfo()
  },
  methods: {
    getExamInfo() { //分页查询所有试卷信息
      this.$axios(`/api/exams/${this.pagination.current}/${this.pagination.size}`).then(res => {
        this.pagination.records = res.data.data.content
        this.pagination.total = res.data.data.totalElements
      }).catch(error => {
      })
    },
    //改变当前记录条数
    handleSizeChange(val) {
      this.pagination.size = val
      this.getExamInfo()
    },
    //改变当前页码，重新发送请求
    handleCurrentChange(val) {
      this.pagination.current = val
      this.getExamInfo()
    },
    toPart(examCode,source) { //跳转到分段charts页面
      this.$router.push({path: '/scorePart', query:{examCode: examCode, source: source}})
    },
    getScoreTable(examCode){
      this.$router.push({path: '/getScoreTable', query:{examCode: examCode}})
    },
    timestramp2Date(timestramp){
      var date = new Date(timestramp);
        var y = date.getFullYear(),
          m = date.getMonth() + 1,
          d = date.getDate(),
          h = date.getHours(),
          i = date.getMinutes(),
          s = date.getSeconds();
        if (m < 10) { m = '0' + m; }
        if (d < 10) { d = '0' + d; }
        if (h < 10) { h = '0' + h; }
        if (i < 10) { i = '0' + i; }
        if (s < 10) { s = '0' + s; }
        var t = y + '年' + m + '月' + d + '日' + h + ':' + i + ':' + s;
        return t;
    },
  },
};
</script>
<style lang="scss" scoped>
.exam {
  padding: 0px 40px;
  .page {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .edit{
    margin-left: 20px;
  }
}
</style>
