// 学生管理页面
<template>
  <div class="all">
    <el-table
    :data="pagination.records"
    border
    :header-cell-style="{'text-align':'center'}"
    :cell-style="{'text-align':'center'}">
      <el-table-column fixed="left" prop="studentId" label="学号" width="80"></el-table-column>
      <el-table-column prop="studentName" label="姓名" width="80"></el-table-column>
      <el-table-column prop="clazz.profession.school" label="学院" width="120"></el-table-column>
      <el-table-column prop="clazz.profession.professionName" label="专业" width="120"></el-table-column>
      <el-table-column prop="clazz.grade" label="年级" width="80"></el-table-column>
      <el-table-column prop="clazz.clazzName" label="班级" width="150"></el-table-column>
      <el-table-column prop="sex" label="性别" width="60"></el-table-column>
      <el-table-column prop="tel" label="联系方式" width="120"></el-table-column>
      <el-table-column label="面部信息Id" width="120">
        <template slot-scope="scope">
          <span>{{scope.row.faceId == null ? '未注册' : scope.row.faceId}}</span>
        </template>
      </el-table-column>
      <el-table-column label="状态" width="70">
        <template slot-scope="scope">
          <el-switch
              v-model="scope.row.state"
              :active-value=1
              :inactive-value=0
              @change="changeState(scope.row)">
          </el-switch>
        </template>
      </el-table-column>
      <el-table-column fixed="right" label="操作" width="150">
        <template slot-scope="scope">
          <el-button @click="checkGrade(scope.row.studentId)" type="primary" size="small">编辑</el-button>
          <el-button @click="deleteById(scope.row.studentId)" type="danger" size="small">删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="pagination.current"
      :page-sizes="[6, 10]"
      :page-size="pagination.size"
      layout="total, sizes, prev, pager, next, jumper"
      :total="pagination.total"
      class="page">
    </el-pagination>
    <!-- 编辑对话框-->
    <el-dialog
      title="编辑学生信息"
      :visible.sync="dialogVisible"
      width="30%"
      :before-close="handleClose">
      <section class="update">
        <el-form ref="form" :model="form" label-width="80px">
          <el-form-item label="姓名">
            <el-input v-model="form.studentName"></el-input>
          </el-form-item>
          <el-form-item label="性别">
            <el-radio-group v-model="form.sex">
              <el-radio
              v-for="(item,index) in sexs"
              :label="item.label"
              :value="item.value"
              :key="index"></el-radio>
             </el-radio-group>
          </el-form-item>
          <el-form-item label="电话号码">
            <el-input v-model="form.tel"></el-input>
          </el-form-item>
          <el-form-item label="班级">
            <el-select v-model="form.clazz" placeholder="选择所属班级" class="w150">
              <el-option
                v-for="item in clazzs"
                v-if="item.state == 1"
                :key="item.clazzId"
                :label="item.clazzName"
                :value="item.clazzId">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="所教课程">
            <el-select
            v-model="form.courses"
            multiple
            filterable
            allow-create
            default-first-option
            placeholder="选择所教课程,可多选" class="w150">
              <el-option
                v-for="(item,index) in courses"
                v-if="item.state == 1"
                :key="item.courseId"
                :label="item.courseName"
                :value="item.courseId">
              </el-option>
            </el-select>
          </el-form-item>
        </el-form>
      </section>
      <span slot="footer" class="dialog-footer">
        <el-button @click="cancel()">取 消</el-button>
        <el-button type="primary" @click="submit()">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
export default {
  data() {
    return {
      pagination: {
        //分页后的考试信息
        current: 1, //当前页
        total: null, //记录条数
        size: 6, //每页条数
        records: null
      },
      dialogVisible: false, //对话框
      form: {}, //保存点击以后当前试卷的信息
      sexs: [ //分数
        {
          value: '男',
          label: '男'
        },
        {
          value: '女',
          label: '女'
        },
      ],
      professions: [],
      courses: [],
      clazzs: [],
    };
  },
  created() {
    this.getStudentInfo();
    this.getclazzInfo();
    this.getProfessions();
    this.getCourses()
  },
  methods: {
    getStudentInfo() {
      //分页查询所有试卷信息
      this.$axios(`/api/students/${this.pagination.current}/${this.pagination.size}`).then(res => {
        this.pagination.records = res.data.data.content;
        this.pagination.total = res.data.data.totalElements
      }).catch(error => {});
    },
    //改变当前记录条数
    handleSizeChange(val) {
      this.pagination.size = val;
      this.getStudentInfo();
    },
    //改变当前页码，重新发送请求
    handleCurrentChange(val) {
      this.pagination.current = val;
      this.getStudentInfo();
    },
    cancel(){
      this.dialogVisible = false
      console.log(this.form)
    },
    checkGrade(studentId) { //修改学生信息
      this.dialogVisible = true
      this.$axios(`/api/student/${studentId}`).then(res => {
        this.form = res.data.data
        this.form.clazz = this.form.clazz.clazzId
        this.form.courses = this.getIdsFromCourses(this.form.courses)
      })
    },
    changeState(info) {
      this.$axios({
        url: '/api/student',
        method: 'put',
        data: info
      }).then(res => {
        console.log(res)
        if(res.data.code ==200) {
          this.$message({
            message: '更新学生状态成功！',
            type: 'success'
          })
        }
        this.getStudentInfo()
      })
    },
    deleteById(studentId) { //删除当前学生
      this.$confirm("确定删除当前学生吗？删除后无法恢复","Warning",{
        confirmButtonText: '确定删除',
        cancelButtonText: '算了,留着吧',
        type: 'danger'
      }).then(()=> { //确认删除
        this.$axios({
          url: `/api/student/${studentId}`,
          method: 'delete',
        }).then(res => {
          this.getStudentInfo()
        })
      }).catch(() => {

      })
    },
    getIdsFromCourses(courses){
      var result = [];
      for(var i = 0;i < courses.length;i++){
        result.push(courses[i].courseName)
      }
      return result;
    },
    submit() { //提交更改
      this.dialogVisible = false
      // this.form.clazz.clazzName = this.clazzs
      this.$axios({
        url: '/api/student',
        method: 'put',
        data: {
          ...this.form
        }
      }).then(res => {
        console.log(res)
        if(res.data.code ==200) {
          this.$message({
            message: '更新成功',
            type: 'success'
          })
        }
        this.getStudentInfo()
      })
    },
    handleClose(done) { //关闭提醒
      this.$confirm('确认关闭？')
        .then(_ => {
          done();
        }).catch(_ => {});
    },
    getProfessionById(id){
      var arr = this.professions;
      for(var i = 0;i < arr.length;i++){
        if(arr[i].professionId == id){
          return arr[i];
        }
      }
    },
    getProfessions() {
      //查询所有专业信息
      this.$axios(`/api/professions`).then(res => {
        // this.pagination = res.data.data;
        this.professions = res.data.data
        // this.pagination = res.data.data.content;
        console.log(res.data)
      }).catch(error => {});
    },
    getclazzInfo() {
      //分页查询所有教师信息
      this.$axios(`/api/clazzs`).then(res => {
        this.clazzs = res.data.data;
        console.log(this.clazzs)
      }).catch(error => {});
    },
    getCoursesByIds(ids){
      var arr = this.courses;
      var result = [];
      // console.log(ids)
      // console.log(arr)
      for(var i = 0;i < ids.length;i++){
        result.push(arr[ids[i]])
      }
      // console.log(result)
      return result;
    },
    getCourses() {
      //查询所有课程信息
      this.$axios(`/api/courses`).then(res => {
        // this.pagination = res.data.data;
        this.courses = res.data.data
        // this.pagination = res.data.data.content;
        // console.log(this.courses)
      }).catch(error => {});
    },
  }
};
</script>
<style lang="scss" scoped>
.all {
  padding: 0px 40px;
  .page {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .edit {
    margin-left: 20px;
  }
  .el-table tr {
    background-color: #dd5862 !important;
  }
}
.el-table .warning-row {
  background: #000 !important;
}

.el-table .success-row {
  background: #dd5862;
}
</style>
