<template>
  <div class="content">
    <el-backtop :bottom="60"></el-backtop>
    <h1>{{answerData.exam.examName}}-{{answerData.student.studentName}}</h1>
    <el-collapse class="inner" v-model="activeName" accordion>
      <el-collapse-item name="0">
        <template slot="title" name="1">
          <div class="titlei">全卷共{{answerData.answers.length}}题 满分{{answerData.exam.paper.totilScore}}分 得分{{answerData.score}}</div>
        </template>
        <div class="contenti">
          <ul class="question" v-for="(list, index) in answerData.answers" :key="index">
            <li>
              {{index+1}}. {{list.question}} ({{list.score}}分) 难度等级
              <el-rate
                v-model="list.level"
                disabled
                style="display: inline-block;"
                show-score
                text-color="#ff9900"
                score-template={value}>
              </el-rate>
            </li>
            <li v-if="list.questionType == 1">A.{{list.answerA}}<br />B.{{list.answerB}}<br />C.{{list.answerC}}<br />D.{{list.answerD}}</li>
            <li>正确答案: {{list.answer}}</li>
            <li>作答结果: {{list.answ == null ? '未作答' : list.answ}} 得分: {{list.answ == null ? 0 : list.answer == list.answ ? list.score : 0}} <i :class="[list.answer == list.answ ? 'el-icon-success' : 'el-icon-error' ]"></i></li>
            <br />
          </ul>
        </div>
      </el-collapse-item>
    </el-collapse>
  </div>
</template>

<script>
export default {
  data() {
    return {
      answerData: {
        fillQuestions: [],
        judgeQuestions: [],
        multiQuestions: [],
        scoreId: null,
        paperName: null,
        questionNum: null,
        totilScore: null,
      },
      activeName: '0',
    }
  },
  mounted() {
    this.init()
  },
  methods: {
    //初始化页面数据
    init() {
      let scoreId = this.$route.query.scoreId //获取路由传递过来的试卷编号
      this.$axios(`/api/score/${scoreId}`).then(res => {  //通过examCode请求试卷详细信息
        this.answerData = { ...res.data.data}
      })
    },
    goAllPaper(){
      this.$router.push('allPaper')
    },
  }
}
</script>

<style lang="scss" scoped>
h1 {
  text-align: center;
}
.bottom {
  .right{
    .el-button{
      color: #409EFF;
      border-color: #c6e2ff;
      background-color: #ecf5ff;
    }
  }
}
.right {
  margin-left: auto;
}
.inner .contenti .question {
  margin-left: 40px;
  color: #9a9a9a;
  font-size: 14px;
}
.content .inner .titlei {
  margin-left: 20px;
  font-size: 16px;
  color: #88949b;
  font-weight: bold;
}
.content .title .time {
  font-size: 16px;
  margin-left: 420px;
  color: #999;
}
.content .stitle {
  background-color: #0195ff;
}
.content .title span {
  margin-right: 10px;
}
#msg .content .title {
  font-size: 20px;
  margin: 0px;
  display: flex;
  align-items: center;
}
.content {
  margin-top: 20px;
  background-color: #fff;
}
.content .header {
  padding: 10px 30px;
}
.wrapper .info {
  margin: 20px 0px 0px 20px;
  border-top: 1px solid #eee;
  padding: 20px 0px 10px 0px;
}
.wrapper .info a {
  color: #88949b;
  font-size: 14px;
}
.wrapper .info a:hover {
  color: #0195ff;
}
.wrapper .bottom .btn {
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #88949b;
  border-radius: 4px;
}
.wrapper .bottom {
  display: flex;
  margin-left: 20px;
  color: #999;
  font-size: 14px;
  align-items: center;
}
.wrapper .bottom li {
  margin-right: 14px;
}
#msg {
  background-color: #eee;
  width: 980px;
  margin: 0 auto;
}
#msg .title {
  margin: 20px;
}
#msg .wrapper {
  background-color: #fff;
  padding: 10px;
}
.wrapper .top {
  display: flex;
  margin: 20px;
  align-items: center;
}
.wrapper .top .right {
  margin-left: auto;
}
.wrapper .top .example {
  color: #333;
  font-size: 22px;
  font-weight: 700;
}
.wrapper .top li i {
  margin-left: 20px;
  color: #88949b;
}
.wrapper .right .count {
  margin-right: 60px;
  color: #fff;
  padding: 4px 10px;
  background-color: #88949b;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: 1px solid #88949b;
}
.wrapper .right .score {
  position: absolute;
  left: 53px;
  top: -5px;
  padding: 1px 12px;
  font-size: 20px;
  color: #88949b;
  border: 1px dashed #88949b;
  border-left: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  font-weight: bold;
}
.wrapper .right div {
  position: relative;
}
</style>
