// 所有学生
<template>
  <div class="all">
    <el-table :data="pagination.records" border
              :header-cell-style="{'text-align':'center'}"
              :cell-style="{'text-align':'center'}">
      <el-table-column fixed="left" prop="student.studentId" label="学号" width="50"></el-table-column>
      <el-table-column prop="student.studentName" label="姓名" width="80"></el-table-column>
      <el-table-column prop="exam.examName" label="考试名称" width="120"></el-table-column>
      <el-table-column prop="student.clazz.profession.professionName" label="专业" width="120"></el-table-column>
      <el-table-column prop="student.clazz.clazzName" label="班级" width="130"></el-table-column>
      <el-table-column prop="score" label="本次成绩" width="80"></el-table-column>
      <el-table-column prop="exam.paper.totilScore" label="满分" width="80"></el-table-column>
      <el-table-column fixed="right" label="查看成绩详情" width="120">
        <template slot-scope="scope">
          <el-button @click="downloadScoreTable(scope.row.exam.examCode)" type="primary" size="small">下载成绩单</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="pagination.current"
      :page-sizes="[6, 10]"
      :page-size="pagination.size"
      layout="total, sizes, prev, pager, next, jumper"
      :total="pagination.total"
      class="page"
    ></el-pagination>
  </div>
</template>

<script>
export default {
  data() {
    return {
      pagination: {
        //分页后的考试信息
        current: 1, //当前页
        total: null, //记录条数
        size: 6, //每页条数
        records: null
      }
    };
  },
  created() {
    this.getAnswerInfo();
  },
  methods: {
    getAnswerInfo() {
      //分页查询所有成绩信息
      let examCode = this.$route.query.examCode
      this.$axios(`/api/score/${examCode}/${this.pagination.current}/${this.pagination.size}`).then(res => {
        this.pagination.records = res.data.data.content;
        this.pagination.total = res.data.data.totalElements
      }).catch(error => {});
    },
    //改变当前记录条数
    handleSizeChange(val) {
      this.pagination.size = val;
      this.getAnswerInfo();
    },
    //改变当前页码，重新发送请求
    handleCurrentChange(val) {
      this.pagination.current = val;
      this.getAnswerInfo();
    },
    downloadScoreTable(examCode) {
      this.$axios(`/api/score/download/${examCode}`, {
      			responseType: 'blob'
      		}).then((res) =>{
            const url = window.URL.createObjectURL(new Blob([res.data]));
            const link = document.createElement('a');
            const disposition = res.headers['content-disposition'];
            // 获取文件名
            let fileName = disposition.substring(disposition.indexOf('filename=') + 9, disposition.length);
            fileName = decodeURI(fileName)
            link.href = url;
            link.setAttribute('download', fileName);
            document.body.appendChild(link);
            link.click();
        })
    }
  }
};
</script>
<style lang="scss" scoped>
.all {
  padding: 0px 40px;
  .page {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .edit {
    margin-left: 20px;
  }
  .el-table tr {
    background-color: #dd5862 !important;
  }
}
.el-table .warning-row {
  background: #000 !important;
}

.el-table .success-row {
  background: #dd5862;
}
</style>
