<!-- 添加专业 -->
<template>
  <section class="add">
    <el-form ref="form" :model="form" label-width="80px">
          <el-form-item label="班级编号">
            <el-input v-model="form.clazzId"></el-input>
          </el-form-item>
          <el-form-item label="班级名称">
            <el-input v-model="form.clazzName"></el-input>
          </el-form-item>
          <el-form-item label="所属专业">
            <el-select v-model="form.profession" placeholder="选择所属专业" class="w150">
              <el-option
                v-for="item in professions"
                v-if="item.state == 1"
                :key="item.professionId"
                :label="item.professionName"
                :value="item.professionId">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="所属年级">
            <el-select v-model="form.grade" placeholder="选择年级" class="w150">
              <el-option
                v-for="item in grades"
                :key="item"
                :label="item"
                :value="item">
              </el-option>
            </el-select>
          </el-form-item>
        <el-button type="primary" @click="onSubmit()">立即创建</el-button>
        <el-button type="text" @click="cancel()">取消</el-button>
      </el-form-item>
    </el-form>
  </section>
</template>

<script>
export default {
  data() {
    return {
      currentGrade: new Date().getFullYear(),//当前年份
      form: { //表单数据初始化
        clazzId: null,
        clazzName: null,
        grade: null,
        profession: []
      },
      professions: [],
      grades: []
    };
  },
  created() {
    this.grades.push(this.currentGrade-4)
    this.grades.push(this.currentGrade-3)
    this.grades.push(this.currentGrade-2)
    this.grades.push(this.currentGrade-1)
    this.grades.push(this.currentGrade)
    this.grades.push(this.currentGrade+1)
    this.getProfessions();
  },
  methods: {
    onSubmit() { //数据提交
    this.form.profession = this.getProfessionById(this.form.profession)
      this.$axios({
        url: '/api/clazz',
        method: 'post',
        data: {...this.form}
      }).then(res => {
        if(res.data.code == 200) {
          this.$message({
            message: '数据添加成功',
            type: 'success'
          })
          this.$router.push({path: '/clazzManage'})
        }
      })
    },
    getProfessionById(id){
      var arr = this.professions;
      for(var i = 0;i < arr.length;i++){
        if(arr[i].professionId == id){
          return arr[i];
        }
      }
    },
    getProfessions() {
      //查询所有专业信息
      this.$axios(`/api/professions`).then(res => {
        this.professions = res.data.data
      }).catch(error => {});
    },
    cancel() { //取消按钮
    this.form.profession = this.getProfessionById(this.form.profession)
      this.form = {}
    },

  }
};
</script>
<style lang="scss" scoped>
.add {
  padding: 0px 40px;
  width: 400px;
}
</style>
