<!-- 添加专业 -->
<template>
  <section class="add">
    <el-form ref="form" :model="form" label-width="80px">
          <el-form-item label="公告标题">
            <el-input v-model="form.title"></el-input>
          </el-form-item>
          <el-form-item label="公告内容">
            <el-input type="textarea" size="medium" v-model="form.content"></el-input>
          </el-form-item>
        <el-button type="primary" @click="onSubmit()">立即创建</el-button>
        <el-button type="text" @click="cancel()">取消</el-button>
      </el-form-item>
    </el-form>
  </section>
</template>

<script>
export default {
  data() {
    return {
      form: { //表单数据初始化
        title: "",
        content: "",
        time: null,
        adminAnnouncer: null,
        type: 0
      }
    };
  },
  methods: {
    onSubmit() { //数据提交
    this.form.adminAnnouncer = JSON.parse(window.sessionStorage.getItem('userInfo'));
    this.form.time = new Date().getTime();
      this.$axios({
        url: '/api/message',
        method: 'post',
        data: {...this.form}
      }).then(res => {
        if(res.data.code == 200) {
          this.$message({
            message: '数据添加成功',
            type: 'success'
          })
          this.$router.push({path: '/techMessage'})
        }
      })
    },
    cancel() { //取消按钮
      this.form = {}
    },

  }
};
</script>
<style lang="scss" scoped>
.add {
  padding: 0px 40px;
  width: 400px;
}
</style>
