<!-- 添加教师 -->
<template>
  <section class="add">
    <el-form ref="form" :model="form" label-width="80px">
          <el-form-item label="教工号">
            <el-input v-model="form.teacherId"></el-input>
          </el-form-item>
          <el-form-item label="姓名">
            <el-input v-model="form.teacherName"></el-input>
          </el-form-item>
          <el-form-item label="性别">
           <el-radio-group v-model="form.sex">
             <el-radio
             v-for="(item,index) in sexs"
             :label="item.label"
             :value="item.value"
             :key="index"></el-radio>
            </el-radio-group>
          </el-form-item>
          <el-form-item label="电话号码">
            <el-input v-model="form.tel"></el-input>
          </el-form-item>
          <el-form-item label="身份证号">
            <el-input v-model="form.cardId"></el-input>
          </el-form-item>
          <el-form-item label="邮箱">
            <el-input v-model="form.email"></el-input>
          </el-form-item>
          <el-form-item label="所属专业">
            <el-select v-model="form.profession" placeholder="选择所属专业" class="w150">
              <el-option
                v-for="item in professions"
                v-if="item.state == 1"
                :key="item.professionId"
                :label="item.professionName"
                :value="item.professionId">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="所教课程">
            <el-select
            v-model="form.courses"
            multiple
            filterable
            allow-create
            default-first-option
            placeholder="选择所教课程,可多选" class="w150">
              <el-option
                v-for="(item,index) in courses"
                :key="item.courseId"
                :label="item.courseName"
                :value="index">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="职称">
            <el-select v-model="form.job" placeholder="选择职称" class="w150">
              <el-option
                v-for="item in jobs"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="密码">
            <el-input v-model="form.pwd"></el-input>
          </el-form-item>
          <el-form-item label="角色" v-show="false">
            <el-input v-model="form.role"></el-input>
          </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="onSubmit()">立即创建</el-button>
        <el-button type="text" @click="cancel()">取消</el-button>
      </el-form-item>
    </el-form>
  </section>
</template>

<script>
export default {
  data() {
    return {
      form: { //表单数据初始化
        teacherId: null,
        teacherName: null,
        tel: null,
        pwd: null,
        cardId: null,
        sex: null,
        role: 1,
        profession: [],
        courses: [],
        job: null,
        email: null,
      },
      professions: [],
      courses: [],
      jobs: [ //分数
        {
          value: '教授',
          label: '教授'
        },
        {
          value: '副教授',
          label: '副教授'
        },
        {
          value: '讲师',
          label: '讲师'
        },
        {
          value: '助教',
          label: '助教'
        },
      ],
      sexs: [ //分数
        {
          value: '男',
          label: '男'
        },
        {
          value: '女',
          label: '女'
        },
      ]
    };
  },
  created() {
    this.getProfessions()
    this.getCourses()
  },
  methods: {
    onSubmit() { //数据提交
    this.changeSex()
    this.form.profession = this.getProfessionById(this.form.profession)
    this.form.courses = this.getCoursesByIds(this.form.courses)
      this.$axios({
        url: '/api/teacher',
        method: 'post',
        data: {
          ...this.form
        }
      }).then(res => {
        if(res.data.code == 200) {
          this.$message({
            message: '教师信息添加成功',
            type: 'success'
          })
          this.$router.push({path: '/teacherManage'})
        }
      })
    },
    changeSex(){
      if(this.form.sex == 0) this.form.sex = "男"
      if(this.form.sex == 1) this.form.sex = "女"
    },
    cancel() { //取消按钮
    this.changeSex()
    this.form.profession = this.getProfessionById(this.form.profession)
    this.form.courses = this.getCoursesByIds(this.form.courses)
      this.form = {}
    },
    getProfessionById(id){
      var arr = this.professions;
      for(var i = 0;i < arr.length;i++){
        if(arr[i].professionId == id){
          return arr[i];
        }
      }
    },
    getCoursesByIds(ids){
      var arr = this.courses;
      var result = [];
      for(var i = 0;i < ids.length;i++){
        result.push(arr[ids[i]])
      }
      return result;
    },
    getProfessions() {
      //查询所有专业信息
      this.$axios(`/api/professions`).then(res => {
        this.professions = res.data.data
      }).catch(error => {});
    },
    getCourses() {
      //查询所有课程信息
      this.$axios(`/api/courses`).then(res => {
        this.courses = res.data.data
      }).catch(error => {});
    },
  }
};
</script>
<style lang="scss" scoped>
.add {
  padding: 0px 40px;
  width: 400px;
}
</style>
