// 专业管理页面
<template>
  <div class="all">
    <el-table
    :data="pagination.records"
    border
    :header-cell-style="{'text-align':'center'}"
    :cell-style="{'text-align':'center'}">
      <el-table-column fixed="left" prop="courseId" label="课程编号" width="80"></el-table-column>
      <el-table-column prop="courseName" label="课程名称" width="150"></el-table-column>
      <el-table-column prop="profession.professionName" label="所属专业" width="150"></el-table-column>
      <el-table-column label="状态" width="70">
        <template slot-scope="scope">
          <el-switch
              v-model="scope.row.state"
              :active-value=1
              :inactive-value=0
              @change="changeState(scope.row)">
          </el-switch>
        </template>
      </el-table-column>
      <el-table-column fixed="right" label="操作" width="150">
        <template slot-scope="scope">
          <el-button @click="checkGrade(scope.row.courseId)" type="primary" size="small">编辑</el-button>
          <el-button @click="deleteById(scope.row.courseId)" type="danger" size="small">删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page.sync="pagination.current"
      :page-sizes="[6,10]"
      :page-size="pagination.size"
      layout="total, sizes, prev, pager, next, jumper"
      :total="pagination.total"
      class="page">
    </el-pagination>
    <!-- 编辑对话框-->
    <el-dialog
      title="编辑课程信息"
      :visible.sync="dialogVisible"
      width="30%"
      :before-close="handleClose">
      <section class="update">
        <el-form ref="form" :model="form" label-width="80px">
          <el-form-item label="课程名称">
            <el-input v-model="form.courseName"></el-input>
          </el-form-item>
          <el-form-item label="所属学院">
            <el-input v-model="form.profession.school" disabled=""></el-input>
          </el-form-item>
          <el-form-item label="所属专业">
            <el-select v-model="form.profession.professionId" placeholder="选择所属专业" class="w150">
              <el-option
                v-for="item in professions"
                v-if="item.state == 1"
                :key="item.professionId"
                :label="item.professionName"
                :value="item.professionId">
              </el-option>
            </el-select>
          </el-form-item>
        </el-form>
      </section>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="submit()">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
export default {
  data() {
    return {
      currentGrade: new Date().getFullYear(),//当前年份
      pagination: {
        //分页后的考试信息
        current: 1, //当前页
        total: null, //记录条数
        size: 6,//每页条数
        records: null //数据
      },
      dialogVisible: false, //对话框
      form: {
        courseId: null,
        courseName: null,
        profession: {},
      }, //保存点击以后当前试卷的信息
      professions: [],
    };
  },
  created() {
    this.getcourseInfo();
    this.getProfessions();
  },
  methods: {
    getcourseInfo() {
      //分页查询所有教师信息
      this.$axios(`/api/courses/${this.pagination.current}/${this.pagination.size}`).then(res => {
        this.pagination.records = res.data.data.content;
        this.pagination.total = res.data.data.totalElements
      }).catch(error => {});
    },
    getProfessionById(id){
      var arr = this.professions;
      for(var i = 0;i < arr.length;i++){
        if(arr[i].professionId == id){
          return arr[i];
        }
      }
    },
    getProfessions() {
      //查询所有专业信息
      this.$axios(`/api/professions`).then(res => {
        this.professions = res.data.data
      }).catch(error => {});
    },
    //改变当前记录条数
    handleSizeChange(val) {
      this.pagination.size = val;
      this.getcourseInfo();
    },
    //改变当前页码，重新发送请求
    handleCurrentChange(val) {
      this.pagination.current = val;
      this.getcourseInfo();
    },
    checkGrade(courseId) { //修改教师信息
      this.dialogVisible = true
      this.$axios(`/api/course/${courseId}`).then(res => {
        this.form = res.data.data
      })
    },
    changeState(info) {
      this.$axios({
        url: '/api/course',
        method: 'put',
        data: info
      }).then(res => {
        console.log(res)
        if(res.data.code ==200) {
          this.$message({
            message: '更新课程状态成功！',
            type: 'success'
          })
        }
        this.getcourseInfo()
      })
    },
    deleteById(courseId) { //删除当前学生
      this.$confirm("确定删除？删除后无法恢复","Warning",{
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'danger'
      }).then(()=> { //确认删除
        this.$axios({
          url: `/api/course/${courseId}`,
          method: 'delete',
        }).then(res => {
          this.getcourseInfo()
        })
      }).catch(() => {

      })
    },
    submit() { //提交更改
    this.form.profession = this.getProfessionById(this.form.profession.professionId)
      this.dialogVisible = false
      this.$axios({
        url: '/api/course',
        method: 'put',
        data: {
          ...this.form
        }
      }).then(res => {
        console.log(res)
        if(res.data.code ==200) {
          this.$message({
            message: '更新成功',
            type: 'success'
          })
        }
        this.getcourseInfo()
      })
    },
    handleClose(done) { //关闭提醒
      this.$confirm('确认关闭？')
        .then(_ => {
          done();
        }).catch(_ => {});
    },
  }
};
</script>
<style lang="scss" scoped>
.all {
  padding: 0px 40px;
  .page {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .edit {
    margin-left: 20px;
  }
  .el-table tr {
    background-color: #dd5862 !important;
  }
}
.el-table .warning-row {
  background: #000 !important;
}

.el-table .success-row {
  background: #dd5862;
}
</style>
