// 专业管理页面
<template>
  <div class="all">
    <el-table
    :data="pagination.records"
    border
    :header-cell-style="{'text-align':'center'}"
    :cell-style="{'text-align':'center'}">
      <el-table-column fixed="left" prop="messageId" label="消息编号" width="80"></el-table-column>
      <el-table-column prop="title" label="消息标题" width="150"></el-table-column>
      <el-table-column prop="content" label="消息内容" width="350"></el-table-column>
      <el-table-column prop="time" label="发布时间" width="150"></el-table-column>
      <el-table-column prop="studentAnnouncer.studentName" label="发布者" width="150"></el-table-column>
      <el-table-column label="状态" width="70">
        <template slot-scope="scope">
          <el-switch
              v-model="scope.row.state"
              :active-value=1
              :inactive-value=0
              @change="changeState(scope.row)">
          </el-switch>
        </template>
      </el-table-column>
      <el-table-column fixed="right" label="操作" width="200">
        <template slot-scope="scope">
          <el-button @click="showDetails(scope.row.messageId)" type="primary" size="small">查看详情</el-button>
          <el-button @click="deleteById(scope.row.messageId)" type="danger" size="small">删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page.sync="pagination.current"
      :page-sizes="[6,10]"
      :page-size="pagination.size"
      layout="total, sizes, prev, pager, next, jumper"
      :total="pagination.total"
      class="page">
    </el-pagination>
    <el-dialog
      title="消息详情"
      :visible.sync="dialogVisible"
      v-if="msg != null"
      width="50%">
      <div class="wrapper">
        <div class="all">
          <ul class="msglist">
            <li class="list">
              <p class="title"> <i class="iconfont icon-untitled33"></i>{{msg.title}} <i class="el-icon-user"></i>{{msg.studentAnnouncer.studentName}}</p>
              <p class="content">{{msg.content}}</p>
              <p class="date"><i class="iconfont icon-date"></i>{{msg.time}}</p>
              <div v-for="(replayData,index) in msg.replays" :key="index">
                <p class="comment">
                  <i class="iconfont icon-huifuxiaoxi"></i>
                  <i class="el-icon-user"></i>
                  {{replayData.studentResponder == null ? replayData.teacherResponder.teacherName : replayData.studentResponder.studentName}}
                  <i class="el-icon-time"></i>
                  {{replayData.replayTime}}
                  {{replayData.replay}}
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </el-dialog>
  </div>
</template>

<script>
export default {
  data() {
    return {
      pagination: {
        //分页后的考试信息
        current: 1, //当前页
        total: null, //记录条数
        size: 6,//每页条数
        records: null //数据
      },
      dialogVisible: false, //对话框
      form: {}, //保存点击以后当前试卷的信息
      msg: null,
    };
  },
  created() {
    this.getMsg();
  },
  methods: {
    getMsg() {
      // console.log(this.pagination)
      this.$axios(`/api/messages/1/${this.pagination.current}/${this.pagination.size}`).then(res => {
        let status = res.data.code
        if(status == 200) {
          this.pagination.records = res.data.data.content
          this.pagination.total = res.data.data.totalElements
          console.log(this.pagination.records)
        }
      })
    },
    changeState(info) {
      this.$axios({
        url: '/api/message',
        method: 'put',
        data: info
      }).then(res => {
        console.log(res)
        if(res.data.code ==200) {
          this.$message({
            message: '更新消息状态成功！',
            type: 'success'
          })
        }
        this.getMsg()
      })
    },
    //改变当前记录条数
    handleSizeChange(val) {
      this.pagination.size = val;
      this.getMsg();
    },
    //改变当前页码，重新发送请求
    handleCurrentChange(val) {
      this.pagination.current = val;
      this.getMsg();
    },
    showDetails(messageId) { //修改教师信息
      this.$axios(`/api/message/${messageId}`).then(res => {
        let status = res.data.code
        if(status == 200) {
          this.msg = res.data.data
        }
      })
      this.dialogVisible = true
    },
    deleteById(professionId) { //删除当前学生
      this.$confirm("确定删除？删除后无法恢复","Warning",{
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'danger'
      }).then(()=> { //确认删除
        this.$axios({
          url: `/api/profession/${professionId}`,
          method: 'delete',
        }).then(res => {
          this.getMsg()
        })
      }).catch(() => {

      })
    },
    handleClose(done) { //关闭提醒
      this.$confirm('确认关闭？')
        .then(_ => {
          done();
        }).catch(_ => {});
    },
  }
};
</script>
<style lang="scss" scoped>
.all {
  padding: 0px 40px;
  .page {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .edit {
    margin-left: 20px;
  }
  .el-table tr {
    background-color: #dd5862 !important;
  }
}
.el-table .warning-row {
  background: #000 !important;
}

.el-table .success-row {
  background: #dd5862;
}
.wrapper .info {
  margin: 20px 0px 0px 20px;
  border-top: 1px solid #eee;
  padding: 20px 0px 10px 0px;
}
.wrapper .info a {
  color: #88949b;
  font-size: 14px;
}
.wrapper .info a:hover {
  color: #0195ff;
}
.wrapper .bottom .btn {
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #88949b;
  border-radius: 4px;
}
.wrapper .bottom {
  display: flex;
  margin-left: 20px;
  color: #999;
  font-size: 14px;
  align-items: center;
}
.wrapper .bottom li {
  margin-right: 14px;
}
#msg {
  background-color: #eee;
  width: 980px;
  margin: 0 auto;
}
#msg .title {
  margin: 20px;
}
#msg .wrapper {
  background-color: #fff;
  padding: 10px;
}
.wrapper .top {
  display: flex;
  margin: 20px;
  align-items: center;
}
.wrapper .top .right {
  margin-left: auto;
}
.wrapper .top .example {
  color: #333;
  font-size: 22px;
  font-weight: 700;
}
.wrapper .top li i {
  margin-left: 20px;
  color: #88949b;
}
.wrapper .right .count {
  margin-right: 60px;
  color: #fff;
  padding: 4px 10px;
  background-color: #88949b;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: 1px solid #88949b;
}
.wrapper .right .score {
  position: absolute;
  left: 53px;
  top: -5px;
  padding: 1px 12px;
  font-size: 20px;
  color: #88949b;
  border: 1px dashed #88949b;
  border-left: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  font-weight: bold;
}
.wrapper .right div {
  position: relative;
}
</style>
