<template>
  <div class="contents">
    <ul class="paper">
      <li class="item">
        <el-card class="box-card">
          <div slot="header" class="clearfix">
            <span><i class="el-icon-cpu"></i>CPU信息</span>
          </div>
            系统时间: {{newTime}}<br />
            <el-progress
              v-for="(cpu,index) in sysInfo.cpu"
              :key="index"
              type="dashboard"
              :width=70
              :percentage=cpu.cpuUsage
              :color="setColor(cpu.cpuUsage)"
              :format="cpuFormat(index,cpu.cpuUsage)"></el-progress>
            <div style="margin: auto;" type="text">
              CPU: {{sysInfo.cpu[0].model}}<br />
              核心数: {{sysInfo.cpu[0].cores}}<br />
              操作系统: {{sysInfo.os.osMaker}} {{sysInfo.os.osName}} {{sysInfo.os.osArch}}<br />
              操作系统版本: {{sysInfo.os.osVersion}}
            </div>
        </el-card>
      </li>
      <li class="item">
        <el-card class="box-card">
          <div slot="header" class="clearfix">
            <span>内存信息</span>
          </div>
          <el-progress
            type="dashboard"
            :percentage="sysInfo.memory.phyUsage"
            :color="setColor(sysInfo.memory.phyUsage)"
            :format="memoryFormat(sysInfo.memory.phyUsage)"></el-progress>
          <el-progress
          type="dashboard"
          :percentage="sysInfo.memory.swapUsage"
          :color="setColor(sysInfo.memory.swapUsage)"
          :format="swapFormat(sysInfo.memory.swapUsage)"></el-progress>
          <div style="float: right;" type="text">
            内存大小: {{sysInfo.memory.phyTotal}}GB<br />
            已使用: {{sysInfo.memory.phyUsed}}GB<br />
            空闲数: {{sysInfo.memory.phyFree}}GB<br />
            SWAP大小: {{sysInfo.memory.swapTotal}}GB<br />
            SWAP已使用: {{sysInfo.memory.swapUsed}}GB<br />
            SWAP空闲数: {{sysInfo.memory.swapFree}}GB<br />
          </div>
        </el-card>
      </li>
      <li class="item">
        <el-card class="box-card">
          <div slot="header" class="clearfix">
            <span>磁盘信息</span>
          </div>
          <div v-for="(item,index) in sysInfo.disk ":key="index">
            <el-progress :percentage="item.diskUsage" :color="setColor(item.diskUsage)"></el-progress>
            <span>
              {{item.diskName}}
              总空间: {{item.diskTotal}}GB
              已使用: {{item.diskUsed}}GB
              空闲空间: {{item.diskFree}}GB
            </span>
          </div>
        </el-card>
      </li>
      <li class="item">
        <el-card class="box-card">
          <div slot="header" class="clearfix">
            <span>网络信息</span>
          </div>
          <el-progress
            type="dashboard"
            :percentage="percentage(sysInfo.netWork.txbps)"
            color="#5cb87a"
            :format="txFormat(sysInfo.netWork.txbps)"></el-progress>
          <el-progress
          type="dashboard"
          :percentage="percentage(sysInfo.netWork.rxbps)"
          color="#1989fa"
          :format="rxFormat(sysInfo.netWork.rxbps)"></el-progress>
          <div style="float: right;" type="text">
            网卡名称: {{sysInfo.netWork.netFaceName}}<br />
            下载流量: {{this.flowFormat(sysInfo.netWork.rxFlow)}}<br />
            上传流量: {{this.flowFormat(sysInfo.netWork.txFlow)}}<br />
            总流量: {{this.flowFormat(sysInfo.netWork.rxFlow+sysInfo.netWork.txFlow)}}<br />
          </div>
        </el-card>
      </li>
    </ul>
  </div>
</template>

<script>
  const days = ['天', '一', '二', '三', '四', '五', '六']; // 星期数组
  var icnow = new Date();      // 初始化时间
  var interval;                // 定义全局定时器，用于清除定时器
   export default {
      data() {
        return {
          flushTimer: 2000,
          sysInfo: {
            cpu: {

            },
            memory: {

            },
          },
          loading: true,
          year: icnow.getFullYear(),
          month: icnow.getMonth() + 1,
          date: icnow.getDate(),
          day: days[icnow.getDay() - 1],
          time: icnow.toTimeString().substring(0, 8),
          sysDate: null,
        };
      },
      created(){
        this.getSystemDate()
        this.getSysInfo()
        interval = setInterval(() =>{
              let icnow = new Date();
                this.year = icnow.getFullYear();
                this.month = icnow.getMonth() + 1;
                this.date = icnow.getDate();
                this.day = days[icnow.getDay()];
                this.time = icnow.toTimeString().substring(0, 8);
            }, 1000)
      },
      computed: {
            // 当前时间
            newTime: function () {
              return this.year + '年' + this.month + '月' + this.date + '日 星期' + this.day + ' ' + this.time;
            },
            beforeDestroy () {
                clearInterval(interval);
            },
      },
      methods: {
        getSysInfo() {
          setInterval(() => {
            this.$axios('/api/sysInfo').then(res =>{
              this.sysInfo = res.data.data
            })
          },this.flushTimer)
        },
        getSystemDate(){
          this.$axios('/api/systemDate')
          .then(res => {
            this.sysDate = res.data.data
          })
        },
        flushData(){
          this.getSysInfo()
        },
        cpuFormat(index,usage){
          return ()=>{
            return `核心${index}: ${usage}%`;
          }
        },
        swapFormat(usage){
          return ()=>{
            return `SWAP占用率: ${usage}%`;
          }
        },
        memoryFormat(usage){
          return ()=>{
            return `内存占用率: ${usage}%`;
          }
        },
        rxFormat(usage){
          return ()=>{
            if(usage/1000 > 1000) return `下载速率: ${(usage/1000/1000/8).toFixed(2)}MB/s`;
            return `下载速率: ${(usage/1000/8).toFixed(2)}KB/s`;
          }
        },
        txFormat(usage){
          return ()=>{
            if(usage/1000 > 1000) return `传出速率: ${(usage/1000/1000/8).toFixed(2)}MB/s`;
            return `上传速率: ${(usage/1000/8).toFixed(2)}KB/s`;
          }
        },
        flowFormat(flow){
          if(flow/1000/1000 >1000) return (flow/1000/1000/1000).toFixed(2)+"GB";
          if(flow/1000 >1000) return (flow/1000/1000).toFixed(2)+"MB";
          return (int)(flow/1000).toFixed(2)+"KB";
        },
        setColor(usage){
          if(usage < 40) return '#5cb87a';
          if(usage < 70) return '#e6a23c';
          if(usage < 100) return '#f56c6c';
        },
        percentage(percentage){
          if (percentage /1000 > 1000) return percentage/1000/1000/10;
          return percentage/1000/10;
        },
      }
    }
</script>

<style>
  .contents{
    margin-left: 50px;
  }
  .text {
    font-size: 14px;
  }

  .item {
    margin-bottom: 18px;
    display: inline-block;
  }

  .clearfix:before,
  .clearfix:after {
    display: table;
    content: "";
  }
  .clearfix:after {
    clear: both
  }

  .box-card {
    width: 470px;
    display: inline-block;
    height: 260px;
    margin: 0 15px;
    /* float: left; */
  }
  .paper {
    margin: auto;
  }
  .paper .item a {
    color: #000;
  }
</style>
