// 教师管理页面
<template>
  <div class="all">
    <el-table
      :data="pagination.records"
      border
      :header-cell-style="{'text-align':'center'}"
      :cell-style="{'text-align':'center'}">
        <el-table-column fixed="left" prop="teacherId" label="教工号" width="80"></el-table-column>
        <el-table-column prop="teacherName" label="姓名" width="80"></el-table-column>
        <el-table-column prop="profession.school" label="学院" width="120"></el-table-column>
        <el-table-column prop="sex" label="性别" width="60"></el-table-column>
        <el-table-column prop="tel" label="联系方式" width="120"></el-table-column>
        <el-table-column prop="cardId" label="身份证号" width="180"></el-table-column>
        <el-table-column prop="profession.professionName" label="所属专业" width="180"></el-table-column>
        <el-table-column prop="job" label="职称" width="100"></el-table-column>
        <el-table-column label="状态" width="70">
          <template slot-scope="scope">
            <el-switch
                v-model="scope.row.state"
                :active-value=1
                :inactive-value=0
                @change="changeState(scope.row)">
            </el-switch>
          </template>
        </el-table-column>
        <el-table-column fixed="right" label="操作" width="150">
          <template slot-scope="scope">
            <el-button @click="checkGrade(scope.row.teacherId)" type="primary" size="small">编辑</el-button>
            <el-button @click="deleteById(scope.row.teacherId)" type="danger" size="small">删除</el-button>
          </template>
        </el-table-column>
    </el-table>
    <el-pagination
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page.sync="pagination.current"
      :page-sizes="[6,10]"
      :page-size="pagination.size"
      layout="total, sizes, prev, pager, next, jumper"
      :total="pagination.total"
      class="page">
    </el-pagination>
    <!-- 编辑对话框-->
    <el-dialog
      title="编辑教师信息"
      :visible.sync="dialogVisible"
      width="31%"
      :before-close="handleClose">
      <section class="update">
        <el-form ref="form" :model="form" label-width="80px">
          <el-form-item label="姓名">
            <el-input v-model="form.teacherName"></el-input>
          </el-form-item>
          <el-form-item label="性别">
            <el-radio-group v-model="form.sex">
              <el-radio
              v-for="(item,index) in sexs"
              :key="index"
              :label="item.label"
              :value="item.value"></el-radio>
            </el-radio-group>
          </el-form-item>
          <el-form-item label="电话号码">
            <el-input v-model="form.tel"></el-input>
          </el-form-item>
          <el-form-item label="身份证号">
            <el-input v-model="form.cardId"></el-input>
          </el-form-item>
          <el-form-item label="邮箱">
            <el-input v-model="form.email"></el-input>
          </el-form-item>
          <el-form-item label="所属专业">
            <el-select v-model="form.profession" placeholder="选择所属专业" class="w150">
              <el-option
                v-for="item in professions"
                v-if="item.state == 1"
                :key="item.professionId"
                :label="item.professionName"
                :value="item.professionId">
              </el-option>
            </el-select>
          </el-form-item>

          <el-form-item label="所教课程">
            <el-select
            v-model="form.courses"
            multiple
            filterable
            allow-create
            default-first-option
            placeholder="选择所教课程,可多选" class="w150">
              <el-option
                v-for="(item,index) in courses"
                :key="item.courseId"
                :label="item.courseName"
                :value="index">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="职称">
            <el-select v-model="form.job" placeholder="选择职称" class="w150">
              <el-option
                v-for="(item,index) in jobs"
                :key="index"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
        </el-form>
      </section>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="submit()">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
export default {
  data() {
    return {
      pagination: {
        //分页后的考试信息
        current: 1, //当前页
        total: null, //记录条数
        size: 6,//每页条数
        records: null //数据
      },
      dialogVisible: false, //对话框
      form: {}, //保存点击以后当前试卷的信息
      professions: [],
      courses: [],
      jobs: [ //分数
        {
          value: '教授',
          label: '教授'
        },
        {
          value: '副教授',
          label: '副教授'
        },
        {
          value: '讲师',
          label: '讲师'
        },
        {
          value: '助教',
          label: '助教'
        },
      ],
      sexs: [ //分数
        {
          value: '男',
          label: '男'
        },
        {
          value: '女',
          label: '女'
        },
      ],
    };
  },
  created() {
    this.getTeacherInfo();
    this.getProfessions()
    this.getCourses()
    this.unchangeSex()
  },
  methods: {
    getTeacherInfo() {
      //分页查询所有教师信息
      this.$axios(`/api/teachers/${this.pagination.current}/${this.pagination.size}`).then(res => {
        this.pagination.records = res.data.data.content;
        this.pagination.total = res.data.data.totalElements
      }).catch(error => {});
    },
    changeState(info) {
      this.$axios({
        url: '/api/teacher',
        method: 'put',
        data: info
      }).then(res => {
        if(res.data.code ==200) {
          this.$message({
            message: '更新教师状态成功！',
            type: 'success'
          })
        }
        this.getTeacherInfo()
      })
    },
    //改变当前记录条数
    handleSizeChange(val) {
      this.pagination.size = val;
      this.getTeacherInfo();
    },
    //改变当前页码，重新发送请求
    handleCurrentChange(val) {
      this.pagination.current = val;
      this.getTeacherInfo();
    },
    checkGrade(teacherId) { //修改教师信息
      this.$axios(`/api/teacher/${teacherId}`).then(res => {
        this.form = res.data.data
        this.form.courses = this.getIdsFromCourses(this.form.courses)
        this.form.profession = this.form.profession.professionId
      })
      this.dialogVisible = true
    },
    deleteById(teacherId) { //删除当前学生
      this.$confirm("确定删除当前教师吗？删除后无法恢复","Warning",{
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'danger'
      }).then(()=> { //确认删除
        this.$axios({
          url: `/api/teacher/${teacherId}`,
          method: 'delete',
        }).then(res => {
          this.getTeacherInfo()
        })
      }).catch(() => {

      })
    },
    changeSex(){
      if(this.form.sex == 0) this.form.sex = "男"
      if(this.form.sex == 1) this.form.sex = "女"
    },
    unchangeSex(){
      if(this.form.sex == '男') this.form.sex = 0
      if(this.form.sex == '女') this.form.sex = 1
    },
    submit() { //提交更改
      this.dialogVisible = false
      this.changeSex()
      this.form.profession = this.getProfessionById(this.form.profession)
      this.form.courses = this.getCoursesByIds(this.form.courses)
      this.$axios({
        url: '/api/teacher',
        method: 'put',
        data: {
          ...this.form
        }
      }).then(res => {
        if(res.data.code ==200) {
          this.$message({
            message: '更新成功',
            type: 'success'
          })
        }
        this.getTeacherInfo()
      })
    },
    handleClose(done) { //关闭提醒
      this.$confirm('确认关闭？')
        .then(_ => {
          done();
        }).catch(_ => {});
    },
    getProfessionById(id){
      var arr = this.professions;
      for(var i = 0;i < arr.length;i++){
        if(arr[i].professionId == id){
          return arr[i];
        }
      }
    },
    getCoursesByIds(ids){
      var arr = this.courses;
      var result = [];
      for(var i = 0;i < ids.length;i++){
        result.push(arr[ids[i]])
      }
      return result;
    },
    getIdsFromCourses(courses){
      var result = [];
      for(var i = 0;i < courses.length;i++){
        result.push(courses[i].courseName)
      }
      return result;
    },
    getProfessions() {
      //查询所有专业信息
      this.$axios(`/api/professions`).then(res => {
        this.professions = res.data.data
      }).catch(error => {});
    },
    getCourses() {
      //查询所有课程信息
      this.$axios(`/api/courses`).then(res => {
        this.courses = res.data.data
      }).catch(error => {});
    },
  }
};
</script>
<style lang="scss" scoped>
.all {
  padding: 0px 40px;
  .page {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .edit {
    margin-left: 20px;
  }
  .el-table tr {
    background-color: #dd5862 !important;
  }
}
.el-table .warning-row {
  background: #000 !important;
}

.el-table .success-row {
  background: #dd5862;
}
</style>
