// 专业管理页面
<template>
  <div class="all">
    <el-table
    :data="pagination.records"
    border
    :header-cell-style="{'text-align':'center'}"
    :cell-style="{'text-align':'center'}">
      <el-table-column fixed="left" prop="messageId" label="公告编号" width="80"></el-table-column>
      <el-table-column prop="title" label="公告标题" width="150"></el-table-column>
      <el-table-column prop="content" label="公告内容" width="350"></el-table-column>
      <el-table-column prop="time" label="发布时间" width="150"></el-table-column>
      <el-table-column prop="adminAnnouncer.adminName" label="发布者" width="150"></el-table-column>
      <el-table-column label="状态" width="70">
        <template slot-scope="scope">
          <el-switch
              v-model="scope.row.state"
              :active-value=1
              :inactive-value=0
              @change="changeState(scope.row)">
          </el-switch>
        </template>
      </el-table-column>
      <el-table-column fixed="right" label="操作" width="150">
        <template slot-scope="scope">
          <el-button @click="checkGrade(scope.row.messageId)" type="primary" size="small">编辑</el-button>
          <el-button @click="deleteById(scope.row.messageId)" type="danger" size="small">删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page.sync="pagination.current"
      :page-sizes="[6,10]"
      :page-size="pagination.size"
      layout="total, sizes, prev, pager, next, jumper"
      :total="pagination.total"
      class="page">
    </el-pagination>
    <!-- 编辑对话框-->
    <el-dialog
      title="编辑公告信息"
      :visible.sync="dialogVisible"
      width="30%"
      :before-close="handleClose">
      <section class="update">
        <el-form ref="form" :model="form" label-width="80px">
          <el-form-item label="公告标题">
            <el-input v-model="form.title"></el-input>
          </el-form-item>
          <el-form-item label="公告内容">
            <el-input type="textarea" size="medium" v-model="form.content"></el-input>
          </el-form-item>
        </el-form>
      </section>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="submit()">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
export default {
  data() {
    return {
      pagination: {
        //分页后的考试信息
        current: 1, //当前页
        total: null, //记录条数
        size: 6,//每页条数
        records: null //数据
      },
      dialogVisible: false, //对话框
      form: {}, //保存点击以后当前试卷的信息
    };
  },
  created() {
    this.getMsg();
  },
  methods: {
    getMsg() {
      // console.log(this.pagination)
      this.$axios(`/api/messages/0/${this.pagination.current}/${this.pagination.size}`).then(res => {
        let status = res.data.code
        if(status == 200) {
          this.pagination.records = res.data.data.content
          this.pagination.total = res.data.data.totalElements
          console.log(this.pagination.records)
        }
      })
    },
    changeState(info) {
      this.$axios({
        url: '/api/message',
        method: 'put',
        data: info
      }).then(res => {
        console.log(res)
        if(res.data.code ==200) {
          this.$message({
            message: '更新公告状态成功！',
            type: 'success'
          })
        }
        this.getMsg()
      })
    },
    //改变当前记录条数
    handleSizeChange(val) {
      this.pagination.size = val;
      this.getprofessionInfo();
    },
    //改变当前页码，重新发送请求
    handleCurrentChange(val) {
      this.pagination.current = val;
      this.getprofessionInfo();
    },
    checkGrade(messageId) { //修改教师信息
      this.dialogVisible = true
      this.$axios(`/api/message/${messageId}`).then(res => {
        this.form = res.data.data
      })
    },
    deleteById(messageId) { //删除当前学生
      this.$confirm("确定删除？删除后无法恢复","Warning",{
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'danger'
      }).then(()=> { //确认删除
        this.$axios({
          url: `/api/message/${messageId}`,
          method: 'delete',
        }).then(res => {
          this.getMsg()
        })
      }).catch(() => {

      })
    },
    submit() { //提交更改
      this.dialogVisible = false
      this.$axios({
        url: '/api/message',
        method: 'put',
        data: {
          ...this.form
        }
      }).then(res => {
        console.log(res)
        if(res.data.code ==200) {
          this.$message({
            message: '更新成功',
            type: 'success'
          })
        }
        this.this.getMsg()
      })
    },
    handleClose(done) { //关闭提醒
      this.$confirm('确认关闭？')
        .then(_ => {
          done();
        }).catch(_ => {});
    },
  }
};
</script>
<style lang="scss" scoped>
.all {
  padding: 0px 40px;
  .page {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .edit {
    margin-left: 20px;
  }
  .el-table tr {
    background-color: #dd5862 !important;
  }
}
.el-table .warning-row {
  background: #000 !important;
}

.el-table .success-row {
  background: #dd5862;
}
</style>
