<!--考生答题界面-->
<template>
  <div id="answer">
    <!--顶部信息栏-->
     <div class="top">
       <ul class="item">
         <li><i class="iconfont icon-menufold icon20" ref="toggle" @click="slider_flag = !slider_flag"></i></li>
         <li>{{examData.type}}-{{examData.examName}}</li>

         <li @click="flag = !flag">
           姓名：{{userInfo.name}}-
           准考证号:  {{userInfo.id}}
           <i class="iconfont icon-user icon20"></i>
           <!-- <div class="msg"  v-if="flag" @click="flag = !flag">
             <p>姓名：{{userInfo.name}}</p>
             <p>准考证号:  {{userInfo.id}}</p>
           </div> -->
         </li>
         <li><i class="iconfont icon-arrLeft icon20"></i></li>
       </ul>
     </div>
     <div class="flexarea">
        <!--左边题目编号区-->
        <transition name="slider-fade">
          <div class="left" v-if="slider_flag">
            <ul class="l-top">
              <li>
                <a href="javascript:;"></a>
                <span>当前</span>
              </li>
              <li>
                <a href="javascript:;"></a>
                <span>未答</span>
              </li>
              <li>
                <a href="javascript:;"></a>
                <span>已答</span>
              </li>
              <li>
                <a href="javascript:;"></a>
                <span>标记</span>
              </li>
            </ul>
            <div class="l-bottom">
              <div class="item">
                <p>选择题部分</p>
                <ul>
                  <li v-for="(list, index1) in paper.multiQuestions" :key="index1">
                    <!-- <p>{{list.question}}</p> -->
                    <a href="javascript:;"
                      @click="change(index1)"
                      :class="{'border': index == index1 && questions[index].questionType == 1,
                      'bg': bg_flag && paper.multiQuestions[index1].click == true}">
                      <span :class="{'mark': paper.multiQuestions[index1].isMark == true}"></span>
                      {{index1+1}}
                    </a>
                  </li>
                </ul>
              </div>
              <div class="item">
                <p>填空题部分</p>
                <ul>
                  <li v-for="(list, index2) in paper.fillQuestions" :key="index2">
                    <a href="javascript:;"
                    @click="fill(index2)"
                    :class="{'border': index == index2+multiNum && questions[index].questionType == 2,
                    'bg': bg_flag && paper.fillQuestions[index2].click == true}">
                    <span
                    :class="{'mark': paper.fillQuestions[index2].isMark == true}">
                    </span>{{multiNum+index2+1}}</a>
                  </li>
                </ul>
              </div>
              <div class="item">
                <p>判断题部分</p>
                <ul>
                  <li v-for="(list, index3) in paper.judgeQuestions" :key="index3">
                    <a href="javascript:;"
                    @click="judge(index3)"
                    :class="{'border': index == index3+multiNum+fillNum && questions[index].questionType == 3,
                    'bg': bg_flag && paper.judgeQuestions[index3].click == true}">
                    <span
                    :class="{'mark': paper.judgeQuestions[index3].isMark == true}">
                    </span>{{multiNum+fillNum+index3+1}}</a>
                  </li>
                </ul>
              </div>
              <div class="final" @click="commit()">结束考试</div>
            </div>
          </div>
        </transition>
        <!--右边选择答题区-->
        <transition name="slider-fade">
        <div class="right">
          <div class="title">
            <p>{{title}}</p>
            <i class="iconfont icon-right auto-right"></i>
            <span>全卷共{{paper.questionNum}}题  <i class="iconfont icon-time"></i>剩余时间：<b>{{timeShow}}</b></span>
          </div>
          <div class="content">
            <p class="paper"><span class="number">{{index+1}}</span>{{questions[index].question}}</p>
            <div v-if="questions[index].questionType == 1">
              <el-radio-group v-model="answer[index].answ" @change="getChangeLabel(questions[index].questionId)" >
                <el-radio label="A">{{questions[index].answerA}}</el-radio>
                <el-radio label="B">{{questions[index].answerB}}</el-radio>
                <el-radio label="C">{{questions[index].answerC}}</el-radio>
                <el-radio label="D">{{questions[index].answerD}}</el-radio>
              </el-radio-group>
              <div class="analysis" v-if="type == 2 && showAnswer == true">
                <ul>
                  <li> <el-tag type="success">正确姿势：</el-tag><span class="right">{{questions[index].answer}}</span></li>
                  <li><el-tag>题目解析：</el-tag></li>
                  <li>{{questions[index].analysis == null ? '暂无解析': questions[index].analysis}}</li>
                </ul>
              </div>
            </div>
            <div class="fill" v-if="questions[index].questionType == 2">
              <el-input placeholder="请填在此处"
                v-model="answer[index].answ"
                clearable=""
                @blur="fillBG()">
              </el-input>
              <div class="analysis" v-if="isPractice">
                <ul>
                  <li> <el-tag type="success">正确姿势：</el-tag><span class="right">{{questions[index].answer}}</span></li>
                  <li><el-tag>题目解析：</el-tag></li>
                  <li>{{questions[index].analysis == null ? '暂无解析': questions[index].analysis}}</li>
                </ul>
              </div>
            </div>
            <div class="judge" v-if="questions[index].questionType == 3">
              <el-radio-group v-model="answer[index].answ" @change="getJudgeLabel" v-if="questions[index].questionType == 3">
                <el-radio label="T">正确</el-radio>
                <el-radio label="F">错误</el-radio>
              </el-radio-group>
              <div class="analysis" v-if="isPractice">
                <ul>
                  <li> <el-tag type="success">正确姿势：</el-tag><span class="right">{{questions[index].answer}}</span></li>
                  <li><el-tag>题目解析：</el-tag></li>
                  <li>{{questions[index].analysis == null ? '暂无解析': questions[index].analysis}}</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="operation">
            <ul class="end">
              <li @click="previous()"><i class="iconfont icon-previous"></i><span>上一题</span></li>
              <li @click="mark()"><i class="iconfont icon-mark-o"></i><span>标记</span></li>
              <li @click="next()"><span>下一题</span><i class="iconfont icon-next"></i></li>
            </ul>
          </div>
        </div>
        </transition>
     </div>
  </div>
</template>

<script>
import store from '@/vuex/store'
import {mapState} from 'vuex'
export default {
  store,
  data() {
    return {
      student: null,// 学生信息
      startTime: null, //考试开始时间
      endTime: null, //考试结束时间
      type: null,// 考试类型，若为练习模式则获答案
      showAnswer: false,// 显示答案，默认为不显示
      time: null, //考试持续时间
      bg_flag: false, //已答标识符,已答改变背景色
      isFillClick: false, //选择题是否点击标识符
      slider_flag: true, //左侧显示隐藏标识符
      flag: false, //个人信息显示隐藏标识符
      title: "请选择正确的选项",
      index: 0, //全局index
      userInfo: { //用户信息
        name: null,
        id: null
      },
      mulitAnswer: null,// 保存当前选择题答案
      fillAnswer: null,// 保存当前填空题答案
      judgeAnswer: null,// 保存当前判断题答案
      answer: [{}],// 保存当前作答数据
      answers: [],// 保存从服务端获取到的作答数据
      examData: { //考试信息
      },
      paper: {  //试卷信息
        fillQuestions: [],
        judgeQuestions: [],
        multiQuestions: [],
        paperId: null,
        paperName: null,
        questionNum: null,
        totilScore: null,
      },
      fillQuestions: [],// 填空题
      judgeQuestions: [],// 判断题
      multiQuestions: [],// 选择题
      fillNum: 0,
      judgeNum: 0,
      multiNum: 0,
      questions: [],// 所有题目
      timeShow: null,// 倒计时
    }
  },
  created() {
    this.getUserInfo()
    this.getExamData()
    this.getAnswer()
    this.showTime()
  },
  methods: {
    getUserInfo() {  //获取用户信息
      this.student = JSON.parse(window.sessionStorage.getItem('userInfo'));
      this.userInfo.name = this.student.studentName
      this.userInfo.id = this.student.studentId
    },
    calcuScore() { //计算答题分数

    },
    getExamData() { //获取当前试卷所有信息
      let examCode = this.$route.query.examCode //获取路由传递过来的试卷编号
      this.type = this.$route.query.type
      this.$axios(`/api/exam/${this.type}/${examCode}`).then(res => {  //通过examCode请求试卷详细信息
        this.examData = { ...res.data.data} //获取考试详情
        this.index = 0
        this.startTime = new Date().getTime()
        this.time = this.examData.examDuration //获取分钟数
        let paperId = this.examData.paperId
        this.paper = this.examData.paper
        this.multiNum = this.paper.multiQuestions.length
        this.fillNum = this.paper.fillQuestions.length
        this.judgeNum = this.paper.judgeQuestions.length
        this.multiQuestions = this.paper.multiQuestions
        this.fillQuestions = this.paper.fillQuestions
        this.judgeQuestions = this.paper.judgeQuestions
        // 构造questions实体
        for(var i = 0;i < this.paper.multiQuestions.length;i++){
          this.questions.push(this.paper.multiQuestions[i])
          this.questions[i].answ = null
        }
        for(var i = 0;i < this.paper.fillQuestions.length;i++){
          this.questions.push(this.paper.fillQuestions[i])
          this.questions[i+this.multiQuestions.length].answ = null
        }
        for(var i = 0;i < this.paper.judgeQuestions.length;i++){
          this.questions.push(this.paper.judgeQuestions[i])
          this.questions[i+this.multiQuestions.length+this.fillQuestions.length].answ = null
        }
      })
    },
    getAnswer(){
      // 获取作答结果
      this.$axios( `/api/answer/${this.$route.query.examCode}/${this.student.studentId}`).then(res => {
        this.answers = res.data.data
        console.log(this.answers)
        if(this.answers.length){
          for(var i = 0;i < this.answers.length;i++){
            this.answer[i] = this.answers[i]
          }
        }
      })
      this.answer = this.questions
    },
    change(index) { //选择题
      this.index = index
      this.title = "请选择正确的选项"
    },
    fillBG(qId) { //填空题已答题目 如果已答该题目,设置第四个元素为true为标识符
      let data = this.paper.fillQuestions
      this.bg_flag = true
      data[this.index-this.multiQuestions.length].click = true
      // 产生唯一作答Id
      if(this.answer[this.index].answerId == undefined){
        this.answer[this.index].answerId = new Date().getTime()
      }
      this.answer[this.index].student = JSON.parse(JSON.stringify(this.student))
      this.answer[this.index].exam = JSON.parse(JSON.stringify(this.examData))
      var answers = JSON.parse(JSON.stringify(this.answer))
      var index = this.index
      var answe = answers[index];
      console.log(answe)
      // 实时保存作答结果到服务器
      this.$axios({
        url: '/api/answer',
        method: 'post',
        data: answe
      }).then(res => {
        if(res.data.code == 200) {
          this.$message({ //成功修改提示
            message: '答案自动保存成功',
            type: 'success'
          })
        }
      }).catch(function(error) {
            console.log(error);
      })
    },
    fill(index) { //填空题
      this.index = index+this.multiQuestions.length
      this.title = "请在横线处填写答案"
    },
    judge(index) { //判断题
      this.index = index+this.multiQuestions.length+this.fillQuestions.length
      this.title = "请作出正确判断"
    },
    getChangeLabel(qId) { //获取选择题作答选项
      let data = this.paper.multiQuestions
      this.bg_flag = true
      data[this.index].click = true
      // 产生唯一作答Id
      if(this.answer[this.index].answerId == undefined){
        this.answer[this.index].answerId = new Date().getTime()
      }
      // this.answer[this.index].student = this.student
      // this.answer[this.index].exam = this.examData
      var answers = JSON.parse(JSON.stringify(this.answer))
      var index = this.index
      var answe = answers[index];
      answe.exam = this.examData
      answe.student = this.student
      console.log(answe)
      // 实时保存作答结果到服务器
      this.$axios({
        url: '/api/answer',
        method: 'post',
        data: answe
      }).then(res => {
        if(res.data.code == 200) {
          this.$message({ //成功修改提示
            message: '答案自动保存成功',
            type: 'success'
          })
        }
      }).catch(function(error) {
            console.log(error);
      })
    },
    getJudgeLabel(qId) {  //获取判断题作答选项
      let data = this.paper.judgeQuestions
      this.bg_flag = true
      data[this.index-this.multiQuestions.length-this.fillQuestions.length].click = true
      // 产生唯一作答Id
      if(this.answer[this.index].answerId == undefined){
        this.answer[this.index].answerId = new Date().getTime()
      }
      this.answer[this.index].student = JSON.parse(JSON.stringify(this.student))
      this.answer[this.index].exam = JSON.parse(JSON.stringify(this.examData))
      var answers = JSON.parse(JSON.stringify(this.answer))
      var index = this.index
      var answe = answers[index];
      console.log(answe)
      // 实时保存作答结果到服务器
      this.$axios({
        url: '/api/answer',
        method: 'post',
        data: answe
      }).then(res => {
        if(res.data.code == 200) {
          this.$message({ //成功修改提示
            message: '答案自动保存成功',
            type: 'success'
          })
        }
      }).catch(function(error) {
            console.log(error);
      })
    },
    previous() { //上一题
      this.index --
      if(this.index < 0) this.index = 0;
      if(this.questions[this.index].questionType == 3) this.title = "请作出正确判断"
      if(this.questions[this.index].questionType == 2) this.title = "请在横线处填写答案"
      if(this.questions[this.index].questionType == 1) this.title = "请选择正确的选项"
    },
    next() { //下一题
      this.index ++
      if(this.index > this.paper.questionNum-1) this.index = this.paper.questionNum-1
      if(this.questions[this.index].questionType == 3) this.title = "请作出正确判断"
      if(this.questions[this.index].questionType == 2) this.title = "请在横线处填写答案"
      if(this.questions[this.index].questionType == 1) this.title = "请选择正确的选项"
    },
    mark() { //标记功能
      switch(this.questions[this.index].questionType) {
        case 1:
          if(this.paper.multiQuestions[this.index].isMark == true){
            this.paper.multiQuestions[this.index].isMark = false //选择题标记
            return;
          }
          this.paper.multiQuestions[this.index].isMark = true //选择题标记
          break
        case 2:
          if(this.paper.fillQuestions[this.index-this.multiQuestions.length]["isMark"] == true){
            this.paper.fillQuestions[this.index-this.multiQuestions.length]["isMark"] = false
            return;
          }
          this.paper.fillQuestions[this.index-this.multiQuestions.length]["isMark"] = true //填空题标记
          break
        case 3:
          if(this.paper.judgeQuestions[this.index-this.multiQuestions.length-this.fillQuestions.length]["isMark"] == true){
            this.paper.judgeQuestions[this.index-this.multiQuestions.length-this.fillQuestions.length]["isMark"] = false
            return;
          }
          this.paper.judgeQuestions[this.index-this.multiQuestions.length-this.fillQuestions.length]["isMark"] = true //判断题标记
      }
    },
    commit() { //答案提交计算分数
      /* 计算选择题总分 */
      if(this.time >= 0) {
        this.$confirm("考试结束时间未到,是否提前交卷","友情提示",{
          confirmButtonText: '立即交卷',
          cancelButtonText: '再检查一下',
          type: 'warning'
        }).then(() => {
          var answer = this.answer
          this.endTime = new Date().getTime()
          for(var answe of answer){
            answe.exam = JSON.parse(JSON.stringify(this.examData))
            // answe.exam = this.examData
            answe.student = this.student.studentId
          }
          console.log(answer)
          this.$axios({
            url: `/api/answer/getScore/${this.startTime}/${this.endTime}`,
            method: 'post',
            data: answer
          }).then(res => {
            if(res.data.code == 200) {
              this.$message({ //成功修改提示
                message: '提交作答成功',
                type: 'success'
              })
              var scoreData = res.data.data;
              this.$router.push({path:'/studentScore',query:{startTime: scoreData.startTime,endTime: scoreData.endTime,score: scoreData.score}})
            }
            console.log(res.data.data)
          }).catch(function(error) {
                console.log(error);
          })
          // 清空计时
          this.clearTime()
          return;
        }).catch(() => {
          console.log("继续答题")
        })
      }
      this.clearTime()
      var answer = this.answer
        this.endTime = new Date().getTime()
        for(var answe of answer){
          // answe.exam = this.examData.examCode
          answe.student = this.student.studentId
        }
        console.log(answer)
        this.$axios({
          url: `/api/answer/getScore/${this.startTime}/${this.endTime}`,
          method: 'post',
          data: answer
        }).then(res => {
          if(res.data.code == 200) {
            this.$message({ //成功修改提示
              message: '提交作答成功',
              type: 'success'
            })
          }
          var scoreData = res.data.data;
          this.$router.push({
            path:'/studentScore',
            query:{
              startTime: scoreData.startTime,
              endTime: scoreData.endTime,
              score: scoreData.score,
              examTime: scoreData.exam.examDuration,
              coueseName: scoreData.course.courseName,
              totalScore: scoreData.exam.paper.totilScore
            },
            })
          console.log(res.data.data)
        }).catch(function(error) {
              console.log(error);
        })
        this.$axios({
          url: `/api/status`,
          method: 'put',
          data: {
            statusCode: 0,
            statusId: {
            		exam: this.examData,
            		student: this.student,
            	}
          }
        })
      // this.$router.push({path:'/studentScore'})
      return;
    },
    clearTime(){
      window.localStorage.removeItem('time_min')
      window.localStorage.removeItem('time_sec')
      window.localStorage.removeItem('answer')
    },
    showTime() { //倒计时
    // 防止刷新页面导致计时失效
    var min = window.localStorage.getItem('time_min') ? window.localStorage.getItem('time_min') : this.time
    var sec = window.localStorage.getItem('time_sec') ? window.localStorage.getItem('time_sec') : 0
    console.log(this.time)
    console.log(min)
      var timer = setInterval(() => {
        var min = window.localStorage.getItem('time_min') ? window.localStorage.getItem('time_min') : this.time
        if(sec==0){
          this.time--;
          window.localStorage.setItem('time',this.time)
        	sec=60;
        }
        sec--;
        window.localStorage.setItem('time_sec',sec)
        if(min<10&&sec<10) this.timeShow="0"+this.time+"分"+"0"+sec+"秒";
        else if(min<10) this.timeShow="0"+this.time+"分"+sec+"秒";
        else if(sec<10) this.timeShow=this.time+"分"+"0"+sec+"秒";
        else this.timeShow=this.time+"分"+sec+"秒";
        if(this.time == 10 && this.time > 0 && sec == 0 ) {
          this.$message({
            showClose: true,
            type: 'error',
            message: '考生注意,考试时间还剩10分钟！！！'
          })
          showClose: false
          return;
        }
        if(this.time < 0){
          this.commit();
          console.log("考试时间已到,强制交卷。")
          clearInterval(timer)
          return;
        }
      },1000)
    }
  },
  computed:mapState(["isPractice"])
}
</script>

<style lang="scss">
.iconfont.icon-time {
  color: #2776df;
  margin: 0px 6px 0px 20px;
}
.analysis {
  margin-top: 20px;
  .right {
    color: #2776df;
    font-size: 18px;
    border: 1px solid #2776df;
    padding: 0px 6px;
    border-radius: 4px;
    margin-left: 20px;
  }
  ul li:nth-child(2) {
    margin: 20px 0px;
  }
  ul li:nth-child(3) {
    padding: 10px;
    background-color: #d3c6c9;
    border-radius: 4px;
  }
}
.analysis span:nth-child(1) {
  font-size: 18px;
}
.mark {
  position: absolute;
  width: 4px;
  height: 4px;
  content: "";
  background-color: red;
  border-radius: 50%;
  top: 0px;
  left: 22px;
}
.border {
  position: relative;
  border: 1px solid #FF90AA !important;
}
.bg {
  background-color: #5188b8 !important;
}
.fill .el-input {
  display: inline-flex;
  width: 150px;
  margin-left: 20px;
  .el-input__inner {
    border: 1px solid transparent;
    border-bottom: 1px solid #eee;
    padding-left: 20px;
  }
}
/* slider过渡效果 */
.slider-fade-enter-active {
  transition: all .3s ease;
}
.slider-fade-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slider-fade-enter, .slider-fade-leave-to {
  transform: translateX(-100px);
  opacity: 0;
}

.operation .end li:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(39, 118, 223);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: #fff;
}
.operation .end li {
  cursor: pointer;
  margin: 0 100px;
}
.operation {
  background-color: #fff;
  border-radius: 4px;
  padding: 10px 0px;
  margin-right: 10px;
}
.operation .end {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(39, 118, 223);
}
.content .number {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: rgb(39, 118, 223);
  border-radius: 4px;
  margin-right: 4px;
}
.content {
  padding: 0px 20px;
}
.content .paper {
  padding: 20px 0px;
  padding-top: 30px;
}
.right .content {
  background-color: #fff;
  margin: 10px;
  margin-left: 0px;
  height: 470px;
}
.content .el-radio-group label {
  color: #000;
  margin: 5px 0px;
}
.content .el-radio-group {
  display: flex;
  flex-direction:column;
}
.right .title p {
  margin-left: 20px;
}
.flexarea {
  display: flex;
}
.flexarea .right {
  flex: 1;
}
.auto-right {
  margin-left: auto;
  color: #2776df;
  margin-right: 10px;
}
.right .title {
  margin-right: 10px;
  padding-right: 30px;
  display: flex;
  margin-top: 10px;
  background-color: #fff;
  height: 50px;
  line-height: 50px;
}
.clearfix {
  clear: both;
}
.l-bottom .final {
  cursor: pointer;
  display: inline-block;
  text-align: center;
 background-color: rgb(39, 118, 223);
  width: 240px;
  margin: 20px 0px 20px 10px;
  border-radius: 4px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  margin-top: 22px;
}
#answer .left .item {
  padding: 0px;
  font-size: 16px;
}
.l-bottom {
  border-radius: 4px;
  background-color: #fff;
}
.l-bottom .item p {
  margin-bottom: 15px;
  margin-top: 10px;
  color: #000;
  margin-left: 10px;
  letter-spacing: 2px;
}
.l-bottom .item li {
  width: 15%;
  margin-left: 5px;
  margin-bottom: 10px;
}
.l-bottom .item {
  display: flex;
  flex-direction: column;
}
.l-bottom .item ul {
  width: 100%;
  margin-bottom: -8px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.l-bottom .item ul li a {
  position: relative;
  justify-content: center;
  display: inline-flex;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #eee;
  text-align: center;
  color: #000;
  font-size: 16px;
}
.left .l-top {
  display: flex;
  justify-content: space-around;
  padding: 16px 0px;
  border: 1px solid #eee;
  border-radius: 4px;
  margin-bottom: 10px;
  background-color: #fff;
}
.left {
  width: 260px;
  height: 100%;
  margin: 10px 10px 0px 10px;
}
.left .l-top li:nth-child(2) a {
  border: 1px solid #eee;
}
.left .l-top li:nth-child(3) a {
  background-color: #5188b8;
  border: none;
}
.left .l-top li:nth-child(4) a {
  position: relative;
  border: 1px solid #eee;
}
.left .l-top li:nth-child(4) a::before {
  width: 4px;
  height: 4px;
  content: " ";
  position: absolute;
  background-color: red;
  border-radius: 50%;
  top: 0px;
  left: 16px;
}
.left .l-top li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.left .l-top li a {
  display: inline-block;
  padding: 10px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #FF90AA;
}
#answer .top {
  background-color: rgb(39, 118, 223);
}
#answer .item {
  color: #fff;
  display: flex;
  padding: 20px;
  font-size: 20px;
}
#answer .top .item li:nth-child(1) {
  margin-right: 10px;
}
#answer .top .item li:nth-child(3) {
  position: relative;
  margin-left: auto;
}
#answer {
  padding-bottom: 30px;
}
.icon20 {
  font-size: 20px;
  font-weight: bold;
}
.item .msg {
  padding: 10px 15px;
  border-radius: 4px;
  top: 47px;
  right: -30px;
  color: #6c757d;
  position: absolute;
  border: 1px solid rgba(0,0,0,.15);
  background-color: #fff;
}
.item .msg p {
  font-size: 16px;
  width: 200px;
  text-align: left;
}
</style>
