// 点击试卷后的缩略信息
<template>
  <div id="msg">
    <div class="title">
      <span>考试列表</span>
      <span>/  {{examData.examName}}</span>
    </div>
    <div class="wrapper">
      <ul class="top">
        <li class="example">{{examData.examName}}</li>
        <li><i class="iconfont icon-pen-"></i></li>
        <li><i class="iconfont icon-share"></i></li>
        <li class="right">
          <div>
            <span class="count">总分</span>
            <span class="score">{{examData.paper.totilScore}}</span>
          </div>
        </li>
      </ul>
      <ul class="bottom">
        <li>更新于{{timestramp2Date(examData.examStart)}}</li>
        <li>来自 {{examData.introduction}}</li>
        <li class="btn">{{examData.type == 0 ? '正式考试' : '模拟考试'}}</li>
        <span class="time">{{examData.paper.totilScore}}分 / {{examData.examDuration}}分钟</span>
        <li class="right"><el-button @click="toAnswer(examData.examCode)">开始答题</el-button></li>
      </ul>
      <ul class="info">
        <li><a href="javascript:;" @click="dialogVisible = true"><i class="iconfont icon-info"></i>考生须知</a></li>
      </ul>
    </div>
    <div class="content">
      <el-collapse v-model="activeName" >
        <el-collapse-item class="header" name="0">
          <template slot="title" class="stitle" >
            <div class="title">
              <!-- <span>{{examData.examName}}</span><i class="header-icon el-icon-info"></i> -->

              <el-button type="primary" size="small">点击查看试题详情</el-button>
            </div>
          </template>
          <el-collapse class="inner">
            <el-collapse-item>
              <template slot="title" name="1">
                <div class="titlei">选择题 (共{{examData.paper.multiQuestions.length}}题 共计{{score[0]}}分)</div>
              </template>
              <!-- <div class="contenti">
                <ul class="question" v-for="(list, index) in examData.paper.multiQuestions" :key="index">
                  <li>{{index+1}}. {{list.question}} {{list.score}}分</li>
                </ul>
              </div> -->
            </el-collapse-item>
            <el-collapse-item>
              <template slot="title" name="2">
                <div class="titlei">填空题 (共{{examData.paper.fillQuestions.length}}题  共计{{score[1]}}分)</div>
              </template>
<!--              <div class="contenti">
                <ul class="question" v-for="(list, index) in examData.paper.fillQuestions" :key="index">
                  <li>{{examData.paper.multiQuestions.length+index+1}}.{{list.question}}  {{list.score}}分</li>
                </ul>
              </div> -->
            </el-collapse-item>
            <el-collapse-item>
              <template slot="title" name="3">
                <div class="titlei">判断题 (共{{examData.paper.judgeQuestions.length}}题 共计{{score[2]}}分)</div>
              </template>
              <!-- <div class="contenti">
                <ul class="question" v-for="(list, index) in examData.paper.judgeQuestions" :key="index">
                  <li>{{examData.paper.multiQuestions.length+examData.paper.fillQuestions.length+index+1}}. {{list.question}} {{list.score}}分</li>
                </ul>
              </div> -->
            </el-collapse-item>
          </el-collapse>
        </el-collapse-item>

      </el-collapse>
    </div>
    <!--考生须知对话框-->
    <el-dialog
      title="考生须知"
      :visible.sync="dialogVisible"
      width="30%">
      <span>{{examData.tips}}</span>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">知道了</el-button>
      </span>
    </el-dialog>
    <!--人脸验证对话框-->
    <canvas id="canvas" width="200" height="250" style="position: absolute; top: 0; left: 0" v-show="false"></canvas>
    <el-dialog
      title="人脸验证"
      :visible.sync="showCameraDialog"
      width="31%"
      @open="showCamera"
      :before-close="closeCamera">
     <el-form>
        <el-form-item>
          <div>
            请将脸部放入画面的正中间
            <!-- <video id="video" width="400" height="300" preload autoplay loop muted></video> -->
            <video id="video" width="100%" height="100%" preload autoplay loop muted></video>
          </div>
        </el-form-item>
        <div class="submit">
          <el-button type="primary" class="row-login login" @click="faceVerify(examData.examCode)">验证</el-button>
        </div>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
export default {
  data() {
    return {
      dialogVisible: false, //对话框属性
      activeName: '0',  //默认打开序号
      topicCount: [],//每种类型题目的总数
      score: [],  //每种类型分数的总数
      examData: { //考试信息
        clazzs: null,
        examCode: null,
        examDuration: null,
        examName: null,
        examStart: null,
        introduction: null,
        paper: {
          fillQuestions: [],
          judgeQuestions: [],
          multiQuestions: [],
          paperId: null,
          paperName: null,
          questionNum: null,
          totilScore: null,
        },
        status: null,
        tip: null,
        type: null,
      },
      showCameraDialog: false,
      topic: {  //试卷信息

      },
      type: 0,
    }
  },
  mounted() {
    this.init()
  },
  methods: {
    //初始化页面数据
    init() {
      let examCode = this.$route.query.examCode //获取路由传递过来的试卷编号
      this.type = this.$route.query.type
      console.log(this.$route.query.type)
      this.$axios(`/api/exam/${examCode}`).then(res => {  //通过examCode请求试卷详细信息
        // res.data.data.examDate = res.data.data.examDate.substr(0,10)
        this.examData = { ...res.data.data}
        if(this.examData.status == 0 || this.examData.status == 2){
          this.$router.push('/student')
        }
        console.log(this.examData)
      })
    },
    showCamera() {
      var video ;
      var canvas ;
      this.$nextTick(() => {
                video = document.getElementById("video");
                canvas = document.getElementById("canvas");
              });
      /** 调用摄像头，获取媒体视频流**/
      var video = document.getElementById("video");
      var canvas = document.getElementById("canvas");
      // // 返回画布二维画图环境
      this.userContext = canvas.getContext("2d");
      var getUserMedia =
        // 浏览器兼容,表示在火狐、Google、IE等浏览器都可正常支持
        navigator.getUserMedia ||
        navigator.webkitGetUserMedia ||
        navigator.mozGetUserMedia ||
        navigator.msGetUserMedia;
      // getUserMedia.call(要调用的对象，约束条件，调用成功的函数，调用失败的函数)
      getUserMedia.call(
        window.navigator,
        { video: true, audio: false },
        function (localMediaStream) {
          // 获取摄像头捕捉的视频流
          video.srcObject = localMediaStream;
        },
        function (e) {
          console.log("获取摄像头失败！！");
        }
      );
    },
    base64ToFile(baseData) {
      let arr = baseData.split(',');
      let type = arr[0].match(/:(.*?);/)[1];   // 解锁图片类型
      let bytes = atob(arr[1]); // 解码base64
      let n = bytes .length
      let bufferArray = new Uint8Array(n);
      while (n--) {
        bufferArray[n] = bytes.charCodeAt(n);
      }
      return new File([bufferArray ], { type: type });
    },
    //用户人脸验证请求后台处理
    faceVerify(id) {
      // 点击按钮登录事件
      // 点击按钮时拿到登陆者面部信息
      var userInfo = JSON.parse(window.sessionStorage.getItem('userInfo'))
      this.userContext.drawImage(video, -110, 0, 400, 250);
      var userImgSrc = document.getElementById("canvas").toDataURL("img/jpeg");
      let data = new FormData();
      data.append("img",this.base64ToFile(userImgSrc));
      var postUrl = '/face/findFace/'+userInfo.studentId;
      var config = { headers: {'Content-Type': 'multipart/form-data;boundary = ' + new Date().getTime()}, }
      var _this = this
      this.$axios.post(postUrl,data,config).then((response) => {
          var data1 = response.data;
          var img = 'data:image/jpeg;base64,'+data1.face
          this.image = img
          if(data1.code == 200){
            this.$message.success(data1.message)
            _this.$router.push({path:"/doAnswer",query:{examCode: id,type: this.type}})
          }
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    toAnswer(id) {
      if(this.type == 0){
        this.showCameraDialog = true
        return;
      }
      //前往答题页面
      this.$router.push({path:"/doAnswer",query:{examCode: id,type: this.type}})
    },
    closeCamera() { //关闭摄像头
      this.$router.go(0)
      this.showCameraDialog = false
    },
    timestramp2Date(timestramp){
      var date = new Date(timestramp);
        var y = date.getFullYear(),
          m = date.getMonth() + 1,
          d = date.getDate(),
          h = date.getHours(),
          i = date.getMinutes(),
          s = date.getSeconds();
        if (m < 10) { m = '0' + m; }
        if (d < 10) { d = '0' + d; }
        if (h < 10) { h = '0' + h; }
        if (i < 10) { i = '0' + i; }
        if (s < 10) { s = '0' + s; }
        var t = y + '年' + m + '月' + d + '日' + h + ':' + i + ':' + s;
        return t;
    },
  }
}
</script>

<style lang="scss" scoped>
.bottom {
  .right{
    .el-button{
      color: #409EFF;
      border-color: #c6e2ff;
      background-color: #ecf5ff;
    }
  }
}
.right {
  margin-left: auto;
}
.inner .contenti .question {
  margin-left: 40px;
  color: #9a9a9a;
  font-size: 14px;
}
.content .inner .titlei {
  margin-left: 20px;
  font-size: 16px;
  color: #88949b;
  font-weight: bold;
}
.content .title .time {
  // font-size: 16px;
  margin-left: 420px;
  color: #999;
}
.content .stitle {
  background-color: #0195ff;
}
.content .title span {
  margin-right: 10px;
}
#msg .content .title {
  font-size: 20px;
  margin: 0px;
  display: flex;
  align-items: center;
}
.content {
  margin-top: 20px;
  background-color: #fff;
}
.content .header {
  padding: 10px 30px;
}
.wrapper .info {
  margin: 20px 0px 0px 20px;
  border-top: 1px solid #eee;
  padding: 20px 0px 10px 0px;
}
.wrapper .info a {
  color: #88949b;
  font-size: 14px;
}
.wrapper .info a:hover {
  color: #0195ff;
}
.wrapper .bottom .btn {
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #88949b;
  border-radius: 4px;
}
.wrapper .bottom {
  display: flex;
  margin-left: 20px;
  color: #999;
  font-size: 14px;
  align-items: center;
}
.wrapper .bottom li {
  margin-right: 14px;
}
#msg {
  background-color: #eee;
  width: 980px;
  margin: 0 auto;
}
#msg .title {
  margin: 20px;
}
#msg .wrapper {
  background-color: #fff;
  padding: 10px;
}
.wrapper .top {
  display: flex;
  margin: 20px;
  align-items: center;
}
.wrapper .top .right {
  margin-left: auto;
}
.wrapper .top .example {
  color: #333;
  font-size: 22px;
  font-weight: 700;
}
.wrapper .top li i {
  margin-left: 20px;
  color: #88949b;
}
.wrapper .right .count {
  margin-right: 60px;
  color: #fff;
  padding: 4px 10px;
  background-color: #88949b;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: 1px solid #88949b;
}
.wrapper .right .score {
  position: absolute;
  left: 53px;
  top: -5px;
  padding: 1px 12px;
  font-size: 20px;
  color: #88949b;
  border: 1px dashed #88949b;
  border-left: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  font-weight: bold;
}
.wrapper .right div {
  position: relative;
}
</style>
