<!--学生考试首页-->
<template>
  <div id="student">
    <el-row class="padding-50">
      <el-col :span="24">
        <ul class="list">
          <li class="logo"><i class="iconfont icon-kaoshi"></i><a href="javascript:;" @click="index()"><span>FACE_EXAM</span></a></li>
          <li><a href="javascript:;" @click="exam()">我的考试</a></li>
          <li><a href="javascript:;" @click="practice()">我的练习</a></li>
          <li><router-link to="/scoreTable">我的分数</router-link></li>
          <li><router-link to="/message">在线论坛</router-link></li>
          <!-- <li><a href="javascript:;">待定</a></li> -->
          <li class="right" @click="flag = !flag">
            <a href="javascript:;"><i class="iconfont icon-Userselect icon"></i>{{user.userName}}</a>
           <transition name="fade">
              <div class="msg" v-if="flag">
                <p @click="registFace()">人脸信息</p>
                <p @click="manage()">个人中心</p>
                <p @click="modifyPasswd()">修改密码</p>
                <p class="exit" @click="exit()">退出</p>
              </div>
            </transition>
          </li>
        </ul>
      </el-col>
    </el-row>
    <!--路由区域-->
    <div class="main">
      <router-view></router-view>
    </div>
    <v-footer></v-footer>
  </div>
</template>

<script>
import myFooter from "@/components/student/myFooter"
import store from '@/vuex/store'
import {mapState} from 'vuex'
export default {
  store,
  components: {
    "v-footer": myFooter
  },
  data() {
    return {
      flag: false,
      user: {}
    }
  },
  created() {
    this.userInfo()
  },
  methods: {
    exit() {  //退出登录
      this.$router.push({path:"/login"}) //跳转到登录页面
      window.sessionStorage.removeItem('token')
      window.sessionStorage.removeItem('userInfo')
    },
    registFace() {  //跳转到修改个人信息页面
      this.$router.push({path: '/registFace'})
    },
    manage() {  //跳转到修改个人信息页面
      this.$router.push({path: '/manager'})
    },
    modifyPasswd() {  //跳转到修改密码页面
      this.$router.push({path: '/modifyPasswd'})
    },
    userInfo() {
      var userInfo = JSON.parse(window.sessionStorage.getItem('userInfo'))
      let studentName = userInfo.studentName
      let studentId = userInfo.studentId
      this.user.userName = studentName
      this.user.studentId = studentId
    },
    practice() { //跳转练习模式
      let isPractice = true
      this.$store.commit("practice", isPractice)
      this.$router.push({path:'/myPractise'})
    },
    exam() { //跳转考试模式
     let isPractice = false
      this.$store.commit("practice", isPractice)
      this.$router.push({path:'/myExam'})
    },
    index() { //跳转考试模式
       let isPractice = false
        this.$store.commit("practice", isPractice)
        this.$router.push({path:'/student'})
      }
  },
  computed:mapState(["isPractice"])
}
</script>

<style scoped>
.right .icon {
  margin-right: 6px;
}
#student .padding-50 {
  margin: 0 auto;
  padding: 0 50px;
  box-shadow: 0 0 10px 4px rgba(1,149,255,0.1);
  background-color: #fff;
}
.main{
  height: 100%;
}
.list a {
  text-decoration: none;
  color: #334046;
}
li {
  list-style: none;
  height: 60px;
  line-height: 60px;
}
#student .list{
  display: flex;
}
#student .list li {
  padding: 0 20px;
  cursor: pointer;
}
#student .list li:hover {
  background-color: #129980;
  transition: all 2s ease;
}
#student .list li:hover a {
  color: #fff;
}
#student .list .right {
  margin-left: auto;
  position: relative;
}
#student .list li.right :hover a {
  color: #000;
}
#student .list .logo {
  display: flex;
  font-weight: bold;
  color: #009688;
}
#student .list .logo i {
  font-size: 50px;
}
#student .list .logo :hover{
  color: #fff;
}
.right .msg {
  text-align: center;
  position: absolute;
  z-index: 99999;
  top: 60px;
  left: 0px;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  border-bottom: 3px solid #129980;
  background-color: #fff;
}
.right .msg p {
  height: 40px;
  line-height: 40px;
  width: 125px;
}
.right .msg p:hover {
  background-color: #129980;
}
</style>
