<!--修改中心-->
<template>
  <div id='manager'>
    <el-descriptions class="margin-top" title="用户信息" :column="2" border>
      <el-descriptions-item >
        <template slot="label">
          <i class="el-icon-user"></i>姓名
        </template>
        {{userInfo.studentName}}
      </el-descriptions-item>
      <el-descriptions-item >
        <template slot="label">
          <i class="el-icon-female "></i>/<i class="el-icon-male "></i>性别
        </template>
        {{userInfo.sex}}
      </el-descriptions-item>
      <el-descriptions-item >
        <template slot="label">
          <i class="el-icon-phone"></i>电话
        </template>
        {{userInfo.tel}}
      </el-descriptions-item>
      <el-descriptions-item >
        <template slot="label">
          <i class="el-icon-message"></i>邮箱
        </template>
        {{userInfo.email}}
      </el-descriptions-item>
      <el-descriptions-item >
        <template slot="label">
          <i class="el-icon-bank-card"></i>身份证号
        </template>
        {{userInfo.cardId}}
      </el-descriptions-item>
      <el-descriptions-item >
        <template slot="label">
          <i class="el-icon-camera"></i>人脸信息Id
        </template>
        {{userInfo.faceId}}
      </el-descriptions-item>
      <el-descriptions-item >
        <template slot="label">
          <i class="el-icon-edit"></i>修改信息
        </template>
        <el-button type="primary" icon="el-icon-edit" @click="dialogVisible = true">修改信息</el-button>
      </el-descriptions-item>
    </el-descriptions>
    <el-dialog
      title="修改信息"
      :visible.sync="dialogVisible"
      width="40%"
      :before-close="handleClose">
      <el-form>
          <el-form-item label="邮箱">
          <el-input type="email" v-model="email"></el-input>
        </el-form-item>
        <el-form-item label="电话">
          <el-input type="tel" v-model="tel"></el-input>
        </el-form-item>
        <el-button type="primary" @click="submitForm()">提交</el-button>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        email: null,
        tel: null,
        userInfo: null,
        dialogVisible: false,
      };
    },
    created() {
      this.getUserInfo()
    },
    methods: {
      submitForm(formName) {
            let studentId = this.userInfo.studentId
            this.$axios({ //修改个人信息
              url: '/api/student',
              method: 'put',
              data: {
                email: this.email,
                tel: this.tel,
                studentId: studentId
              }
            }).then(res => {
              if(res.data != null ) { //修改成功提示
                this.$message({
                  message: '修改成功...',
                  type: 'success'
                })
                this.dialogVisible = false
                this.getUserInfo()
          }
        });
      },
      getUserInfo(){
        this.userInfo = JSON.parse(window.sessionStorage.getItem('userInfo'))
        this.$axios( `/api/student/${this.userInfo.studentId}`).then(res =>{
          this.userInfo = res.data.data
        })
      },
      handleClose(done) {
        this.$confirm('确认关闭？')
          .then(_ => {
            done();
          })
          .catch(_ => {

          });
      }
    }
  }
</script>

<style scoped>
#manager .pass  label{
  color: red;
  font-size: 20px;
}
#manager {
  width: 600px;
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
  margin-bottom: 300px;
}
#manager .alter {
  margin: 30px 0px;
}
p {
  text-align: left;
}
</style>
