// 在线论坛页面
<template>
  <div id="message">
    <el-backtop :bottom="60"></el-backtop>
    <div class="title">在线论坛</div>
    <div class="wrapper">
      <el-dialog
        title="发布讨论"
        :visible.sync="dialogVisible"
        width="30%"
        :before-close="handleClose">
        <div class="title1">
          <el-input
            placeholder="主题"
            v-model="title"
            clearable>
          </el-input>
        </div>
        <div class="content">
          <el-input
            type="textarea"
            :rows="3"
            placeholder="内容"
            v-model="content"
            clearable>
          </el-input>
        </div>
        <div class="btn">
          <el-button type="primary" @click="submit()">发布</el-button>
        </div>
      </el-dialog>
      <div class="all">
        <ul class="msglist">
          <li class="list"
          @mouseenter="enter(index)"
          @mouseleave="leave(index)"
          v-for="(data,index) in msg" :key="index">
            <p class="title"> <i class="iconfont icon-untitled33"></i>{{data.title}} <i class="el-icon-user"></i>{{data.studentAnnouncer.studentName}}</p>
            <p class="content">{{data.content}}</p>
            <p class="date"><i class="iconfont icon-date"></i>{{data.time}}</p>
            <div v-for="(replayData,index2) in data.replays" :key="index2">
              <p class="comment">
                <i class="iconfont icon-huifuxiaoxi"></i>
                <i class="el-icon-user"></i>
                {{replayData.studentResponder == null ? replayData.teacherResponder.teacherName : replayData.studentResponder.studentName}}
                <i class="el-icon-time"></i>
                {{replayData.replayTime}}
                {{replayData.replay}}
              </p>
            </div>
            <el-button type="primary" class="replay"  @click="replay(data.messageId)" v-if="flag && index == current">回复</el-button>
          </li>
        </ul>
      </div>
      <div class="pagination">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          :current-page="pagination.current"
          :page-sizes="[4,6,8,10]"
          :page-size="pagination.size"
          layout="total, sizes, prev, pager, next, jumper"
          :total="pagination.total">
        </el-pagination>
        <el-button
            type="primary"
            icon="el-icon-plus"
            circle
            style="float: right;font-size: 10px;"
            @click="dialogVisible = true"></el-button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  // name: 'message'
  data() {
    return {
      dialogVisible: false,
      flag: false,
      current: 0,
      title: "",
      content: "",
      pagination: { //分页后的留言列表
        current: 1, //当前页
        total: null, //记录条数
        size: 4 //每页条数
      },
      msg: [],
      student: null,
    }
  },
  created() {
    this.getMsg()
  },
  // watch: {

  // },
  methods: {
    handleClose(done) {
      this.$confirm('确认关闭？')
        .then(_ => {
          done();
        })
        .catch(_ => {});
          },
    getMsg() {
      // console.log(this.pagination)
      this.$axios(`/api/messages/1/${this.pagination.current}/${this.pagination.size}`).then(res => {
        let status = res.data.code
        if(status == 200) {
          this.msg = res.data.data.content
          this.pagination.total = res.data.data.totalElements
        }
      })
      this.student = JSON.parse(window.sessionStorage.getItem('userInfo'))
    },
    //改变当前记录条数
    handleSizeChange(val) {
      this.pagination.size = val
      this.getMsg()
    },
    //改变当前页码，重新发送请求
    handleCurrentChange(val) {
      this.pagination.current = val
      this.getMsg()
    },
    submit() {
      let date = new Date().getTime()
      if(this.title.length == 0 || this.content.length == 0) { //非空判断
        this.$message({
          type: 'error',
          message: '标题或内容不能为空',
        })
       } else {
      this.$axios({
        url: "/api/message",
        method: "post",
        data: {
          title: this.title,
          content: this.content,
          time: date,
          studentAnnouncer: this.student,
          type: 1
        }
      }).then(res => {
        let code = res.data.code
        if(code == 200) {
          this.$message({
            type: "success",
            message: "发布成功"
          })
          this.dialogVisible = false
        }
        this.getMsg()
      })
    }
      this.title = ""
      this.content = ""
      this.getMsg()
    },
    replay(messageId) { //回复留言功能
      this.$prompt('回复', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        inputPattern: /^[\s\S]*.*[^\s][\s\S]*$/,
        inputErrorMessage: '回复不能为空'
      }).then(({ value }) => {
        let date = new Date().getTime()
        console.log(messageId)
        this.$axios({
          url: '/api/replay',
          method: 'post',
          data: {
            replay: value,
            replayTime: date,
            messageId: messageId,
            studentResponder: this.student
          }
        }).then(res => {
          var msg = this.getMsg()
        })
        this.$message({
          type: 'success',
          message: '回复成功'
        });
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '取消输入'
        });
      });
    },
    enter(index) {
      this.flag = true
      this.current = index
    },
    leave(index) {
      this.flag = false;
      this.current = index;
    }
  }
}
</script>

<style lang="scss" scoped>
.pagination {
  display: flex;
  justify-content: center;
}
#message {
  width: 980px;
  margin: 0 auto;
}
.title {
  margin: 20px;
}
.content {
  padding: 20px 0px;
}
#message  {
  .btn {
   padding-bottom: 20px;
  }
  .all {
    .date {
      color: rgb(80, 157, 202);
      line-height: 45px;
      font-size: 13px;
    }
    .list {
      background-color: #eee;
      padding:10px;
      border-radius: 4px;
      margin: 10px 0px;
      position: relative;
      transition: all .3s ease;
      .title {
        color: #5f5f5f;
        margin: 0px;
        font-size: 13px;
        line-height: 30px;
      }
      .content {
        padding: 0px;
      }
      .icon-untitled33 {
        font-size: 13px;
        margin-right: 4px;
      }
      .icon-date {
        font-size: 13px;
        margin-right: 4px;
        color: rgb(80, 157, 202);
      }
      .replay {
        position: absolute;
        right: 30px;
        bottom: 15px;
        color: #393D49;
        cursor: pointer;
        transition: all .3s ease;
      }
      .comment {
        margin:-7px 0px;
        padding-bottom: 12px;
        font-size: 13px;
        color: #28b2b4;
        i {
          margin-right: 4px;
        }
      }
    }
  }
}
#message .wrapper {
  background-color: #fff;
  padding: 20px;

}
</style>
