// 我的试卷页面
<template>
  <div id="myExam">
    <div class="title">我的考试</div>
    <div class="wrapper">
      <ul class="top">
        <li class="order">考试列表</li>
        <li class="search-li"><div class="icon"><input type="text" placeholder="试卷名称" class="search" v-model="key"><i class="el-icon-search"></i></div></li>
        <li><el-button type="primary" @click="search()">搜索试卷</el-button></li>
      </ul>
      <ul class="paper" v-loading="loading">
        <!-- 只显示考试不显示练习题 -->
        <li class="item" v-for="(item,index) in pagination.records" :key="index" v-if="item.type == 0 && item.state ==1 || item.type == 1 && item.state ==1 ">
          <h4>{{item.examName}}</h4>
          <p>{{item.type == 0 ? '正式考试' : '模拟考试'}}</p>
          <p class="name">{{item.examName}}-{{item.introduction}}</p>
          <div class="info">
            <i class="el-icon-loading"></i><span>{{item.examStart}}</span>
            <i class="iconfont icon-icon-time"></i><span v-if="item.examDuration != null">限时{{item.examDuration}}分钟</span>
            <i class="iconfont icon-fenshu"></i><span>满分{{item.paper.totilScore}}分</span>
            <!-- <p>{{systemDate / 1000}}-{{item.examStart / 1000}}={{(item.examStart/1000-systemDate/1000) / 60}}</p> -->
          </div>
          <h4 style="color: #FF0000;">
            考试状态: {{item.status == 0 ? '未开始' : item.status == 1 ? item.statusCode == 1 ? '已开始' : '已完成' : '已过期'}}
            <el-button type="primary"  @click="toExamMsg(item.examCode,item.type)" :disabled="item.status == 0 || item.status == 2 || item.statusCode == 0">开始考试</el-button>
          </h4>
        </li>
      </ul>
      <div class="pagination">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          :current-page="pagination.current"
          :page-sizes="[5, 10, 15, 20]"
          :page-size="pagination.size"
          layout="total, sizes, prev, pager, next, jumper"
          :total="pagination.total">
        </el-pagination>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  // name: 'myExam'
  data() {
    return {
      loading: false,
      key: null, //搜索关键字
      allExam: null, //所有考试信息
      pagination: { //分页后的考试信息
        current: 1, //当前页
        total: null, //记录条数
        size: 5, //每页条数
        records: null
      },
      clazz: null,
      systemDate: null,
      student: null,
      status: [],
    }
  },
  created() {
    // this.getStatus()
    this.getSystemDate()
    this.getExamInfo()
    this.loading = true
  },
  // watch: {

  // },
  methods: {
    //获取当前所有正式考试信息
    getExamInfo() {
      // console.log(window.sessionStorage.getItem('userInfo'))
      this.clazz = JSON.parse(window.sessionStorage.getItem('userInfo')).clazz;
      this.student = JSON.parse(window.sessionStorage.getItem('userInfo'));
      this.$axios({
        url: `/api/examsClazz/${this.pagination.current}/${this.pagination.size}`,
        method: 'post',
        data: {
          ...this.clazz
        }
      })
      .then(async res => {
        this.pagination.records = res.data.data.content
        // this.pagination.total = res.data.data.totalElements
        this.loading = false
        await this.getStatus()
        if(this.status.length < this.pagination.records.length){
          for(var exam of this.pagination.records){
              this.$axios({
                url: `/api/status`,
                method: 'post',
                data: {
                  statusCode: 1,
                  statusId: {
                  		exam: exam,
                  		student: this.student,
                  	}
                }
              })
          }
        }
      }).catch(error => {
        console.log(error)
      })
    },
    getSystemDate(){
      this.$axios('/api/systemDate')
      .then(res => {
        this.systemDate = res.data.data
      })
    },
    async getStatus(){
      this.clazz = JSON.parse(window.sessionStorage.getItem('userInfo')).clazz;
      this.student = JSON.parse(window.sessionStorage.getItem('userInfo'));
      await this.$axios({
        url: `/api/examsClazz/${this.pagination.current}/${this.pagination.size}`,
        method: 'post',
        data: {
          ...this.clazz
        }
      })
      .then(async res => {
        var data = res.data.data.content
        for(var i in data){
            await this.$axios(`/api/getStatus/${this.student.studentId}/${data[i].examCode}`)
            .then(async res => {
              if(res.data.data != null){
                this.status.push(await res.data.data)
                this.pagination.records[i].statusCode = await res.data.data.statusCode
              }
            })
        }
      }).catch(error => {
        console.log(error)
      })
    },
    //改变当前记录条数
    handleSizeChange(val) {
      this.pagination.size = val
      this.getExamInfo()
    },
    //改变当前页码，重新发送请求
    handleCurrentChange(val) {
      this.pagination.current = val
      this.getExamInfo()
    },
    //搜索试卷
    search() {
      this.$axios('/api/exams').then(res => {
        if(res.data.code == 200) {
          let allExam = res.data.data
          let newPage = allExam.filter(item => {
            return item.source.includes(this.key)
          })
          // this.pagination.records = newPage
          this.pagination.records = allExam
        }
      })
    },
    //跳转到试卷详情页
    toExamMsg(examCode,type) {
      this.$router.push({path: '/examMsg', query: {examCode: examCode,type: type}})
    }
  }
}
</script>

<style lang="scss" scoped>
.pagination {
  padding: 20px 0px 30px 0px;
  .el-pagination {
    display: flex;
    justify-content: center;
  }
}
.paper {
  h4 {
    cursor: pointer;
  }
}
.paper .item a {
  color: #000;
}
.wrapper .top .order {
  cursor: pointer;
}
.wrapper .top .order:hover {
  color: #129980;
  border-bottom: 2px solid #129980;
}
.wrapper .top .order:visited {
  color: #129980;
  border-bottom: 2px solid #129980;
}
.item .info i {
  margin-right: 5px;
  color: #129980;
}
.item .info span {
  margin-right: 14px;
}
.paper .item {
  width: 420px;
  border-radius: 4px;
  padding: 20px 10px;
  border: 1px solid #eee;
  box-shadow: 0 0 4px 2px rgba(217,222,234,0.3);
  transition: all 0.6s ease;
}
.paper .item:hover {
  box-shadow: 0 0 4px 2px rgba(140, 193, 248, 0.45);
  transform: scale(1.03);
}
.paper .item .info {
  font-size: 14px;
  color: #88949b;
}
.paper .item .name {
  font-size: 14px;
  color: #88949b;
}
.paper * {
  margin: 20px 0;
}
.wrapper .paper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.top .el-icon-search {
  position: absolute;
  right: 10px;
  top: 10px;
}
.top .icon {
  position: relative;
}
.wrapper .top {
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
}
#myExam .search-li {
  margin-left: auto;
}
.top .search-li {
  margin-left: auto;
}
.top li {
  display: flex;
  align-items: center;
}
.top .search {
  margin-left: auto;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #eee;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.top .search:hover {
  color: #129980;
  border-color: #129980;
}
.wrapper .top {
  display: flex;
}
.wrapper .top li {
  margin: 20px;
}
#myExam {
  width: 980px;
  margin: 0 auto;
}
#myExam .title {
  margin: 20px;
}
#myExam .wrapper {
  background-color: #fff;
}
</style>
