// 我的考试页面
<template>
  <div id="myExam">
    <div class="title">我的练习</div>
    <div class="wrapper">
      <ul class="top">
        <li class="order">
          <el-badge :value="allNum" class="item" type="primary">
            <span @click="changeStatus(3)">全部</span>
          </el-badge>
        </li>
        <li class="order">
          <el-badge :value="unStartedNum" class="item" type="primary">
            <span @click="changeStatus(0)">未开始</span>
          </el-badge>
        </li>
        <li class="order">
          <el-badge :value="startedNum" class="item" type="primary">
            <span @click="changeStatus(1)">已开始</span>
          </el-badge>
        </li>
       <li class="order">
          <el-badge :value="finish" class="item" type="success">
            <span @click="changeStatus(4)">已完成</span>
          </el-badge>
        </li>
        <li class="order">
          <el-badge :value="timeOutNum" class="item">
            <span @click="changeStatus(2)">已过期</span>
          </el-badge>
        </li>
        <li class="search-li"><div class="icon"><input type="text" placeholder="试卷名称" class="search" v-model="key"><i class="el-icon-search"></i></div></li>
        <li><el-button type="primary" @click="search()">搜索试卷</el-button></li>
      </ul>
      <ul class="paper" v-loading="loading">
        <li class="item" v-for="(item,index) in pagination.records" :key="index" v-if="item.status == status && item.state ==1">
          <h4>{{item.examName}}</h4>
          <p>{{item.type == 0 ? '正式考试' : '模拟考试'}}</p>
          <p class="name">{{item.examName}}-{{item.introduction}}</p>
          <div class="info">
            <i class="el-icon-loading"></i><span>{{timestramp2Date(item.examStart)}}</span>
            <i class="iconfont icon-icon-time"></i><span v-if="item.examDuration != null">限时{{item.examDuration}}分钟</span>
            <i class="iconfont icon-fenshu"></i><span>满分{{item.paper.totilScore}}分</span>
            <!-- <p>{{systemDate / 1000}}-{{item.examStart / 1000}}={{(item.examStart/1000-systemDate/1000) / 60}}</p> -->
          </div>
          <span v-show="false">{{item.status}}-{{item.statusCode}}</span>
          <h4 style="color: #FF0000;">
            考试状态: {{item.status == 0 ? '未开始' : item.statusCode == 0 ? '已完成' : item.status == 1 ? '已开始' : '已过期'}}
              <el-button type="primary"  @click="toExamMsg(item.examCode,item.type)" :disabled="item.status == 0 || item.status == 2 || item.statusCode == 0">开始考试</el-button>
          </h4>
        </li>
        <li class="item" v-for="(item,index) in pagination.records" :key="index" v-if="item.statusCode == 0 && status == 4 && item.state ==1 && item.state ==1">
          <h4>{{item.examName}}</h4>
          <p>{{item.type == 0 ? '正式考试' : '模拟考试'}}</p>
          <p class="name">{{item.examName}}-{{item.introduction}}</p>
          <div class="info">
            <i class="el-icon-loading"></i><span>{{timestramp2Date(item.examStart)}}</span>
            <i class="iconfont icon-icon-time"></i><span v-if="item.examDuration != null">限时{{item.examDuration}}分钟</span>
            <i class="iconfont icon-fenshu"></i><span>满分{{item.paper.totilScore}}分</span>
          </div>
          <span v-show="false">{{item.status}}-{{item.statusCode}}</span>
          <h4 style="color: #FF0000;">
            考试状态: {{item.status == 0 ? '未开始' : item.statusCode == 0 ? '已完成' : item.status == 1 ? '已开始' : '已过期'}}
              <el-button type="primary"  @click="toExamMsg(item.examCode,item.type)" :disabled="item.status == 0 || item.status == 2 || item.statusCode == 0">开始考试</el-button>
          </h4>
        </li>
        <li class="item" v-for="(item,index) in pagination.records" :key="index" v-if="status == 3 && item.state ==1">
          <h4>{{item.examName}}</h4>
          <p>{{item.type == 0 ? '正式考试' : '模拟考试'}}</p>
          <p class="name">{{item.examName}}-{{item.introduction}}</p>
          <div class="info">
            <i class="el-icon-loading"></i><span>{{timestramp2Date(item.examStart)}}</span>
            <i class="iconfont icon-icon-time"></i><span v-if="item.examDuration != null">限时{{item.examDuration}}分钟</span>
            <i class="iconfont icon-fenshu"></i><span>满分{{item.paper.totilScore}}分</span>
            <!-- <p>{{systemDate / 1000}}-{{item.examStart / 1000}}={{(item.examStart/1000-systemDate/1000) / 60}}</p> -->
          </div>
          <span v-show="false">{{item.status}}-{{item.statusCode}}</span>
          <h4 style="color: #FF0000;">
            考试状态: {{item.status == 0 ? '未开始' : item.statusCode == 0 ? '已完成' : item.status == 1 ? '已开始' : '已过期'}}
              <el-button type="primary"  @click="toExamMsg(item.examCode,item.type)" :disabled="item.status == 0 || item.status == 2 || item.statusCode == 0">开始考试</el-button>
          </h4>
        </li>
      </ul>
      <div class="pagination">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          :current-page="pagination.current"
          :page-sizes="[6, 10, 20, 40]"
          :page-size="pagination.size"
          layout="total, sizes, prev, pager, next, jumper"
          :total="pagination.total">
        </el-pagination>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  // name: 'myExam'
  data() {
    return {
      loading: false,
      key: null, //搜索关键字
      allExam: null, //所有考试信息
      pagination: { //分页后的考试信息
        current: 1, //当前页
        total: null, //记录条数
        size: 6 //每页条数
      },
      allNum: 0,
      startedNum: 0,
      timeOutNum: 0,
      unStartedNum: 0,
      finish: 0,
      status: 3,
      student: null,
      statuss: [],
    }
  },
  created() {
    this.getExamInfo()
    this.loading = true
  },
  // watch: {

  // },
  methods: {
    //获取当前所有考试信息
    getExamInfo() {
      this.clazz = JSON.parse(window.sessionStorage.getItem('userInfo')).clazz;
      this.student = JSON.parse(window.sessionStorage.getItem('userInfo'));
      this.$axios({
        url: `/api/examsClazz/2/${this.pagination.current}/${this.pagination.size}`,
        method: 'post',
        data: {
          ...this.clazz
        }
      })
      .then(async res => {
        console.log(res.data.data)
        this.pagination.records = res.data.data.content
        this.pagination.total = res.data.data.totalElements
        this.loading = false
        this.allNum = this.pagination.records.length
        await this.getStatus()
        if(this.status.length < this.pagination.records.length){
          for(var exam of this.pagination.records){
              this.$axios({
                url: `/api/status`,
                method: 'post',
                data: {
                  statusCode: 1,
                  statusId: {
                  		exam: exam,
                  		student: this.student,
                  	}
                }
              })
          }
        }
        for(var i = 0;i < this.pagination.records.length;i++){
          if(this.pagination.records[i].status == 0) this.unStartedNum++;
          if(this.pagination.records[i].status == 1) this.startedNum++;
          if(this.pagination.records[i].status == 2) this.timeOutNum++;
          if(this.pagination.records[i].statusCode == 0) this.finish++;
        }
      }).catch(error => {
        console.log(error)
      })
    },
    async getStatus(){
      this.clazz = JSON.parse(window.sessionStorage.getItem('userInfo')).clazz;
      this.student = JSON.parse(window.sessionStorage.getItem('userInfo'));
      await this.$axios({
        url: `/api/examsClazz/2/${this.pagination.current}/${this.pagination.size}`,
        method: 'post',
        data: {
          ...this.clazz
        }
      })
      .then(async res => {
        var data = res.data.data.content
        for(var i in data){
            await this.$axios(`/api/getStatus/${this.student.studentId}/${data[i].examCode}`)
            .then(async res => {
              this.statuss.push(await res.data.data)
              this.pagination.records[i].statusCode = await res.data.data.statusCode
            })
        }
      }).catch(error => {
        console.log(error)
      })
    },
    // 切换状态
    changeStatus(statu){
      this.status = statu;
      console.log(this.status)
    },
    //改变当前记录条数
    handleSizeChange(val) {
      this.pagination.size = val
      this.getExamInfo()
    },
    //改变当前页码，重新发送请求
    handleCurrentChange(val) {
      this.pagination.current = val
      this.getExamInfo()
    },
    //搜索试卷
    search() {
      this.$axios('/api/exams').then(res => {
        if(res.data.code == 200) {
          let allExam = res.data.data
          let newPage = allExam.filter(item => {
            return item.source.includes(this.key)
          })
          this.pagination.records = newPage
        }
      })
    },
    //跳转到试卷详情页
    toExamMsg(examCode,type) {
      this.$router.push({path: '/examMsg', query: {examCode: examCode,type: type}})
      console.log(examCode+' '+type)
    },
    timestramp2Date(timestramp){
      var date = new Date(timestramp);
        var y = date.getFullYear(),
          m = date.getMonth() + 1,
          d = date.getDate(),
          h = date.getHours(),
          i = date.getMinutes(),
          s = date.getSeconds();
        if (m < 10) { m = '0' + m; }
        if (d < 10) { d = '0' + d; }
        if (h < 10) { h = '0' + h; }
        if (i < 10) { i = '0' + i; }
        if (s < 10) { s = '0' + s; }
        var t = y + '年' + m + '月' + d + '日' + h + ':' + i + ':' + s;
        return t;
    },
  }
}
</script>


<style lang="scss" scoped>
.pagination {
  padding: 20px 0px 30px 0px;
  .el-pagination {
    display: flex;
    justify-content: center;
  }
}
.paper {
  h4 {
    cursor: pointer;
  }
}
.paper .item a {
  color: #000;
}
.wrapper .top .order {
  cursor: pointer;
}
.wrapper .top .order:hover {
  color: #0195ff;
  border-bottom: 2px solid #0195ff;
}
.wrapper .top .order:visited {
  color: #0195ff;
  border-bottom: 2px solid #0195ff;
}
.item .info i {
  margin-right: 5px;
  color: #0195ff;
}
.item .info span {
  margin-right: 14px;
}
.paper .item {
  width: 380px;
  border-radius: 4px;
  padding: 20px 30px;
  border: 1px solid #eee;
  box-shadow: 0 0 4px 2px rgba(217,222,234,0.3);
  transition: all 0.6s ease;
}
.paper .item:hover {
  box-shadow: 0 0 4px 2px rgba(140, 193, 248, 0.45);
  transform: scale(1.03);
}
.paper .item .info {
  font-size: 14px;
  color: #88949b;
}
.paper .item .name {
  font-size: 14px;
  color: #88949b;
}
.paper * {
  margin: 20px 0;
}
.wrapper .paper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.top .el-icon-search {
  position: absolute;
  right: 10px;
  top: 10px;
}
.top .icon {
  position: relative;
}
.wrapper .top {
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
}
#myExam .search-li {
  margin-left: auto;
}
.top .search-li {
  margin-left: auto;
}
.top li {
  display: flex;
  align-items: center;
}
.top .search {
  margin-left: auto;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #eee;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.top .search:hover {
  color: #0195ff;
  border-color: #0195ff;
}
.wrapper .top {
  display: flex;
}
.wrapper .top li {
  margin: 20px;
}
#myExam {
  width: 980px;
  margin: 0 auto;
}
#myExam .title {
  margin: 20px;
}
#myExam .wrapper {
  background-color: #fff;
}
.wrapper .top .order {
  cursor: pointer;
}
.wrapper .top .order:hover {
  color: #0195ff;
  border-bottom: 2px solid #0195ff;
}
.wrapper .top .order:visited {
  color: #0195ff;
  border-bottom: 2px solid #0195ff;
}
.item .info i {
  margin-right: 5px;
  color: #0195ff;
}
.item .info span {
  margin-right: 14px;
}
.paper .item {
  border-radius: 4px;
  padding: 20px 30px;
  border: 1px solid #eee;
  box-shadow: 0 0 4px 2px rgba(217,222,234,0.3);
  transition: all 0.6s ease;
}
.paper .item:hover {
  box-shadow: 0 0 4px 2px rgba(140, 193, 248, 0.45)
}
.paper .item .info {
  font-size: 14px;
  color: #88949b;
}
.paper .item .name {
  font-size: 14px;
  color: #88949b;
}
.paper * {
  margin: 20px 0;
}
.wrapper .paper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.top .el-icon-search {
  position: absolute;
  right: 10px;
  top: 10px;
}
.top .icon {
  position: relative;
}
.wrapper .top {
  border-bottom: 1px solid #eee;
}
#myExam .search-li {
  margin-left: auto;
}
.top .search-li {
  margin-left: auto;
}
.top li {
  display: flex;
  align-items: center;
}
.top .search {
  margin-left: auto;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #eee;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.top .search:hover {
  color: #0195ff;
  border-color: #0195ff;
}
.wrapper .top {
  display: flex;
}
.wrapper .top li {
  margin: 20px;
}
#myExam {
  width: 980px;
  margin: 0 auto;
}
#myExam .title {
  margin: 20px;
}
#myExam .wrapper {
  background-color: #fff;
}
</style>
