<!--修改中心-->
<template>
  <div>
    <el-card class="box-card">
      <div slot="header" class="clearfix">
        <span>面部信息</span>
        <el-button @click="showCamera()" style="float: right; padding: 3px 0" type="text">注册人脸</el-button>
      </div>
      <div class="text item">
        <el-image :src="faceInfo.face"></el-image>
        <div style="float: right; padding: 3px 0" type="text">
          学号: {{userInfo.studentId}}<br />
          姓名: {{userInfo.studentName}}<br />
          班级: {{userInfo.clazz.grade}}级{{userInfo.clazz.clazzName}}<br />
          专业: {{userInfo.clazz.profession.professionName}}<br />
          学院: {{userInfo.clazz.profession.school}}<br />
          面部信息Id: {{faceInfo.faceId != 'null' ? faceInfo.faceId : '未注册'}}<br />
        </div>
      </div>
    </el-card>
    <canvas id="canvas" width="200" height="250" style="position: absolute; top: 0; left: 0" v-show="false"></canvas>
    <el-dialog
      title="人脸验证"
      :visible.sync="showCameraDialog"
      width="31%"
      @open="showCamera"
      :before-close="closeCamera">
     <el-form>
        <el-form-item>
          <div>
            请将脸部放入画面的正中间
            <video id="video" width="100%" height="100%" preload autoplay loop muted></video>
          </div>
        </el-form-item>
        <div class="submit">
          <el-button type="primary" class="row-login login" @click="faceRegist(userInfo.studentId)">注册人脸信息</el-button>
        </div>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        ispass: true,
        userInfo: null,
        dialogVisible: false,
        faceInfo: {
          faceId: null,
          face: null,
        },
        showCameraDialog: false,
      };
    },
    created() {
      this.getUserInfo()
      this.getFaceInfo()
    },
    methods: {
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            let studentId = this.userInfo.studentId
            this.$axios({ //修改个人信息
              url: '/api/student',
              method: 'put',
              data: {
                email: this.ruleForm2.email,
                tel: this.ruleForm2.tel,
                studentId: studentId
              }
            }).then(res => {
              if(res.data != null ) { //修改成功提示
                this.$message({
                  message: '修改成功...',
                  type: 'success'
                })
              }
            })
          } else {
            console.log('error submit!!');
            return false;
          }
        });
      },
      resetForm(formName) {
        this.$refs[formName].resetFields();
      },
      getUserInfo(){
        this.userInfo = JSON.parse(window.sessionStorage.getItem('userInfo'))
        this.$axios( `/api/student/${this.userInfo.studentId}`).then(res =>{
          this.userInfo = res.data.data
        })
      },
      getFaceInfo(){
        this.$axios( `/api/student/${this.userInfo.studentId}`).then(res =>{
          this.userInfo = res.data.data
          console.log(res.data.data)
          this.$axios(`/face/findFaceImg/${this.userInfo.faceId}`).then(res =>{
            // this.$axios(`http://localhost:8081/face/findFaceImg/6606ddc784404efcacb05d7045e5577a`).then(res =>{
            this.faceInfo = res.data
            this.faceInfo.face = 'data:image/jpg;base64,'+this.faceInfo.face
            console.log(res.data)
          })
        })
      },
      handleClose(done) {
        this.$confirm('确认关闭？')
          .then(_ => {
            done();
          })
          .catch(_ => {

          });
      },
      showCamera() {
        this.showCameraDialog = true
        var video ;
        var canvas ;
        this.$nextTick(() => {
                  video = document.getElementById("video");
                  canvas = document.getElementById("canvas");
                });
        /** 调用摄像头，获取媒体视频流**/
        var video = document.getElementById("video");
        var canvas = document.getElementById("canvas");
        // // 返回画布二维画图环境
        this.userContext = canvas.getContext("2d");
        var getUserMedia =
          // 浏览器兼容,表示在火狐、Google、IE等浏览器都可正常支持
          navigator.getUserMedia ||
          navigator.webkitGetUserMedia ||
          navigator.mozGetUserMedia ||
          navigator.msGetUserMedia;
        // getUserMedia.call(要调用的对象，约束条件，调用成功的函数，调用失败的函数)
        getUserMedia.call(
          window.navigator,
          { video: true, audio: false },
          function (localMediaStream) {
            // 获取摄像头捕捉的视频流
            video.srcObject = localMediaStream;
          },
          function (e) {
            console.log("获取摄像头失败！！");
          }
        );
      },
      base64ToFile(baseData) {
        let arr = baseData.split(',');
        let type = arr[0].match(/:(.*?);/)[1];   // 解锁图片类型
        let bytes = atob(arr[1]); // 解码base64
        let n = bytes .length
        let bufferArray = new Uint8Array(n);
        while (n--) {
          bufferArray[n] = bytes.charCodeAt(n);
        }
        return new File([bufferArray ], { type: type });
      },
      //用户人脸验证请求后台处理
      faceRegist(id) {
        // 点击按钮登录事件
        // 点击按钮时拿到登陆者面部信息
        // this.userContext.drawImage(video, 0, 0, 300, 250);
        this.userContext.drawImage(video, -110, 0, 400, 250);
        var userImgSrc = document.getElementById("canvas").toDataURL("img/jpeg");
        let data = new FormData();
        data.append("img",this.base64ToFile(userImgSrc));
        var postUrl = `/face/registFace/${id}`;
        var config = {
          headers: {'Content-Type': 'multipart/form-data;boundary = ' + new Date().getTime()},
          }
        var _this = this
        this.$axios.post(postUrl,data,config).then((response) => {
            var data1 = response.data;
            var img = 'data:image/jpeg;base64,'+data1.face
            this.image = img
            console.log(response.data)
            if(data1.code == 200){
              this.$message.success(data1.message)
              this.$router.go(1)
              // _this.$router.push({path:"/answer",query:{examCode: id}})
            }
          })
          .catch(function (error) {
            console.log(error);
          });
      },
      closeCamera() { //关闭摄像头
        this.$router.go(0)
        this.showCameraDialog = false
      },
    }
  }
</script>

<style scoped>
.text {
    font-size: 14px;
  }

  .item {
    margin-bottom: 18px;
  }

  .clearfix:before,
  .clearfix:after {
    display: table;
    content: "";
  }
  .clearfix:after {
    clear: both
  }

  .box-card {
    width: 480px;
    margin: auto;
  }
</style>
