// 我的试卷页面
<template>
  <div id="myExam">
    <div class="title">教务公告</div>
    <div class="wrapper">
      <div class="msg">
        <p class="title">教务公告：</p>
        <ul v-for="(message,index) in messages" :key="index" v-if="message.state == 1">
          <li @click="openMsg(index)">
            <i class="iconfont icon-flag" style="font-size: 20px;"></i>
            {{message.title}}
            {{message.time}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      user: { //用户信息
        userName: null,
        userId: null
      },
      messages: [],
    }
  },
  created() {
    this.getUserInfo()
    this.getMsg()
  },
  methods: {
    getUserInfo() { //获取用户信息
      var userInfo = JSON.parse(window.sessionStorage.getItem('userInfo'))
      this.user.userRole = userInfo.role;
      var userName ;
      var userId ;
      if(userInfo.role == 1){
        userName = userInfo.teacherName;
        userId = userInfo.teacherId;
      }else if(userInfo.role == 0){
        userName = userInfo.adminName;
        userId = userInfo.adminId;
      }
      this.user.userName = userName;
      this.user.userId = userId;
      this.user.userName = userName
      this.user.userId = userId
    },
    getMsg() {
      // console.log(this.pagination)
      this.$axios(`/api/messages/0`).then(res => {
        let status = res.data.code
        if(status == 200) {
          this.messages = res.data.data
        }
      })
    },
    openMsg(index) {
      this.$alert(this.messages[index].content,this.messages[index].title,{
        confirmButtonText: '确定'
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.pagination {
  padding: 20px 0px 30px 0px;
  .el-pagination {
    display: flex;
    justify-content: center;
  }
}

.msg {
    .title {
      font-size: 14px;
      color: #000;
      margin-top: 20px;
      margin-left: 10px;
    }
    ul {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 50px;
      overflow: hidden;
    }
    li {
      margin-top: 20px;
      font-size: 14px;
      color: lightcoral;
      cursor: pointer;
      display: inline-block;
    }
  }

.paper {
  h4 {
    cursor: pointer;
  }
}
.paper .item a {
  color: #000;
}
.wrapper{
  height: 480px;
}
.wrapper .top .order {
  cursor: pointer;
}
.wrapper .top .order:hover {
  color: #129980;
  border-bottom: 2px solid #129980;
}
.wrapper .top .order:visited {
  color: #129980;
  border-bottom: 2px solid #129980;
}
.item .info i {
  margin-right: 5px;
  color: #129980;
}
.item .info span {
  margin-right: 14px;
}
.paper .item {
  width: 420px;
  border-radius: 4px;
  padding: 20px 10px;
  border: 1px solid #eee;
  box-shadow: 0 0 4px 2px rgba(217,222,234,0.3);
  transition: all 0.6s ease;
}
.paper .item:hover {
  box-shadow: 0 0 4px 2px rgba(140, 193, 248, 0.45);
  transform: scale(1.03);
}
.paper .item .info {
  font-size: 14px;
  color: #88949b;
}
.paper .item .name {
  font-size: 14px;
  color: #88949b;
}
.paper * {
  margin: 20px 0;
}
.wrapper .paper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.top .el-icon-search {
  position: absolute;
  right: 10px;
  top: 10px;
}
.top .icon {
  position: relative;
}
.wrapper .top {
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
}
#myExam .search-li {
  margin-left: auto;
}
.top .search-li {
  margin-left: auto;
}
.top li {
  display: flex;
  align-items: center;
}
.top .search {
  margin-left: auto;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #eee;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.top .search:hover {
  color: #129980;
  border-color: #129980;
}
.wrapper .top {
  display: flex;
}
.wrapper .top li {
  margin: 20px;
}
#myExam {
  width: 980px;
  margin: 0 auto;
}
#myExam .title {
  margin: 20px;
}
#myExam .wrapper {
  background-color: #fff;
}
</style>
