<!-- 顶部信息栏 -->
<template>
  <header id="topbar">
    <el-row>
      <el-col :span="4" class="topbar-left">
        <i class="iconfont icon-kaoshi"></i>
        <span class="title" @click="index()">FACE_EXAM</span>
      </el-col>
      <el-col :span="20" class="topbar-right">
        <i class="el-icon-menu" @click="toggle()"></i>
        <div class="user">
          <a href="javascript:;" style="color: #FFF;">
            <span
              style="margin-right: 20px;"
              @click="weather_flag = !weather_flag">
              <i class="el-icon-location-outline"></i>{{weather.location.name}}市
              <i :class="setIcon(weather.daily[0].dayText)"></i> {{weather.daily[0].dayText}}
              <!-- <span :style="{color : setIconColor(weather.now.temperature)}"> -->
                {{weather.now.temperature}}&#8451
              <!-- </span> -->
              {{weather.now.windDirection}}
              {{weather.now.windScale}}{{weather.now.windSpeed}}m/s
              <i class="el-icon-stopwatch"></i>{{weather.now.pressure}}hPa
              <i class="qi-low-humidity"></i>{{weather.now.humidity}}%
              <!-- 降水量: {{weather.now.precipitation}}mm -->
            </span>
          </a>
          <div class="weather" v-if="weather_flag">
            <li style="text-align: center;">{{weather.lastUpdate}} 更新 数据来自 中国气象局
            </li>
            <li v-if="weather.alarm.length > 0" v-for="(alarm) in weather.alarm">
              <!-- <i class="qi-frost" :style="{color: setAlarmColor(alarm.severity)}"></i> -->
              {{alarm.title}} 发布时间：{{alarm.effective}}
            </li>
            <li v-if="weather.daily.length > 0" v-for="(day) in weather.daily">
              {{day.date}} <i class="qi-sunny"></i>
              <i :class="setIcon(day.dayText)"></i>{{day.dayText}}
              {{day.dayWindDirection}}
              {{day.dayWindScale}}
              {{day.high}}&#8451/{{day.low}}&#8451 <i class="qi-clear-night-fill"></i>
              <i :class="setIcon(day.nightText)"></i>{{day.nightText}}
              {{day.nightWindDirection}}
              {{day.nightWindScale}}
            </li>
          </div>

          <span @click="showSetting()">{{user.userName}}</span>
          <!-- <img src="@/assets/img/userimg.png" class="user-img" ref="img" @click="showSetting()" /> -->
          <transition name="fade">
            <div class="out" ref="out" v-show="login_flag">
              <ul>
                <li><a href="javascript:;">用户信息</a></li>
                <li><a href="javascript:;">设置</a></li>
                <li class="exit" @click="exit()"><a href="javascript:;">退出登录</a></li>
              </ul>
            </div>
          </transition>
        </div>
      </el-col>
    </el-row>
  </header>
</template>

<script>
import store from '@/vuex/store'
import {mapState,mapMutations} from 'vuex'
import jsonp from 'jsonp';
export default {
  data() {
    return {
      login_flag: false,
      weather_flag: false,
      user: { //用户信息
        userName: null,
        userId: null,
        userRole: null,
      },
      weather: {
        alarm: [],
        daily: [],
        lastUpdate: "",
        location: {},
        now: {},
      },
    }
  },
  created() {
    this.getWeather()
    this.getUserInfo()
  },
  computed: mapState(["flag","menu"]),
  methods: {
    //显示、隐藏退出按钮
    showSetting() {
      this.login_flag = !this.login_flag
    },
    setIcon(text){
      if(text == '晴') return 'qi-sunny'
      if(text == '晴转多云') return 'qi-few-clouds'
      if(text == '多云转晴') return 'qi-partly-cloudy'
      if(text == '阴') return 'qi-overcast'
      if(text == '多云') return 'qi-cloudy'
      if(text == '阵雨') return 'qi-shower-rain'
      if(text == '小雨') return 'qi-light-rain'
      if(text == '中雨') return 'qi-moderate-rain'
      if(text == '大雨') return 'qi-heavy-rain'
      if(text == '暴雨') return 'qi-storm'
      if(text == '雨夹雪') return 'qi-shower-snow'
      if(text == '阵雪') return 'qi-snow-flurry'
      if(text == '小雪') return 'qi-light-snow'
      if(text == '中雪') return 'qi-moderate-snow'
      if(text == '大雪') return 'qi-heavy-snow'
      if(text == '暴雪') return 'snowstorm'
      if(text == '浮尘') return 'qi-dust'
    },
    setIconColor(temperature){
      if(temperature > 5) return '#1E80FF';
      if(temperature > 10) return '#007FFF';
      if(temperature > 15) return '#ffffff';
      if(temperature > 20) return '#FC7369';
      if(temperature > 25) return '#FD9742';
      if(temperature > 30) return '#FEBC14';
      return '#1E80FF'
    },
    setAlarmColor(severity){
      if(severity == 'BLUE') return '#1E80FF';
    },
    getWeather(){
      let url = "https://weather.cma.cn/api/weather/view"
      //jsonp方法会自动添加callback
      jsonp(url,{},(err,res)=>{
      	//url地址 //{}参数 //(err,data)错误信息，获取的数据
        this.weather = JSON.parse(JSON.stringify(res.data))
        window.sessionStorage.setItem('weather',JSON.stringify(res.data))
      })
      setInterval(()=>{
        jsonp(url,{},(err,res)=>{
        	//url地址 //{}参数 //(err,data)错误信息，获取的数据
          this.weather = JSON.parse(JSON.stringify(res.data))
          window.sessionStorage.setItem('weather',JSON.stringify(res.data))
        })
      },1000*30*60)
    },
    //左侧栏放大缩小
    ...mapMutations(["toggle"]),
    getUserInfo() { //获取用户信息
      var userInfo = JSON.parse(window.sessionStorage.getItem('userInfo'))
      this.weather = JSON.parse(window.sessionStorage.getItem('weather'))
      this.user.userRole = userInfo.role;
      var userName ;
      var userId ;
      if(userInfo.role == 1){
        userName = userInfo.teacherName;
        userId = userInfo.teacherId;
      }else if(userInfo.role == 0){
        userName = userInfo.adminName;
        userId = userInfo.adminId;
      }
      this.user.userName = userName;
      this.user.userId = userId;
    },
    index() {
      this.$router.push({path: '/index'})
    },
    exit() {
      let role = this.user.userRole
      this.$router.push({path:"/login"}) //跳转到登录页面
      window.sessionStorage.removeItem('token')
      window.sessionStorage.removeItem('userInfo')
      if(role == 0) {
        this.menu.pop()
      }
    }
  },
  store
}
</script>

<style scoped>
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
#topbar {
  position: relative;
  z-index: 10;
  background-color: #393D49;
  height: 80px;
  line-height: 80px;
  color: #fff;
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.5);
}
#topbar .topbar-left {
  height: 80px;
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.05);
  overflow: hidden;
}
.topbar-left .icon-kaoshi {
  font-size: 60px;
}
.topbar-left .title {
  font-size: 20px;
  cursor: pointer;
}
.topbar-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topbar-right .user-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.topbar-right .el-icon-menu {
  font-size: 30px;
  margin-left: 20px;
}
.topbar-right .user {
  position: relative;
  margin-right: 40px;
  display: flex;
}
.topbar-right .user .weather a{
  color: #fff;
}

.topbar-right .user .user-img {
  margin-top: 15px;
  margin-left: 10px;
  cursor: pointer;
}
.user .weather {
  height: auto;
  padding-left: 10px;
  width: 560px;
  color: #393D49;
  position: absolute;
  top: 80px;
  right: 0px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.user .weather li {
  width: auto;
  list-style: none;
  height: 26px;
  line-height: 26px;
}
.user .out {
  font-size: 14px;
  position: absolute;
  top: 80px;
  right: 0px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 12px;
}
.user .out ul {
  list-style: none;
}
.user .out ul > li {
  height: 26px;
  line-height: 26px;
}
.out a {
  text-decoration: none;
  color: #000;
}
.out .exit {
  margin-top: 4px;
  padding-top: 4px;
  border-top: 1px solid #ccc;
}
</style>
