<template>
  <section class="index">
    <div class="hello">
      <i class="iconfont icon-xihuan"></i><span>很高兴遇见你,{{user.userName}}老师。</span>
    </div>
    <div class="msg">
      <p class="title">教务公告：</p>
      <ul v-for="(message,index) in messages" :key="index" v-if="message.state == 1">
        <li @click="openMsg(index)"><i class="iconfont icon-flag"></i>{{message.title}}</li>
      </ul>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      user: { //用户信息
        userName: null,
        userId: null
      },
      messages: [],
    }
  },
  created() {
    this.getUserInfo()
    this.getMsg()
  },
  methods: {
    getUserInfo() { //获取用户信息
      var userInfo = JSON.parse(window.sessionStorage.getItem('userInfo'))
      this.user.userRole = userInfo.role;
      var userName ;
      var userId ;
      if(userInfo.role == 1){
        userName = userInfo.teacherName;
        userId = userInfo.teacherId;
      }else if(userInfo.role == 0){
        userName = userInfo.adminName;
        userId = userInfo.adminId;
      }
      this.user.userName = userName;
      this.user.userId = userId;
      this.user.userName = userName
      this.user.userId = userId
    },
    getMsg() {
      // console.log(this.pagination)
      this.$axios(`/api/messages/0`).then(res => {
        let status = res.data.code
        if(status == 200) {
          this.messages = res.data.data
        }
      })
    },
    openMsg(index) {
      this.$alert(this.messages[index].content,this.messages[index].title,{
        confirmButtonText: '确定'
      })
    }
  }
}
</script>


<style lang="scss" scoped>
.index {
  margin-left: 70px;
  .hello {
    font-size: 20px;
    color: #726f70;
    .icon-xihuan {
      font-size: 30px;
      color: #dd6572;
    }
  }
  .msg {
    .title {
      font-size: 16px;
      color: #000;
      margin-top: 20px;
      margin-left: 10px;
    }
    ul {
      display: flex;
      flex-direction: column;
      width: 200px;
      overflow: hidden;
    }
    li {
      margin-top: 10px;
      font-size: 14px;
      color: lightcoral;
      cursor: pointer;
      display: inline-block;
    }
  }
}
</style>
