<!-- 用户登录界面 -->
<template>
  <div id="login">
    <div class="bg"></div>
    <el-row class="main-container">
      <el-col :lg="8" :xs="16" :md="10" :span="10">
        <div class="top">
          <i class="iconfont icon-kaoshi"></i>
          <span class="title">FACE_EXAM</span>
        </div>

        <div class="bottom">
          <div class="container">
            <p class="title">系统登录</p>

            <el-form :label-position="labelPosition" label-width="80px" :model="formLabelAlign">
              <el-form-item label="学号" v-show="this.formLabelAlign.region == '学生'">
                <el-input v-model.number="formLabelAlign.username" placeholder="请输入学号"></el-input>
              </el-form-item>
              <el-form-item label="密码" v-show="this.formLabelAlign.region == '学生'">
                <el-input v-model="formLabelAlign.password" placeholder="请输入密码" type="password"></el-input>
              </el-form-item>
              <el-form-item label="教工号" v-show="this.formLabelAlign.region == '教师'">
                <el-input v-model.number="formLabelAlign.username" placeholder="请输入教工号"></el-input>
              </el-form-item>
              <el-form-item label="密码" v-show="this.formLabelAlign.region == '教师'">
                <el-input v-model="formLabelAlign.password" placeholder="请输入密码" type="password"></el-input>
              </el-form-item>
              <el-form-item label="教工号" v-show="this.formLabelAlign.region == '管理员'">
                <el-input v-model.number="formLabelAlign.username" placeholder="请输入教工号"></el-input>
              </el-form-item>
              <el-form-item label="密码" v-show="this.formLabelAlign.region == '管理员'">
                <el-input v-model="formLabelAlign.password" placeholder="请输入密码" type="password"></el-input>
              </el-form-item>
              <el-form-item label="验证码">
                <el-input
                  v-model="formLabelAlign.verifyCode"
                  placeholder="请输入验证码"
                  style="width: 170px;"></el-input>
                <el-image
                  style="width: 120px; height: 50px; float: right; margin-right: 10px; margin-top: -10px;"
                  :src="verifyImg"
                  @click="getVerifyCode()">
                </el-image>
              </el-form-item>
              <el-form-item label="身份">
                <el-select v-model="formLabelAlign.region" placeholder="请选择身份登录">
                  <el-option label="学生" value="学生"></el-option>
                  <el-option label="教师" value="教师"></el-option>
                  <el-option label="管理员" value="管理员"></el-option>
                </el-select>
                <el-button type="primary" class="row-login login" @click="tologin()">登录</el-button>
              </el-form-item>
             <div class="options" >
                <p></p>
                <div class="register">
                  <span>忘记密码?</span>
                  <span><a href="#" @click="resetPswd()">重置密码</a></span>
                </div>
              </div>
            </el-form>
          </div>
        </div>
      </el-col>
    </el-row>
    <el-row class="footer">
      <el-col>
        <p class="msg2">版权所有 ©2022 保留所有权利 | <a href="https://beian.miit.gov.cn" target="_blank">陇ICP备20000417号-2</a></p>
      </el-col>
    </el-row>
    <section class="remind">
      <span>管理员账号：10001</span>
      <span>密码：admin</span>
      <span>教师账号：1001</span>
      <span>密码：tech</span>
      <span>学生账号：101</span>
      <span>密码：111</span>
    </section>
  </div>
</template>

<script>
import store from "@/vuex/store";
import { mapState } from "vuex";
export default {
  store,
  name: "login",
  data() {
    return {
      role: 2,
      show: true,
      labelPosition: "left",
      facedata: "",
      formLabelAlign: {
        region: "学生",
        // username: "20154084",
        // password: "123456",
        username: "",
        password: "",
        verifyCode: "",
        verifyCodeId: "",
      },
      userContext: "",
      videoEle: null,
      trackerTask: null,
      first: null,
      verifyImg: null,
      verifyId: null,
    };
  },
  created() {
    this.getVerifyCode()
  },
  methods: {
    getVerifyCode(){
      this.$axios(`api/getVerifyCode?time=${new Date().getTime()}`).then(res => {
        this.verifyId = res.data.data.verifyCodeId
        this.verifyImg = 'data:image/png;base64,' + res.data.data.verifyCodeImg
      })
    },
    resetPswd(){
      this.$router.push({ path: "/resetPassword" });
    },
    //用户登录请求后台处理
    login() {
      this.formLabelAlign.verifyCodeId = this.verifyId
      this.$axios({
        url: "/api/login",
        method: "post",
        data: {
          ...this.formLabelAlign,
        },
      }).then((res) => {
          let resData = res.data.data;
          if (resData != null) {
            this.$message.success(res.data.message)
            window.sessionStorage.setItem('token',resData.token)
          switch (resData.role) {
            case "0": //管理员
              window.sessionStorage.setItem('userInfo',JSON.stringify(resData))
              this.$router.push({ path: "/index" }); //跳转到首页
              break;
            case "1": //教师
              window.sessionStorage.setItem('userInfo',JSON.stringify(resData))
              this.$router.push({ path: "/index" }); //跳转到教师用户
              break;
            case "2": //学生
              window.sessionStorage.setItem('userInfo',JSON.stringify(resData))
              this.$router.push({ path: "/student" });
              break;
          }
        }
      });
    },
    clickTag(key) {
      this.role = key;
    },
    tologin() {
      this.login();
    },
  },
  computed: mapState(["userInfo"]),
  mounted() {
  },
};
</script>

<style scoped>
#canvas {
  display: none;
}
.media {
  position: absolute;
  width: 534px;
  height: 400px;
  margin: 100px auto 0;
  margin-left: 35%;
  margin-top: 15%;
}
.remind {
  border-radius: 4px;
  padding: 10px 20px;
  display: flex;
  position: fixed;
  right: 20px;
  bottom: 50%;
  flex-direction: column;
  color: #606266;
  background-color: #fff;
  border-left: 4px solid #FF5722;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container {
  margin-bottom: 32px;
}
.container .el-radio-group {
  margin: 30px 0px;
}
a:link {
  color: #ff5722;
  text-decoration: none;
}
a:visited {
  color: #ff5722;
  text-decoration: none;
}
#login {
  font-size: 14px;
  color: #000;
  background-color: #fff;
}
#login .bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow-y: auto;
  height: 100%;
  /* background: url("../../assets/img/loginbg.png") center top / cover no-repeat; */
  background-color: #b6bccdd1 !important;
}
#login .main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#login .main-container .top {
  margin-top: 100px;
  font-size: 30px;
  color: #009688;
  display: flex;
  justify-content: center;
}
#login .top .icon-kaoshi {
  font-size: 80px;
}
#login .top .title {
  margin-top: 20px;
}
#login .bottom {
  display: flex;
  justify-content: center;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#login .bottom .title {
  text-align: center;
  font-size: 30px;
}
.bottom .container .title {
  margin: 30px 0px;
}
.bottom .submit .row-login {
  width: 100%;
  background-color: #04468b;
  border-color: #04468b;
  margin: 20px 0px 10px 0px;
  padding: 15px 20px;
}
.bottom .submit {
  display: flex;
  justify-content: center;
}
.footer {
  /* margin-top: 120px; */
  text-align: center;
}
.footer .msg1 {
  font-size: 18px;
  color: #fff;
  margin-bottom: 15px;
}
.footer a{
  color: #393D49;
}
.footer .msg2 {
  font-size: 14px;
  color: #393D49;
  margin-top: 70px;
}
.bottom .options {
  margin-bottom: 40px;
  color: #ff5722;
  display: flex;
  justify-content: space-between;
}
.bottom .options > a {
  color: #ff5722;
}
.bottom .options .register span:nth-child(1) {
  color: #8c8c8c;
}
</style>
