<!--左边下拉导航栏-->
<template>
  <div id="left">
    <el-menu
      active-text-color="#FF5722"
      text-color="#009688"
      :default-active="this.$route.path"
      class="el-menu-vertical-demo"
      @open="handleOpen"
      @close="handleClose"
      :collapse="flag"
      background-color="#393D49"
      menu-trigger="click" router>
      <el-submenu v-for="(item,index) in menu" :index='item.index' :key="index">
        <!-- 一级菜单 -->
        <template slot="title">
          <div class="left-width">
            <i class="iconfont" :class="item.icon"></i>
            <span slot="title" class="title">{{item.title}}</span>
          </div>
        </template>
        <el-menu-item-group v-for="(list,index) in item.content" :key="index" text-color>
          <el-menu-item @click="handleTitle(item.index)" :index="list.path" v-if="list.item1 != null">{{list.item1}}</el-menu-item>
          <el-menu-item @click="handleTitle(item.index)" :index="list.path" v-if="list.item2 != null">{{list.item2}}</el-menu-item>
          <el-menu-item @click="handleTitle(item.index)" :index="list.path" v-if="list.item3 != null">{{list.item3}}</el-menu-item>
          <el-menu-item @click="handleTitle(item.index)" :index="list.path" v-if="list.item4 != null">{{list.item4}}</el-menu-item>
        </el-menu-item-group>
      </el-submenu>
    </el-menu>
  </div>
</template>

<script>
import store from '@/vuex/store'
import {mapState} from 'vuex'
export default {
  name: "mainLeft",
  data() {
    return {

    }
  },
  computed: mapState(["flag","menu"]),
  created() {
    this.addData()
  },
  methods: {
    handleOpen(key, keyPath) {
    },
    handleClose(key, keyPath) {
    },
    //点击标题传递参数给navigator组件
    handleTitle(index) {
      this.bus.$emit('sendIndex',index)
    },
    addData() {
      let role = JSON.parse(window.sessionStorage.getItem('userInfo')).role
      if(role == 0) {
        this.menu.push(
        {
          index: '6',
          title: '考试管理',
          icon: 'icon-kechengbiao',
          content:[{item1:'考试查询',path:'allExam'},{item1:'添加考试',path:'/addExam'}],
        },
        {
          index: '7',
          title: '学生管理',
          icon: 'icon-role',
          content:[{item1:'学生管理',path:'/studentManage'},{item2: '添加学生',path: '/addStudent'}],
        },
        {
          index: '8',
          title: '课程管理',
          icon: 'el-icon-tickets',
          content:[{item1:'课程管理',path:'/courseManage'},{item2: '添加课程',path: '/addCourse'}],
        },
        {
          index: '9',
          title: '专业管理',
          icon: 'el-icon-news',
          content:[{item1:'专业管理',path:'/professionManage'},{item2: '添加专业',path: '/addProfession'}],
        },
        {
          index: '10',
          title: '班级管理',
          icon: 'el-icon-house',
          content:[{item1:'班级管理',path:'/clazzManage'},{item2: '添加班级',path: '/addClazz'}],
        },
        {
          index: '11',
          title: '教师管理',
          icon: 'icon-Userselect',
          content:[{item1:'教师管理',path:'/teacherManage'},{item2: '添加教师',path: '/addTeacher'}],
        },
        )
      }
    }
  },
  store
}
</script>

<style>
.el-menu-vertical-demo .el-submenu__title {
  overflow: hidden;
}
.left-width .iconfont {
  font-size: 18px;
  color: #fff;
}
.left-width {
  width: 213px;
}
.el-menu-vertical-demo:not(.el-menu--collapse) {
  min-height: 900px;
}
#left {
  height: 900px;
  background-color: #393D49;
  z-index: 0;
}
#left .el-menu-vertical-demo .title {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  margin-left: 14px;
}
.el-submenu {
  border-bottom: 1px solid #eeeeee0f !important;
}
.el-submenu__title:hover {
  background-color: #fff;
}
.el-submenu__title i {
    color: #fbfbfc !important;
}
</style>
