<!-- 用户登录界面 -->
<template>
  <div id="login">
    <div class="bg"></div>
    <el-row class="main-container">
      <el-col :lg="8" :xs="16" :md="10" :span="10">
        <div class="top">
          <i class="iconfont icon-kaoshi"></i>
          <span class="title">FACE_EXAM</span>
        </div>

        <div class="bottom">
          <div class="container">
            <p class="title">密码重置</p>
            <el-form :label-position="labelPosition" label-width="100px" :model="formLabelAlign">
              <el-form-item label="学号" v-show="this.formLabelAlign.region == '学生'">
                <el-input v-model.number="formLabelAlign.username" placeholder="请输入学号"></el-input>
              </el-form-item>
              <el-form-item label="邮箱" v-show="this.formLabelAlign.region == '学生'">
                <el-input type="email" v-model="formLabelAlign.email" placeholder="请输入绑定的邮箱"></el-input>
              </el-form-item>
              <el-form-item label="教工号" v-show="this.formLabelAlign.region == '教师'">
                <el-input v-model.number="formLabelAlign.username" placeholder="请输入教工号"></el-input>
              </el-form-item>
              <el-form-item label="邮箱" v-show="this.formLabelAlign.region == '教师'">
                <el-input v-model="formLabelAlign.password" placeholder="请输入绑定的邮箱"></el-input>
              </el-form-item>
              <el-form-item label="教工号" v-show="this.formLabelAlign.region == '管理员'">
                <el-input v-model.number="formLabelAlign.username" placeholder="请输入教工号"></el-input>
              </el-form-item>
              <el-form-item label="邮箱" v-show="this.formLabelAlign.region == '管理员'">
                <el-input v-model="formLabelAlign.password" placeholder="请输入绑定的邮箱"></el-input>
              </el-form-item>
              <el-form-item label="邮箱验证码">
                <el-input
                  v-model="formLabelAlign.emailVerifyCode"
                  placeholder="请输入验证码"
                  style="width: 200px;"></el-input>
                <el-button @click="getEmailVerifyCode()">{{getEmailCode}}</el-button>
              </el-form-item>
              <el-form-item label="验证码">
                <el-input
                  v-model="formLabelAlign.verifyCode"
                  placeholder="请输入验证码"
                  style="width: 170px;"></el-input>
                <el-image
                  style="width: 120px; height: 50px; float: right; margin-right: 10px; margin-top: -10px;"
                  :src="verifyImg"
                  @click="getVerifyCode()">
                </el-image>
              </el-form-item>
              <el-form-item label="密码">
                <el-input v-model="formLabelAlign.password" placeholder="请输入密码" type="password"></el-input>
              </el-form-item>
              <el-form-item label="确认密码">
                <el-input v-model="formLabelAlign.confirmPassword" placeholder="请再次输入密码"  @blur="checkPassword()" type="password"></el-input>
              </el-form-item>
              <el-form-item label="身份">
                <el-select v-model="formLabelAlign.region" placeholder="请选择身份登录" style="width: 200px;">
                  <el-option label="学生" value="学生"></el-option>
                  <el-option label="教师" value="教师"></el-option>
                  <el-option label="管理员" value="管理员"></el-option>
                </el-select>
                <el-button type="primary" class="row-login login" @click="reset()">重置密码</el-button>
              </el-form-item>
             <div class="options" >
                <p></p>
                <div class="register">
                  <!-- <span>忘记密码?</span> -->
                  <span><a href="javascript:;" @click="toLogin()">返回</a></span>
                </div>
              </div>
            </el-form>
          </div>
        </div>
      </el-col>
    </el-row>
    <el-row class="footer">
      <el-col>
        <p class="msg2">版权所有 ©2022 保留所有权利 | <a href="https://beian.miit.gov.cn" target="_blank">陇ICP备20000417号-1</a></p>
      </el-col>
    </el-row>
    <!-- <section class="remind">
      <span>管理员账号：9527</span>
      <span>教师账号：20081001</span>
      <span>密码都是：123456</span>
    </section> -->
  </div>
</template>

<script>
import store from "@/vuex/store";
import { mapState } from "vuex";
export default {
  store,
  name: "resetPassword",
  data() {
    return {
      role: 2,
      show: true,
      labelPosition: "left",
      getEmailCode: "获取验证码",
      facedata: "",
      formLabelAlign: {
        region: "学生",
        // username: "20154084",
        // password: "123456",
        username: "",
        email: "",
        verifyCode: "",
        verifyCodeId: "",
        emailVerifyCode: "",
        emailVerifyCodeId: "",
        password: "",
        confirmPassword: "",
      },
      userContext: "",
      videoEle: null,
      trackerTask: null,
      first: null,
      verifyImg: null,
      verifyId: null,
      mailVerifyId: null,
    };
  },
  created() {
    this.getVerifyCode()
  },
  methods: {
    getVerifyCode(){
      this.$axios(`api/getVerifyCode?time=${new Date().getTime()}`).then(res => {
        this.verifyId = res.data.data.verifyCodeId
        this.verifyImg = 'data:image/png;base64,' + res.data.data.verifyCodeImg
      })
    },
    getEmailVerifyCode(){
      if(this.formLabelAlign.email == ""){
        this.$message.error("邮箱不能为空");
        return;
      }
      this.$axios(`api/getEmailVerifyCode/${this.formLabelAlign.email}`).then(res => {
        if(res.data.code == 200){
          this.$message.success("验证码发送成功")
          this.mailVerifyId = res.data.data.emailVerifyCodeId
        }
      })
    },
    toLogin(){
      this.$router.push({ path: "/login" });
    },
    checkPassword(){
      if(this.formLabelAlign.password != this.formLabelAlign.confirmPassword){
        this.$message.error("两次密码不一致");
        return;
      }
    },
    //用户登录请求后台处理
    reset() {
      this.formLabelAlign.verifyCodeId = this.verifyId
      this.formLabelAlign.emailVerifyCodeId = this.mailVerifyId
      this.$axios({
        url: "/api/resetPassword",
        method: "post",
        data: {
          ...this.formLabelAlign,
        },
      }).then((res) => {
          let resData = res.data.data;
          if(res.data.code == 400){
            this.$message.error(res.data.message)
            return ;
          }
          this.$message.success(res.data.message)
          this.$router.push({ path: "/login" });
      });
    },
    clickTag(key) {
      this.role = key;
    },
  },
  computed: mapState(["userInfo"]),
  mounted() {
    // this.diaoyong();
  },
};
</script>

<style scoped>
.media {
  position: absolute;
  width: 534px;
  height: 400px;
  margin: 100px auto 0;
  margin-left: 35%;
  margin-top: 15%;
}
.remind {
  border-radius: 4px;
  padding: 10px 20px;
  display: flex;
  position: fixed;
  right: 20px;
  bottom: 50%;
  flex-direction: column;
  color: #606266;
  background-color: #fff;
  border-left: 4px solid #FF5722;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container {
  margin-bottom: 32px;
}
.container .el-radio-group {
  margin: 30px 0px;
}
a:link {
  color: #ff5722;
  text-decoration: none;
}
#login {
  font-size: 14px;
  color: #000;
  background-color: #fff;
}
#login .bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow-y: auto;
  height: 100%;
  /* background: url("../../assets/img/loginbg.png") center top / cover no-repeat; */
  background-color: #b6bccdd1 !important;
}
#login .main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#login .main-container .top {
  margin-top: 100px;
  font-size: 30px;
  color: #009688;
  display: flex;
  justify-content: center;
}
#login .top .icon-kaoshi {
  font-size: 80px;
}
#login .top .title {
  margin-top: 20px;
}
#login .bottom {
  display: flex;
  justify-content: center;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#login .bottom .title {
  text-align: center;
  font-size: 30px;
}
.bottom .container .title {
  margin: 30px 0px;
}
.bottom .submit .row-login {
  width: 100%;
  background-color: #04468b;
  border-color: #04468b;
  margin: 20px 0px 10px 0px;
  padding: 15px 20px;
}
.bottom .submit {
  display: flex;
  justify-content: center;
}
.footer {
  /* margin-top: 120px; */
  text-align: center;
}
.footer .msg1 {
  font-size: 18px;
  color: #fff;
  margin-bottom: 15px;
}
.footer a{
  color: #393D49;
}
.footer .msg2 {
  font-size: 14px;
  color: #393D49;
  margin-top: 70px;
}
.bottom .options {
  margin-bottom: 40px;
  color: #ff5722;
  display: flex;
  justify-content: space-between;
}
.bottom .options > a {
  color: #ff5722;
}
.bottom .options .register span:nth-child(1) {
  color: #8c8c8c;
}
</style>
