<template>
  <div class="all">
    <el-select v-model="pagination.currentCourse" placeholder="请选择所属课程" class="w150" @change="changeCourse">
      <el-option
        v-for="item in courses"
        :key="item.courseId"
        :label="item.courseName"
        :value="item.courseId">
      </el-option>
    </el-select>
    <el-table
    :data="pagination.records"
    border
    :header-cell-style="{'text-align':'center'}"
    :cell-style="{'text-align':'center'}">
      <el-table-column fixed="left" prop="questionId" label="编号" width="80"></el-table-column>
      <el-table-column prop="question" label="题目" width="200"></el-table-column>
      <el-table-column prop="answer" label="正确答案" width="80"></el-table-column>
      <el-table-column prop="course.courseName" label="所属课程" width="100"></el-table-column>
      <el-table-column prop="score" label="分数" width="60"></el-table-column>
      <el-table-column prop="level" label="难度等级" width="80"></el-table-column>
      <el-table-column label="状态" width="70">
        <template slot-scope="scope">
          <el-switch
              v-model="scope.row.state"
              :active-value=1
              :inactive-value=0
              @change="changeState(scope.row)">
          </el-switch>
        </template>
      </el-table-column>
      <el-table-column fixed="right" label="操作" width="150">
        <template slot-scope="scope">
          <el-button @click="editQuestion(scope.row.questionId)" type="primary" size="small">编辑</el-button>
          <el-button @click="deleteById(scope.row.questionId)" type="danger" size="small">删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page.sync="pagination.current"
      :page-sizes="[6,10]"
      :page-size="pagination.size"
      layout="total, sizes, prev, pager, next, jumper"
      :total="pagination.total"
      class="page">
    </el-pagination>
    <!-- 编辑对话框-->
    <el-dialog
      title="编辑题目信息"
      :visible.sync="dialogVisible"
      width="50%"
      :before-close="handleClose">
      <section class="update">
        <el-form ref="form" :model="form" label-width="80px">
          <el-form-item label="题目">
            <el-input v-model="form.question"></el-input>
          </el-form-item>
          <el-form-item label="答案A">
            <el-input v-model="form.answerA"></el-input>
          </el-form-item>
          <el-form-item label="答案B">
            <el-input v-model="form.answerB"></el-input>
          </el-form-item>
          <el-form-item label="答案C">
            <el-input v-model="form.answerC"></el-input>
          </el-form-item>
          <el-form-item label="答案D">
            <el-input v-model="form.answerD"></el-input>
          </el-form-item>
          <el-form-item label="正确答案">
            <el-select v-model="form.answer" placeholder="请选择正确答案" class="w150">
              <el-option
                v-for="item in rights"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="难度等级">
            <el-select v-model="form.level" placeholder="请选择难度等级" class="w150">
              <el-option
                v-for="item in levels"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="分值">
            <el-select v-model="form.score" placeholder="请选择分值" class="w150">
              <el-option
                v-for="item in scores"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="所属课程">
            <el-select v-model="form.course" placeholder="请选择所属课程" class="w150">
              <el-option
                v-for="item in courses"
                v-if="item.state == 1"
                :key="item.courseId"
                :label="item.courseName"
                :value="item.courseId">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="解析">
            <el-input v-model="form.analysis" type="textarea" rows="4"></el-input>
          </el-form-item>
        </el-form>
      </section>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="submit()">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
export default {
  data() {
    return {
      pagination: {
        //分页后的题目信息
        current: 1, //当前页
        total: null, //记录条数
        size: 6,//每页条数
        records: null ,//数据
        currentCourse: null,
      },
      dialogVisible: false, //对话框
      form: {}, //保存点击以后当前试卷的信息
      levels: [ //难度等级
        {
          value: '1',
          label: '1'
        },
        {
          value: '2',
          label: '2'
        },
        {
          value: '3',
          label: '3'
        },
        {
          value: '4',
          label: '4'
        },
        {
          value: '5',
          label: '5'
        },
      ],
      scores: [ //分数
        {
          value: '1',
          label: '1'
        },
        {
          value: '2',
          label: '2'
        },
        {
          value: '3',
          label: '3'
        },
        {
          value: '4',
          label: '4'
        },
        {
          value: '5',
          label: '5'
        },
      ],
      rights: [ //正确答案
        {
          value: 'A',
          label: 'A'
        },
        {
          value: 'B',
          label: 'B'
        },
        {
          value: 'C',
          label: 'C'
        },
        {
          value: 'D',
          label: 'D'
        },
      ],
      courses: [],
    };
  },
  created() {
    this.getMultiQuestion();
    this.getCourses()
  },
  methods: {
    changeCourse(){
      this.pagination.current = 1
      this.getMultiQuestion(this.pagination.currentCourse)
    },
    getMultiQuestion(courseId) {
      if(courseId != undefined){
        this.$axios(`/api/multiQuestion/${courseId}/${this.pagination.current}/${this.pagination.size}`).then(res => {
          this.pagination.records = res.data.data.content
          this.pagination.total = res.data.data.totalElements
        }).catch(error => {});
        return;
      }
      //分页查询所有选择题信息
      this.$axios(`/api/multiQuestion/${this.pagination.current}/${this.pagination.size}`).then(res => {
        this.pagination.records = res.data.data.content
        this.pagination.total = res.data.data.totalElements
      }).catch(error => {});
    },
    getCourses() {
      //分页查询所有选择题信息
      this.$axios(`/api/courses`).then(res => {
        this.courses = res.data.data
      }).catch(error => {});
    },
    changeState(info) {
      this.$axios({
        url: '/api/multiQuestion',
        method: 'put',
        data: info
      }).then(res => {
        if(res.data.code ==200) {
          this.$message({
            message: '更新题目状态成功！',
            type: 'success'
          })
        }
        this.getMultiQuestion()
      })
    },
    //改变当前记录条数
    handleSizeChange(val) {
      this.pagination.size = val;
      if(this.pagination.currentCourse != null){
        this.getMultiQuestion(this.pagination.currentCourse);
        return;
      }
      this.getMultiQuestion();
    },
    //改变当前页码，重新发送请求
    handleCurrentChange(val) {
      this.pagination.current = val;
      if(this.pagination.currentCourse != null){
        this.getMultiQuestion(this.pagination.currentCourse);
        return;
      }
      this.getMultiQuestion();
    },
    editQuestion(questionId) { //修改教师信息
      this.dialogVisible = true
      this.$axios(`/api/multiQuestion/${questionId}`).then(res => {
        console.log(res.data.data)
        this.form = res.data.data
        this.form.course = this.form.course.courseId
      })
    },
    deleteById(questionId) { //删除当前题目

      this.$confirm("确定删除当前题目吗？删除后无法恢复","Warning",{
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'danger'
      }).then(()=> { //确认删除
        this.$axios({
          url: `/api/multiQuestion/${questionId}`,
          method: 'delete',
        }).then(res => {
          console.log(questionId)
          console.log(res.data.code)
          if(res.data.code == 200){
            this.$message.success(res.data.message)
          }
          this.getMultiQuestion()
        })
      }).catch(() => {

      })
    },
    submit() { //提交更改
      this.dialogVisible = false
      this.$axios({
        url: '/api/multiQuestion',
        method: 'put',
        data: {
          ...this.form
        }
      }).then(res => {
        console.log(res)
        if(res.data.code ==200) {
          this.$message({
            message: '更新成功',
            type: 'success'
          })
        }
        this.getMultiQuestion()
      })
    },
    handleClose(done) { //关闭提醒
      this.$confirm('确认关闭？')
        .then(_ => {
          done();
        }).catch(_ => {});
    },
  }
};
</script>

<style lang="scss" scoped>
.all {
  padding: 0px 40px;
  .page {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .edit {
    margin-left: 20px;
  }
  .el-table tr {
    background-color: #dd5862 !important;
  }
}
.el-table .warning-row {
  background: #000 !important;
}

.el-table .success-row {
  background: #dd5862;
}
</style>
